<div class="row students-syllabus-performance ml-1 mr-1">
    <div class="card col border-bottom">
        <div class="card-body p-0">
            <div class="row border-bottom-info p-3">
                <!-- <div class="col-xl-6 col-lg-6">
                    <div class="row">
                        <i class="fas fa-search pt-1"></i><input type="search" [(ngModel)]="searchGradeTerm" name="searchGrade" class="border-0 font-weight-bold text-black ml-1" placeholder="Classes" />
                    </div>
                    <div class="row circle-list">
                        <div *ngFor="let grade of gradeList |filter:searchGradeTerm" [ngClass]="{active: grade.isActive === true}" (click)="gradeSelection(grade)" class="pointer col rounded-circle border-0 thumb-img active justify-content-center">
                            <p [ngStyle]="{'margin-top': grade.isActive === false ? '11px' : '0px' }">{{grade.imgTitle}}</p>
                            <i *ngIf="grade.isActive === true" class="fas fa-check"></i>
                        </div>
                    </div>
                </div> -->
                <div class="col-xl-12 col-lg-12">
                    <div class="row">
                        <i class="fas fa-search pt-1"></i><input type="search" [(ngModel)]="searchTeacherTerm" name="searchTeacher" class="border-0 font-weight-bold text-black ml-1" placeholder="Teachers" />
                    </div>
                    <div class="row circle-list teacherList">
                        <div *ngFor="let teacher of teacherList | filter:searchTeacherTerm" [ngClass]="{active: teacher.isActive === true}" [ngStyle]="{'background-image': teacher.photo !== undefined && teacher.isActive === false ? 'url('+teacher.photo+')' :  'none'}" (click)="teacherSelection(teacher)"
                            class="pointer col rounded-circle border-0 thumb-img active justify-content-center">
                            <p *ngIf="teacher.photo === undefined || teacher.isActive === true" [ngStyle]="{'margin-top': teacher.isActive === false ? '11px' : '0px' }">{{teacher.imgTitle}}</p>
                            <i *ngIf="teacher.isActive === true" class="fas fa-check"></i>
                            <p [ngStyle]="{'margin-top': teacher.photo !== undefined && teacher.isActive === false ? '77px' : teacher.isActive !== true && teacher.photo === undefined ? '30.5px':'26px'}" class="font-weight-lighter">{{teacher.first_name}} {{teacher.last_name}}</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row ">
                <div class="col-xl-6 text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 float-left" *ngFor="let grade of gradelist; let i = index">
                            <app-teacher-performance-charts [(id)]="performanceData[i].id" [(data)]="performanceData[i].data"></app-teacher-performance-charts>
                            <p class="text-black  mb-4 font-18">{{grade}}</p>
                        </div>
                    </div>
                    <h5 class="text-black  mb-4 font-24">Performance</h5>
                </div>
                <div class="col-xl-6  border-left-info text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 float-left" *ngFor="let grade of gradelist; let i = index">
                            <app-teacher-performance-charts [(id)]="syllabusData[i].id" [(data)]="syllabusData[i].data"></app-teacher-performance-charts>
                            <p class="text-black  mb-4 font-18">{{grade}}</p>
                        </div>
                    </div>
                    <h5 class="text-black mb-4 font-24">Syllabus</h5>
                </div>
            </div>
        </div>
    </div>
</div>