<div class="popup-header main container" *ngIf="!showInstructions">
  <div><span class="m-0 font-weight-bold pop-up-font">Recall Configurations</span></div>
  <div>
    <!-- <span><img class="image-icon" src="assets/images/Icons/maximize_icon2x.png"></span> -->
    <span><img class="image-icon" src="assets/images/Icons/cross_icon@2x.png" (click)="onCloseModal()"></span>
  </div>
</div>

<!-- dropdow  -->
<div class="pop-up-container" *ngIf="!showInstructions">
  <p class="popup-heading">Choose Topic</p>
  <div class="row display-center">
    <div class="display-center">
      <button class="btn btn-default dropdown-toggle bo-co-lig b-r-0 dd-sub-btn st-dd-tog" type="button"
        id="dropdownSubjectButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="social pull-left">{{selectedSubject}}</span>
      </button>
      <div class="dropdown-menu dd-sub-btn" aria-labelledby="dropdownSubjectButton">
        <li *ngFor="let subject of subjectsList" (click)="onSubjectChange(subject)"><a
            class="dropdown-item pointer dropdownSubTopicItem">{{subject.SubjectName}}</a>
        </li>
      </div>
    </div>
    <div class="display-center" *ngIf="SubjectId != -1">
      <button class="btn btn-default dropdown-toggle bo-co-lig b-r-0 dd-sub-btn st-dd-tog" type="button"
        id="dropdownTopicButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="social pull-left">{{selectedTopic}}</span>
      </button>
      <div class="dropdown-menu dd-sub-btn" aria-labelledby="dropdownTopicButton">
        <li *ngFor="let topic of topicsList" (click)="onTopicChange(topic)"><a
            class="dropdown-item pointer dropdownSubTopicItem">{{topic.TopicName}}</a>
        </li>
      </div>
    </div>
    <div class="display-center" *ngIf="SubjectId != -1">
      <button class="btn btn-default dropdown-toggle bo-co-lig b-r-0 dd-sub-btn st-dd-tog" type="button"
        id="dropdownSubTopicButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="social pull-left">{{selectedSubTopic}}</span>
      </button>
      <div class="dropdown-menu dd-sub-btn" aria-labelledby="dropdownSubTopicButton">
        <li *ngFor="let subtopic of subTopicsList" (click)="onSubTopicChange(subtopic)"><a
            class="dropdown-item pointer dropdownSubTopicItem">{{subtopic.SubTopicName}}</a>
        </li>
      </div>
    </div>
  </div>
  <div *ngIf="user.role === UserRole.Teacher">
    <p class="popup-label display-center">Recall Duration</p>
    <div class="row display-center">
      <!-- data-toggle="tooltip" [title]="testDuration" -->
      <div class="custom-slider" style="margin-left: -40px;">
        <ng5-slider [(ngModel)]="testDuration" [options]="{floor: 1,ceil: 10,step: 1}"></ng5-slider>
      </div>
      <!-- <label class="slid"> 5 Min <input type="range" min="5" max="20" name="duration" [(ngModel)]="testDuration"
          class="slider" id="myRange"> 20 Min </label> -->
    </div>
  </div>
  <div *ngIf="user.role !== UserRole.Teacher">
    <p class="popup-label display-center">Number Of Questions</p>
    <div class="row display-center">
      <div class="custom-slider" style="margin-left: -40px;">
        <ng5-slider [(ngModel)]="numberOfQuestions" [options]="{floor: 1,ceil: 20,step: 1}"></ng5-slider>
      </div>
      <!-- data-toggle="tooltip" [title]="numberOfQuestions" -->
      <!-- <label class="slid"> 5 <input type="range" min="5" max="10" name="question" [(ngModel)]="numberOfQuestions"
          class="slider" id="myRange"> 10 </label> -->
    </div>
  </div>
  
  <div class="row display-center">
    <button *ngIf="!isTeacher" type="button" class="push-button btn pointer" [disabled]="startTestClicked"
      (click)="onStartTest()">
      Start Test
      <span *ngIf="startTestClicked" class="spinner-gap spinner-grow spinner-grow-sm" role="status"
        aria-hidden="true"></span></button>
    <button *ngIf="isTeacher" type="button" class="push-button btn pointer" [disabled]="startTestClicked"
      (click)="onStartTest()">
      Push Recall
      <span *ngIf="startTestClicked" class="spinner-gap spinner-grow spinner-grow-sm" role="status"
        aria-hidden="true"></span></button>
  </div>
</div>
<!-- end dropdow  -->
<!-- <div class="container" *ngIf="!showInstructions">

</div> -->
<div class="popup-header main container" *ngIf="showInstructions">
  <div><span class="m-0 font-weight-bold pop-up-font">Test Instructions</span></div>
  <div>
    <!-- <span><img class="image-icon" src="assets/images/Icons/maximize_icon2x.png"></span> -->
    <span><img class="image-icon" src="assets/images/Icons/cross_icon@2x.png" (click)="onCloseModal()"></span></div>
</div>
<!-- dropdow  -->
<div class="pop-up-container" *ngIf="showInstructions">
  <div [innerHTML]="instruction"></div>
  <div class="row display-center">
    <button type="button" class="push-button btn pointer" [disabled]="showInstructionLoader"
      (click)="onStartTestAfterInstruction()">
      Start Test
      <span *ngIf="showInstructionLoader" class="spinner-gap spinner-grow spinner-grow-sm" role="status"
        aria-hidden="true"></span>
    </button>
  </div>
</div>
