.pop-up-container {
  padding: 2.5rem;
}

.popup-header {
  position: relative;
  padding-top: 1.95rem;
  padding-bottom: 1.95rem;
  user-select: none;
  align-items: center;
  height: 49px;
  background-color: #EFEDFF;
}

.image-icon {
  width: 1.75rem !important;
  margin-right: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.display-center {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0.55rem;
  height: calc(2.75em + .75rem + 2px);
  color: #2e1cc4;
}

.dd-sub-btn {
  width: 225px !important;
  text-align: left;
}

.popup-header span {
  display: table-cell;
}

.form-control {
  color: #2e1cc4;
  height: calc(2.75em + .75rem + 2px);
}

.content-center {
  display: flex;
  justify-content: center;
}

.popup-heading {
  color: black;
  margin-bottom: 0em;
}

.popup-label {
  color: black;
  margin-top: 1em;
  margin-bottom: 0em;
}

.slider {
  -webkit-appearance: none;
  width: 233px;
  height: 5px;
  margin: 1em;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #FFF;
  cursor: pointer;
  border: 1px solid black;
}

.push-button {
  background-color: #2E1CC4;
  margin-top: 19px;
  /* margin-bottom: 39px; */
  border-radius: 0.2em;
  width: 39%;
  color: #fff;
  text-align: center;
}

.social {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 175px;
}

.spinner-gap {
  margin-bottom: 3px;
  margin-left: 10px;
}

.dropdown-menu li,
.dropdown-menu li a {
  white-space: normal;
  float: left;
  width: 100%;
  height: auto;
  word-break: break-word;
}
