<app-loader *ngIf="showLoader"></app-loader>
<div class="card students-syllabus-performance shadow mb-4 border-bottom-indigo">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
    <h6 class=" font-weight-bold text-center">Diary</h6>
  </div>
  <div class="container-fluid" *ngIf="teacherRole">
    <div class="row p-3">
      <div class="col-xl-6 col-lg-6">
        <div class="box1">
          <span><i class="fa fa-search pt-1" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="input" [(ngModel)]="searchGradeTerm" name="searchGrade" type="search"
              placeholder="Select Class">
          </span>
          <div class="row circle-list">
            <div *ngFor="let grade of gradeList| myfilter:searchGradeTerm" [ngClass]="{active: grade.isActive === true}"
              class="pointer col rounded-circle border-0 thumb-img active justify-content-center"
              (click)="classSelection(grade)">
              <p [ngStyle]="{'margin-top': grade.isActive === false ? '11px' : '0px' }">
                {{grade.imgTitle}}</p>
              <i *ngIf="grade.isActive === true" class="fas fa-check"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="box1">
          <span><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="input" type="search" name="student" [(ngModel)]="searchStudentTerm"
              placeholder="Select Student">
          </span>
          <div class="row circle-list studentList">
            <div *ngFor="let student of studentList| myfilter:searchStudentTerm"
              [ngClass]="{active: student.isActive === true}"
              [ngStyle]="{'background-image': student.photo !== undefined && student.isActive === false ? 'url('+student.photo+')' :  'none'}"
              (click)="studentSelection(student)"
              class="pointer col rounded-circle border-0 thumb-img active justify-content-center">
              <p *ngIf="student.photo === undefined || student.isActive === true"
                [ngStyle]="{'margin-top': student.isActive === false ? '11px' : '0px' }">{{student.imgTitle}}</p>
              <i *ngIf="student.isActive === true" class="fas fa-check"></i>
              <p [ngStyle]="{'margin-top': student.photo !== undefined && student.isActive === false ? '77px' : student.isActive !== true && student.photo === undefined ? '30.5px':'26px'}"
                class="font-weight-lighter">{{student.firstName}} {{student.lastName}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <form class="form-inline">
        <input class="input" ngbDatepicker #d="ngbDatepicker" name="date" [ngModel]="newdate"
          [maxDate]="{year: newdate.getFullYear(), month: newdate.getMonth() + 1, day: newdate.getDate()}" (ngModelChange)="onDateChange($event)" >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calander" (click)="d.toggle()" type="button"><i
              class="fa fa-calculator" aria-hidden="true"></i>
            {{filterDate | date:'EEE - d LLL, y'}}</button>
        </div>
        &nbsp;&nbsp;
        <span class="ml-1 mb-3"
          *ngIf="currentUserData.role!==UserRole.Student && selectedrecipientId != null && recipientSchoolGradeSectionId != null && !selectedrecipientId.length && !recipientSchoolGradeSectionId.length ">
          Your Diary
        </span>
        <span class="ml-1 mb-3" *ngIf="selectedrecipientId && selectedrecipientId.length>1">
          <span *ngFor="let name of selectedrecepientName;let i = index">
            {{name}}'s <span *ngIf="i < selectedrecepientName.length-1"> and </span>
          </span>
          Common Diary
        </span>
        <span class="ml-1 mb-3" *ngIf="selectedrecipientId && selectedrecipientId.length == 1">
          <span *ngFor="let name of selectedrecepientName;let i = index">
            {{name}}'s Diary
          </span>
        </span>
        <span class="ml-1 mb-3"
          *ngIf="recipientSchoolGradeSectionId && recipientSchoolGradeSectionId.length>1  && !selectedrecipientId.length">
          <span *ngFor="let name of recipientSchoolGradeSectionName;let i = index">
            {{name}}'s <span *ngIf="i < recipientSchoolGradeSectionName.length-1"> and </span>
          </span>
          Common Diary
        </span>
        <span class="ml-1 mb-3"
          *ngIf="recipientSchoolGradeSectionId && recipientSchoolGradeSectionId.length == 1 && !selectedrecipientId.length">
          <span *ngFor="let name of recipientSchoolGradeSectionName;let i = index">
            {{name}}'s Diary
          </span>
        </span>


      </form>
      <div class="col-lg-12">
        <!-- <input type="datetime-local"> -->
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Subject</th>
                <th>Diary</th>
                <th>Attachment</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of diaryList">
                <td>{{row.subjectName}}</td>
                <td>{{row.message}}</td>
                <td><a target="_blank" [href]="row.attachment">{{row.attachmentName}}</a></td>
                <td>{{row.createdAt | date:'hh:mm a'}}</td>
              </tr>
              <tr *ngIf="diaryList?.length < 1">
                <td colspan="4" class="text-center"> <i>There are no notes.</i> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <span class="heading">Notices</span>
        <div class="table-responsive">
          <table class="table  table-bordered">

            <thead>
              <tr>
                <th>Subject</th>
                <th>Note</th>
                <th>Attachment</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of noticesList">
                <!-- <td>{{row.name}} <br> (Rachel Sullivan)</td> -->
                <td>{{row.subjectName}}</td>
                <td>{{row.message}}</td>
                <td><a target="_blank" [href]="row.attachment">{{row.attachmentName}}</a></td>
                <td>{{row.createdAt | date:'hh:mm a'}}</td>
              </tr>
              <tr *ngIf="noticesList?.length < 1">
                <td colspan="4" class="text-center"> <i>There are no notices.</i> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <form #noteForm="ngForm">
      <!-- <span class="heading">Add a Diary Note</span> -->
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="row"
        *ngIf="(recipientSchoolGradeSectionId  && recipientSchoolGradeSectionId.length == 1) || currentUserData.role == UserRole.Student">
        <!-- <div class="col-lg-2"> -->
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle bo-co-lig b-r-0 dd-sub-btn st-dd-tog" type="button"
            id="dropdownSubTopicButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{selectedSubject}}
          </button>
          <div class="dropdown-menu dd-sub-btn" aria-labelledby="dropdownSubTopicButton">
            <li *ngFor="let subject of subjectList" (click)="onSubjectChange(subject)"><a
                class="dropdown-item pointer dropdownSubTopicItem">{{subject.subjectName}}</a>
            </li>
          </div>
        </div>
        <!-- </div> -->
      </div>
      <hr>
      <div class="row note">
        <div class="col-lg-6 col-xl-6">
          <div class="form-group">
            <input type="text" class="input form-control" placeholder="Write a diary note here....." name="diarynote"
              [(ngModel)]="diaryNote" required #note="ngModel">
          </div>
        </div>
        <div class="col-lg-3 col-xl-3">
          <label class="clip-upload btn send" for="file-input" style="width: auto; min-width: 5em; margin: 0">
            <label for="file-input" style="margin: 0">
              <i class="fa fa-paperclip fa-lg" aria-hidden="true"></i>
            </label>
            <input #myInput [accept]="allowed_types" type="file" name="file-input" id="file-input"
              (change)="fileProgress($event.target.files)">
              
            {{ (fileName?'&nbsp;' + fileName: '') | truncate: 15 }}
          </label>
        </div>
        <div class="col-lg-2 col-xl-2 mt row">
          <section class="slidder-section">
            <mat-slide-toggle *ngIf="teacherRole"
                class="toggle-margin" value="1"
                [(ngModel)]="isNotice" name="notice">Notice
            </mat-slide-toggle>
          </section>
        </div>
        <div class="col-lg-1 ad col-xl-1">
          <button [disabled]="noteForm.invalid" class="btn send pull-right" (click)="onAddNote(noteForm)"><i
              class="fa fa-paper-plane-o" aria-hidden="true"></i> Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
