.box1 {
  border-radius: 0.5em;
  margin-bottom: 2em;
  height: 250px;
}

.table-bordered {
  border: solid 4px #efedff !important;
  border-radius: 0.6em;
}

.send {
  background-color: blue;
  color: #fff;
}

.chekbox {
  width: 20px;
  height: 20px;
  margin-top: 11px;

}

/deep/ .ngb-dp-today .btn-light {
  outline: 1.5px solid blue !important;
}


.a li {
  list-style: none;
  display: inline-block;
}

.name li {
  margin-left: 22px;
}

.boxdot {
  width: 76px;
  height: 76px;
  padding: 26.7px;
  background-color: #EFEDFF;
  display: -webkit-box;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  margin: 3px;
  margin-top: 25px;
  color: black;
}

.boxdot1 {
  width: 76px;
  height: 76px;
  padding: 26.7px;
  background-color: #2E1CC4;
  position: absolute;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  margin: 4px;
  margin-top: 25px;
  color: #fff;
}

.input {
  border: none;
  color: black;
  padding: 5px;
  border-radius: 0.5em;
  width: 90%;
}

.form-inline>input {
  display: none;
}

.heading {
  font-size: 20px;
  color: black !important;
  margin-bottom: 5px;
}

.clip-upload {
  margin-top: 5px;
  position: absolute;
}

.clip-upload>input {
  display: none;
}

.note {
  margin-bottom: 2em;
}

.calander {
  position: relative;
  margin-bottom: 1em;
  margin-left: 1em;
}

.select1 {
  width: 220px;
  height: 40px;
  border: 1px solid #999;
  font-size: 18px;
  color: #1c87c9;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
}

@media (max-width:667px) {
  .mt {
    margin-top: 2em;
    margin-left: 3px;
  }
}

@media (max-width:736px) {
  .mt {
    margin-top: 2em;
    margin-left: 3px;
  }
}

@media (max-width:768px) {
  .mt {
    margin-top: 4em;
    margin-left: 3px;
  }

  .ad {
    position: relative;
    margin-top: -2em;
  }

}

@media (max-width:812px) {
  .mt {
    margin-top: 2em;
    margin-left: 3px;
  }
}

@media (max-width:1400px) {
  .send {
    width: 5em;
  }
}

.mt {
  display: flex;
  justify-content: flex-end;
}

@media(max-width:1024px) {
  .mt {
    justify-content: end;
  }
}
@media all and (max-width: 1523px) and (min-width:1400px){
  .send{
    width: 5em;
  }
}
@media all and (max-width: 992px) and (min-width:813px){
  .mt {
    left: 0.6rem;
    margin-top: 2.5rem;
  }
}
.slidder-section {
  margin-top: 9px;
}
.toggle-margin{
  margin-right: 1rem;
  font-size: 18px;
}
.slidder-section {
  align-content: center;
  align-items: center;
  height: 60px;
}
:host /deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #0000ff !important;
}
:host /deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #8080ff99 !important;
}

