.n-custom-cell {
  vertical-align: middle;
  text-align: left;
  border: 2px solid #efedff;
  padding: 12px;
}
.n-bg-blue {
  background-color: #8c8de8;
}
.n-bg-blue.active {
  background-color: #2e1cc4;
}
.n-text-blue {
  color: #2e1cc4;
}
.n-bg-light-green {
  background-color: #ecf9ec !important;
}
.n-custom-cell-text {
  cursor: default;
  font-size: 14px;
  text-align: center;
}

.empty-period {
  border: none;
}

