<app-loader *ngIf="showLoader"></app-loader>
<div class="card shadow mb-4 border-bottom-indigo pt-4 pb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
        <h6 class="m-0 font-weight-bold">Timetable <span *ngIf="currentUserData.role === UserRole.Student"> - {{currentUserData.school_grade_name}} {{currentUserData.section_name}}</span></h6>
    </div>
    <br>
    <div class="container p-2">
        <div class="card shadow-sm p-3 text-center table-responsive">
            <!-- <h6 class="font-20 font-weight-bold text-black" *ngIf="currentUserData.role === UserRole.Student">{{currentUserData.school_grade_name}}-{{currentUserData.section_name}}</h6> -->
        <table class="table">
            <thead>
                <tr>
                    <th class="n-custom-cell text-right pr-4 border-0" style="padding: 0px 40px;">
                        <div class="n-custom-cell-text pr-3"><i class="fas fa-clock fa-2x n-text-blue"></i></div>
                    </th>
                    <ng-container *ngFor="let day of daysName">
                        <th class="n-custom-cell  n-bg-blue " [ngClass]="isToday(day)?'active':''">
                            <div class="n-custom-cell-text text-white">{{day}}</div>
                        </th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let row of timingsList;let i = index">
                    <tr>
                        <td class="n-custom-cell border-0 pr-4 text-right">
                            <div class="n-custom-cell-text text-black">{{row}}</div>
                        </td>
                        <ng-container *ngFor="let period of periodList[i]">
                            <td class="n-custom-cell" *ngIf="period !== null && period.school_subject_id !== 0"
                                [ngClass]="period.break?'n-bg-light-green':''" [attr.rowspan]="period.bucket_size">
                                <div *ngIf="currentUserData.role === UserRole.Student" 
                                    class="n-custom-cell-text text-black">
                                    {{period.school_subject_name}} <br> <span class="small" *ngIf="period.teacher_first_name!==undefined">({{period.teacher_first_name}} {{period.teacher_last_name}})</span>
                                </div>
                                <div *ngIf="currentUserData.role === UserRole.Teacher"
                                    class="n-custom-cell-text text-black">
                                    {{period.school_grade_name}}-{{period.section_name}} ({{period.school_subject_name}})
                                </div>
                            </td>
                            <td class="n-custom-cell empty-period" *ngIf="period !== null && period.school_subject_id === 0">
                            </td>
                        </ng-container>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    </div>
</div>