.mat-list-item-content {
  color: white !important;
}

.mat-list-item-content:hover {
  color: black !important;
}

.mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: transparent !important;
}

.mat-icon {
  width: 36px !important;
}

.sidebarbottom {
  position: absolute;
  bottom: 35px;
}

.sidebar {
  width: 14rem;
}

.sidebar.toggled {
  margin-top: 5rem;
}

.sidenav {
  position: fixed;
  z-index: 1000;
  width: 15rem;
  height: 100vh;
}

.initialNameArea {
  margin-left: 0px;
  width: 75% !important;
}

.mat-drawer-container {
  z-index: 0;
}

@media (max-width:576px) {
  .sidebarFlex {
    margin-top: 6px !important;
  }
}

.logo-bottom {
  bottom: 10px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  width: 80px;
  height: 80px;
}
