<div id="practice-test" #modalRoot class="card shadow border-bottom-blue card-padding-history">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold al-ce-his">Preview</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <p>
          {{ meta?.schoolSubjectName || 'Subject Name' }}
          &nbsp; > &nbsp;
          {{ meta?.topicName || 'Topic' }}
          &nbsp; > &nbsp;
          {{ meta?.subtopicName || 'Subtopic' }}
        </p>
      </div>
      <div class="col-lg-4">
        <!-- <span class="header">
          <p class="minutes-display"><span class="number-display">{{minutesLeft}}</span> Minutes
            <span class="number-display">{{secondsLeft}}</span> Seconds Left
          </p>
          &nbsp;
          <div class="text-primary">
            <circle-progress [startFromZero]="true" [percent]="minutes" [radius]="20" [outerStrokeWidth]="2"
              [space]="-2" [innerStrokeWidth]="2" [showTitle]="true" [title]="countDownMinutes" [showUnits]="false"
              [showSubtitle]="false" [showInnerStroke]="true" [showZeroOuterStroke]="true" [animation]="false"
              [titleFontSize]="13">
            </circle-progress>
          </div>
          
          &nbsp;:&nbsp;
          <div class="text-primary">
            <circle-progress [startFromZero]="true" [percent]="seconds" [radius]="20" [outerStrokeWidth]="2"
              [space]="-2" [innerStrokeWidth]="2" [showTitle]="true" [title]="countDownSeconds" [showUnits]="false"
              [showSubtitle]="false" [showInnerStroke]="true" [showZeroOuterStroke]="true" [animation]="false"
              [titleFontSize]="13">
            </circle-progress>
          </div>
        </span> -->
        <div *ngIf="(question | async) as qObservable" class="side-bar">
          <ul class="pagination">
            <li><a [ngClass]="{'complexity-1': [1,2,3,4,5].includes(qObservable?.score)}"></a></li>
            <li><a [ngClass]="{'complexity-2': [2,3,4,5].includes(qObservable?.score)}"></a></li>
            <li><a [ngClass]="{'complexity-3': [3,4,5].includes(qObservable?.score)}"></a></li>
            <li><a [ngClass]="{'complexity-4': [4,5].includes(qObservable?.score)}"></a></li>
            <li><a [ngClass]="{'complexity-5': [5].includes(qObservable?.score)}"></a></li>
          </ul>
          <span class="qtype" *ngIf="qObservable?.type==='SCO'">SINGLE CORRECT OPTION</span>
          <span class="qtype" *ngIf="qObservable?.type==='MCO'">MULTIPLE CORRECT OPTION</span>
          <span class="qtype" *ngIf="qObservable?.type==='TRUE_FALSE'">TRUE/FALSE</span>
          <span class="qtype" *ngIf="qObservable?.type==='FILL_IN_THE_BLANK'">FILL_IN_THE_BLANK</span>
          <span class="qtype" *ngIf="qObservable?.type==='MATCH_THE_COLUMNS'">MATCH_THE_COLUMNS</span>
          <span class="qtype" *ngIf="qObservable?.type==='DESCRIPTIVE'">DESCRIPTIVE</span>
        </div>
      </div>
    </div>

    <!-- Good practice: if observable is used many times, declare it like this and use the object instead -->
    <div id="mathContent" class="border" *ngIf="(question | async) as qObservable">
      <div class="box-scroll">
        <div class="question-box">
          <!-- <label class="dot">{{currentQuestionNo}}.</label> -->
          <div id="heading" [innerHtml]="qObservable | prepareQuestion | sanitizeHtml"></div>
        </div>
        <div class="check-container" *ngIf="qObservable?.type == 'MCO'">
          <div class="row">
            <div class="check" *ngFor="let row of qObservable?.options | prepareOptions;let rowindex = index">
              <div *ngFor="let option of row;let i = index">
                <input id="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="checkbox-custom" disabled
                  name="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" [value]="option" type="checkbox">
                <label for="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="checkbox-custom-label chekcoustm"
                  [ngClass]="{'correct-answer': isCorrectOption(qObservable, option)}" [innerHtml]="option"></label>
              </div>
            </div>
          </div>
        </div>

        <div class="check-container" *ngIf="qObservable?.type == 'SCO'">
          <div class="row">
            <div class="check" *ngFor="let row of qObservable?.options | prepareOptions;let rowindex = index">
              <div *ngFor="let option of row;let i = index">
                <input type="radio" id="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="radiobox-custom"
                  name="checkbox-{{currentQuestionNo}}" [value]="option" disabled>
                <label for="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="radiobox-custom-label chekcoustm"
                  [ngClass]="{'correct-answer': option == qObservable?.options[(+qObservable.correctAnswer)-1]}"
                  [innerHtml]="option"></label>
              </div>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="qObservable?.type == 'match_the_following'">
          <div class="check-container">
            <div class="row">
              <div class="check check-left">
                <div *ngFor="let row of qObservable?.columns[0];let rowindex = index">
                  <label for="checkbox-{{currentQuestionNo}}{{rowindex}}"
                    class="radiobox-custom-label chekcoustm">{{rowindex +1}}. {{row}}</label>
                </div>
              </div>
              <div class="check">
                <div *ngFor="let row of qObservable?.columns[1];let rowindex = index">
                  <label for="checkbox-{{currentQuestionNo}}{{rowindex}}" class="radiobox-custom-label chekcoustm">
                    {{alphabets[rowindex]}}. {{row}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="check-container">
            <div class="row">
              <div class="check" *ngFor="let row of rows;let rowindex = index">
                <div *ngFor="let option of row;let i = index">
                  <input id="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="radiobox-custom"
                    name="checkbox-{{currentQuestionNo}}" [value]="option"
                    [(ngModel)]="answerObj.questions[currentQuestionNo - 1].answer" type="radio">
                  <label for="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="radiobox-custom-label chekcoustm"
                    [innerHtml]="option"></label>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="check-container" *ngIf="qObservable?.type == 'TRUE_FALSE'">
          <div class="row" *ngFor="let option of trueFalse;let i = index">
            <div class="check">
              <div>
                <input id="checkbox-{{currentQuestionNo}}{{i}}" [value]="option.key" class="radiobox-custom"
                  name="checkbox-{{currentQuestionNo}}" type="radio" disabled>
                <label for="checkbox-{{currentQuestionNo}}{{i}}"
                  [ngClass]="{'correct-answer': qObservable?.correctAnswer!== null && option.key.toLowerCase() == qObservable?.correctAnswer.toLowerCase()}"
                  class="radiobox-custom-label chekcoustm">{{option.value}}</label>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="check-container" *ngIf="qObservable?.type === 'SCO'">
          <div class="card-header next d-flex flex-row">
            <span class="m-0 font-weight-bold">Correct Answer :</span>
            <span [innerHtml]="qObservable?.options[(+qObservable?.correctAnswer)-1] | sanitizeHtml"></span>
          </div>
        </div>
        <div class="check-container" *ngIf="qObservable?.type === 'MCO'">
          <div class="card-header next d-flex flex-row">
            <span class="m-0 font-weight-bold">Correct Answer(s) : &nbsp;</span>
            <span *ngFor="let answer of qObservable?.correctAnswer; let i = index">
              <span [innerHtml]="qObservable?.options[(+answer)-1] | sanitizeHtml"></span>
              <span *ngIf="i+1 < qObservable?.correctAnswer.length">,&nbsp;</span>
            </span>
          </div>
        </div>
        <div class="check-container" *ngIf="['TRUE_FALSE', 'FILL_IN_THE_BLANK'].includes(qObservable?.type)">
          <div class="card-header next d-flex flex-row">
            <span class="m-0 font-weight-bold">Correct Answer : &nbsp;</span>
            <span [innerHtml]="qObservable?.correctAnswer | sanitizeHtml"></span>
          </div>
        </div>
        <div class="explanation">
          <b>Explanation:</b>&nbsp; <span [innerHtml]="qObservable?.explanation | sanitizeHtml"></span>
        </div>
      </div>
      <!-- <div class="row footer">
        <div class="container-fluid">
          <div class="row next">
            <div class="col-lg-4 col-xs-6">
              <button type="button" (click)="onPreviousClick()" [disabled]="currentQuestionNo == 1"
                class="btn form-btn btn-outline-secondary">Prev</button>
              <button type="button" (click)="onNextClick()" [disabled]="currentQuestionNo == questionsLength"
                class="btn form-btn btn-outline-primary">Next</button>
            </div>
            <div class="row col-lg-6 col-xs-6 next">
              <div>
                <span class="count">{{currentQuestionNo}} of {{questionsLength}}</span>
              </div>
            </div>
            <div class="col-lg-2 col-xs-6">
              <button class="btn form-btn primary-btn pull-right" disabled (click)="onEndTest()">
                End Test
                <span *ngIf="endTestClicked" class="spinner-gap spinner-grow spinner-grow-sm" role="status"
                  aria-hidden="true"></span></button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
