.header {
    display: flex;
    justify-content: flex-end;
  }
  
  .text-primary {
    color: #4e73df !important;
    margin-top: -15px;
  }
  
  .border {
    border: solid 4px #efedff !important;
  }
  
  .question-box {
    text-align: center;
    align-items: center;
    padding-top: 20px;
  }
  
  .dot {
    width: 48px;
    height: 48px;
    padding: 11px;
    margin-top: 15px;
    background-color: #EFEDFF;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    color: blue;
    font-size: 19px;
  }
  
  .ptag {
    color: black;
    font-size: 23px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 10px;
  }
  
  .practice-image {
    height: 148px;
    width: 403px;
    border-radius: 23px;
  }
  
  .check {
    align-items: center;
  }
  
  .check-container {
    display: flex;
    justify-content: center;
  }
  
  .checkbox-custom,
  .radiobox-custom {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-custom,
  .checkbox-custom-label,
  .radiobox-custom,
  .radiobox-custom-label {
    /* display: inline-block;
    vertical-align: middle; */
    margin: 21px;
    cursor: pointer;
    text-align: start;
  
  }
  
  .checkbox-custom-label,
  .radiobox-custom-label {
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 20px;
  }
  
  .checkbox-custom+.checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #3927C7;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    padding: 6px;
    margin-right: 24px;
    text-align: center;
    margin: 10px;
  }
  
  .radiobox-custom+.radiobox-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #3927C7;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    padding: 6px;
    margin-right: 24px;
    text-align: center;
    margin: 10px;
    border-radius: 50%;
  }
  
  .checkbox-custom:checked+.checkbox-custom-label:before,
  .radiobox-custom:checked+.radiobox-custom-label:before {
    background: #3927C7;
    box-shadow: inset 0px 0px 0px 4px #fff;
  }
  
  .practice-image {
    height: 148px;
    width: 488px;
    border-radius: 23px;
  }
  
  
  /* pagination  */
  ul.pagination {
    display: inline-block;
    padding: 0;
    /* margin: 16px; */
  
  }
  
  /* pagination */
  .pagination a {
    color: gray;
    float: left;
    padding: 1px 3px;
    text-decoration: none;
  }
  
  
  ul.pagination li {
    display: inline;
  
  }
  
  .footer {
    padding: 5px;
  }
  
  .pagination {
    margin: 0;
  }
  
  .count {
    padding: 25px;
    display: flex;
  }
  
  /* .count {
    margin-top: 37px;
    display: inline-block;
    margin-left: 13em;
  }
  @media (max-width:1024px){
    .count {
      margin-left: 7em;
    }
  }
  @media (max-width:768px){
    .count{
      margin-left: 15em;
      margin-top: 2em;
      position: absolute;
    }
  }
  .right-pagination{
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: -4em;
    margin-right: 1em;
  } */
  .spinner-gap {
    margin-bottom: 3px;
    margin-left: 10px;
  }
  
  .form-btn {
    margin-left: 0.55rem !important;
    width: 8.5rem !important;
    margin-bottom: 2em !important;
    margin-top: 1em !important;
    padding: 0.75rem !important;
  }
  
  ul.pagination li a {
    color: black;
    float: left;
    text-decoration: none;
    height: 21px;
    margin-left: 4px;
    border: 0.1rem solid #8b878747;
  }
  
  ul.pagination li a.complexity-5 {
    background-color: #448c46;
    color: white;
  }
  
  ul.pagination li a.complexity-4 {
    background-color: #408b43;
    color: white;
  }
  
  ul.pagination li a.complexity-3 {
    background-color: #47984a;
    color: white;
  }
  
  ul.pagination li a.complexity-2 {
    background-color: #55b259;
    color: white;
  }
  
  ul.pagination li a.complexity-1 {
    background-color: #6edc73;
    color: white;
  }
  
  /* 
  ul.pagination li a:hover:not(.complexity-1) {
    background-color: #ddd;
  } */
  .primary-btn {
    border-color: #2E1CC4;
    color: white;
    background-color: #2E1CC4;
  }
  
  .number-display {
    color: #2E1CC4;
    font-size: 1rem !important;
  }
  
  .minutes-display {
    font-size: 0.85rem;
  }
  
  .check-left {
    margin-left: 4em;
  }
  
  input:focus {
    outline: none;
  }
  
  .next {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  @media (max-width:768px) {
    .pull-right {
      float: none;
    }
  }
  
  @media (max-width :768px) {
    .check-left {
      margin-left: 0em;
    }
  }
  
  .center-content {
    display: flex;
    justify-content: center;
  }
  
  .btn-resume {
    margin-top: 39px;
    padding: 1.175rem 4.25rem;
    margin-bottom: 39px;
    border-radius: 0.2em;
    text-align: center;
  }
  
  /* .box-scroll {
    height: 600px;
    overflow-y: scroll;
  } */
  
  .card-padding-history {
    padding: 0px !important;
  }
  

  /* MY styles */
.correct-answer {
  color: #3da93d;
}

.wrong-answer {
  color: #ed2121bf;
}

.explanation {
  padding: 0 2em 2em 2em;
}

.qtype {
  margin: 0 1em;
  font-size: 0.8em;
  background: lightgreen;
  padding: 0.4em 0.8em;
  border-radius: 50px;
}

.side-bar {
  display: flex;
  margin-bottom: 0.7em;
}