.modal-body {
  background-image: url('../../../assets/images/pop-background.png');
  position: relative;
}

input:focus {
  outline: none;
}

.modal-dialog {
  height: 100vh;
  display: flex;
  align-items: center;
}
