<app-loader *ngIf="showLoader"></app-loader>

<div class="d-flex justify-content-center w-100">
  <form class="loginForm" (ngSubmit)="login();" #loginfrm="ngForm">
    <div class="row no-gutters loginFormMnLogoDiv">
      <div class="col-12 d-sm-none d-flex justify-content-center">
        <img src="assets/images/logo.png" class="img-fluid loginFormMnLogoImg">
      </div>
    </div>
    <div class="row no-gutters loginFormBstLogoDiv">
      <div class="col-12 d-flex justify-content-center">
        <img src="https://dznvyvcu8qlyz.cloudfront.net/static/loginFormLogo.png" class="img-fluid loginFormBstLogoImg">
      </div>
    </div>
    <!-- <div class="row no-gutters lgnFrmLgnHdDiv"> -->
    <!-- <div class="col-12"> -->
    <!-- <h1 class="lgnFrmLgnHd text-center">Log in</h1> -->
    <!-- </div> -->
    <!-- </div> -->
    <div class="input-group lgnFrmInpGrp">
      <div class="input-group-prepend lgnFrmInpGrpPre">
        <span class="input-group-text lgnFrmInpGrpTxtMail" id="lgnFormEmailFld"><img src="assets/images/mail_icon.png"
            class="img-fluid lgnFrmFldMailIcon"></span>
      </div>
      <input type="email" class="form-logincontrol lgnFldFrmCntrl" [(ngModel)]="model.userHandle" name="user_handle"
        required placeholder="Username" aria-label="Username" aria-describedby="lgnFormEmailFld">
    </div>
    <div class="input-group lgnFrmInpGrp"
      [ngStyle]="isErrorLogin?{margin:'16px 0px 8px 0px'} : {'margin': '16px 0px 42px 0px'}">
      <div class="input-group-prepend lgnFrmInpGrpPre">
        <span class="input-group-text lgnFrmInpGrpTxtLock" id="lgnFormPswdFld"><img src="assets/images/lock_icon.png"
            class="img-fluid lgnFrmFldLockIcon"></span>
      </div>
      <input type="password" class="form-logincontrol lgnFldFrmCntrl" [(ngModel)]="model.password" name="password"
        required placeholder="Password" aria-label="Password" aria-describedby="lgnFormPswdFld">
    </div>
    <div class="input-group" style="height: 18px;" *ngIf="isErrorLogin">
      <span class="text-danger">{{errorLoginMessage}}</span>
    </div>
    <div class="row no-gutters lgnFrmRembRow">
      <div class="col-12 d-flex justify-content-between">
        <div class="form-check lgnFrmChkDiv">
          <input class="form-check-input lgnFrmChkInpt" type="checkbox" value="" id="lgnFormRemChkBox">
          <label class="form-check-label lgnFrmChkLbl" for="lgnFormRemChkBox">
            Remember me
          </label>
        </div>
        <div class="lgnFrmFrgPswDiv">
          <a class="lgnFrmFrgPswLnk pointer" (click)="open(mymodal)">Forgot password?</a>
        </div>
      </div>
    </div>
    <div class="row no-gutters lgnFrmSgnInBtnDiv">
      <div class="col-12">
        <input type="submit" class="lgnFrmSgInBtn" value="Sign in" [disabled]="loginfrm.invalid">
      </div>
    </div>
    <div class="row no-gutters lgnFrmPlcyRow">
      <div class="col-12 d-flex justify-content-around">
        <div class="">
          <a href="#" class="lgnFrmPlcLnk">Terms of Use</a>
        </div>
        <div class="">
          <a routerLink="/privacy" target="_blank" class="lgnFrmPlcLnk">Privacy Policy</a>
        </div>
        <div class="">
          <a routerLink="/contact-us" class="lgnFrmPlcLnk">Contact Us</a>
        </div>
      </div>
    </div>
  </form>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-body">
    <div class="layer">
      <form (ngSubmit)="login();" #loginfrm="ngForm">
        <div class="row no-gutters justify-content-center">
          <h5 class="m-0 font-weight-bold pop-up-font">Forgot Your Password?</h5>
        </div>
        <br>
        <div class="row no-gutters justify-content-center">
          <p class="text-center text-justify">If you can't log into your Basta because you forgot your
            password, you can reset it now.</p>
          <p class="text-center text-justify">Please enter your email address or username</p>
        </div>
        <div class="input-group lgnFrmInpGrp">
          <input type="text"
            style="background-color: transparent;border-width: 0px;border-radius:0px;border-bottom: 2px solid #2E1CC4;"
            class="form-logincontrol lgnFldFrmCntrl" [(ngModel)]="forgotPasswordFormModel.emailId" name="password" required
            placeholder="Enter your email address" aria-label="email" aria-describedby="lgnFormemailFld">
        </div>
        <!-- <div class="row no-gutters lgnFrmPlcyRow mt-88">
          <div class="col-12 d-flex justify-content-around">
            <div class="">
              <span class="lgnFrmPlcLnk">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="lgnFormVMChkBox" name="lgnFormVMChkBox">
                  <label class="custom-control-label" for="lgnFormVMChkBox">Via Email</label>
                </div>
              </span>
            </div>
            <div class="">
              <span class="lgnFrmPlcLnk">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="lgnFormVCChkBox" name="lgnFormVCChkBox">
                   <input class="form-check-input lgnFrmChkInpt" type="checkbox" value=""id="lgnFormVCChkBox">
                  <label class="custom-control-label" for="lgnFormVCChkBox">Via Phone</label>
                </div>
              </span>
            </div>
            <div class="">
              <span class="lgnFrmPlcLnk">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="lgnFormVCTChkBox" name="lgnFormVCTChkBox">
                  <label class="custom-control-label" for="lgnFormVCTChkBox">Via Class Teacher</label>
                </div>
              </span>
            </div>
          </div>
        </div> -->
        <div class="row no-gutters justify-content-center mt-88">
          <div class="col-4"> <input type="button" class="lgnFrmCancelBtn" value="Cancel"
              (click)="modal.dismiss('Cross click')"></div>
          <div class="col-4 ml-4" > <input type="button" class="lgnFrmSgInBtn" [disabled]="!forgotPasswordFormModel.emailId" value="Send" (click)="sendEmail()"></div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
