/* loader */
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.8;
    background-color: black;
    z-index: 99999999;
    text-align: center;
  }
  
  #loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 100px;
  }