<div id="page-top" style="background-image:url('assets/images/background.png');background-size: 800px 600px;">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <br><br><br><br><br>
    <!-- <app-sidebar></app-sidebar> -->
    <app-mat-sidenav></app-mat-sidenav>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <app-header></app-header>

        <!-- Begin Page Content  -->
        <div class="container-fluid openedSidebar" id="myBody">
          <router-outlet></router-outlet>
          <!-- <app-mat-sidenav></app-mat-sidenav> -->
        </div>
        <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</div>