<app-loader *ngIf="showLoader"></app-loader>
<div class="card shadow mb-4 common-border-bottom">
  <div class="col-12 d-flex justify-content-center">
    <img src="https://dznvyvcu8qlyz.cloudfront.net/static/loginFormLogo.png" style="width: 80px;"
      class="img-fluid loginFormBstLogoImg" (click)="onLogin()">
  </div>
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
    <h6 class="m-0 font-weight-bold">Contact Us</h6>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 left-container">
        <form #contactForm="ngForm">
          <h6 class="headfont">Send us an Email</h6>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group required">
                <label class="control-label">First Name</label>
                <input type="text" class="form-control" name="firstname" required autocomplete="off"
                  placeholder="First Name" [(ngModel)]="contactUsModel.first_name" pattern="[A-Za-z0-9]+"
                  #firstName="ngModel">
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="errors">
                  <div *ngIf="firstName.errors && firstName.errors.required">
                    First Name is required.
                  </div>
                </div>
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="errors">
                  <div *ngIf="firstName.errors && !firstName.errors.required">
                    Invalid First Name.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group required">
                <label class="control-label">Last Name</label>
                <input type="text" pattern="[A-Za-z0-9]+" class="form-control" name="lastname" autocomplete="off"
                  placeholder="Last Name" [(ngModel)]="contactUsModel.last_name" #lastName="ngModel">
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="errors">
                  <div *ngIf="lastName.errors && !lastName.errors.required">
                    Invalid Last Name.
                  </div>
                </div>
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="errors">
                  <div *ngIf="lastName.errors && lastName.errors.required">
                    Last Name is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group required">
                <label class="control-label">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="contactUsModel.email_id" required
                  placeholder="email@ziksuka.com" autocomplete="off" #Email="ngModel"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="errors">
                  <div *ngIf="Email.errors && Email.errors.required">
                    Email is required.
                  </div>
                </div>
                <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="errors">
                  <div *ngIf="Email.errors && !Email.errors.required">
                    Invalid Email.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="form-group required">
                <label class="control-label">Phone Number</label>
                <input type="text" pattern="^\d{10}$" name="number" [(ngModel)]="contactUsModel.phone_number" required
                  #phoneNo="ngModel" autocomplete="off" class="form-control" placeholder=""
                  (keypress)="numberOnly($event)">
                <div *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)" class="errors">
                  <div *ngIf="phoneNo.errors && phoneNo.errors.required">
                    Phone Number is required.
                  </div>
                </div>
                <div *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)" class="errors">
                  <div *ngIf="phoneNo.errors && !phoneNo.errors.required">
                    Invalid Phone Number.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="form-group required">
                <label class="control-label">Number of Students</label>
                <div class="row">
                  <div *ngFor="let studentData of student;let isLast = last" class="col-2">
                    <input type="radio" [(ngModel)]="contactUsModel.no_of_Student" required name="student"
                      [value]="studentData.name" #no_of_student="ngModel">&nbsp;
                    <label class="customcheck">{{studentData.name}}</label>
                    <div *ngIf="isLast && no_of_student.invalid && (no_of_student.dirty || no_of_student.touched)">
                      <div *ngIf="no_of_student.errors && no_of_student.errors.required">Number of Students is required.
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

          <!--end first row-->


          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="control-label">Message</label>
                <textarea class="form-control" rows="12" name="msg" type="text" [(ngModel)]="contactUsModel.message"
                  #txtMsg="ngModel"></textarea>
                <!-- <div *ngIf="txtMsg.invalid && (txtMsg.dirty || txtMsg.touched)" class="errors">
                                    <div *ngIf="txtMsg.errors && txtMsg.errors.required">
                                        Message is required.
                                    </div>
                                </div> -->
              </div>
            </div>
          </div>
          <div class="row">
            <!--end four row-->
            <div class="col-lg-12 submit">
              <button type="button" [disabled]="contactForm.invalid" class="submit-button btn pointer"
                (click)="onFormSubmit()">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4 right-container" style="margin-bottom:30px;">
        <h6 class="headfont">Our Contact information</h6>
        <div class="box">
          <p>Address:<br>
            Ziksuka,<br>
            Sector 48,<br>
            Gurgaon-122018, Haryana, India</p>
          <p>Phone: (+91) 7558404777</p>
          <p>Email: iziksuka@gmail.com</p>
        </div>
        <div class="box1">
          <h6>Follow us:</h6>
          <ul class="social-icons">
            <li><a class="facebook" target="_blank" href="https://facebook.com/zikSuka"><i
                  class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/company/ziksuka"><i
                  class="fa fa-linkedin"></i></a></li>
            <li><a class="twitter" target="_blank" href="https://twitter.com/suka_zik"><i class="fa fa-twitter"></i></a>
            </li>
            <!-- <li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
