.submit-button {
    background-color: #2E1CC4;
    margin-top: 19px;
    margin-bottom: 29px;
    border-radius: 0.2em;
    width: 39%;
  }
  
  .submit {
    text-align: center;
  }
  
  .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
  }
  
  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
  }
  
  .social-icons li {
    display: inline-block;
    margin-bottom: 4px
  }
  
  .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
  }
  
  .social-icons a {
    background-color: black;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
  }
  
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
  }
  
  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
  }
  
  .social-icons a.facebook:hover {
    background-color: #3b5998
  }
  
  .social-icons a.twitter:hover {
    background-color: #00aced
  }
  
  .social-icons a.linkedin:hover {
    background-color: #007bb6
  }
  
  .social-icons a.dribbble:hover {
    background-color: #CF3A7C
  }
  
  .headfont {
    margin-bottom: 20px;
    color: black;
  }
  
  .form-control {
    height: calc(2.75em + .75rem + 2px);
  }
  
  @media (max-width:767px) {
    .social-icons li.title {
      display: block;
      margin-right: 0;
      font-weight: 600
    }
  }
  
  @media only screen and (width:1024px) {
    .left-container {
      flex: none;
      width: 472px;
    }
  
    .right-container {
      flex: none;
      max-width: 371px;
    }
  }
  