.dropdown-list {
  width: 25rem !important;
}

.fixed {
  position: fixed;
  margin-bottom: -2rem;
  left: 0;
  right: 0;
  z-index: 1040;
}

.navbar-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.topbar .nav-item .nav-link {
  height: 5.375rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 .75rem;
}

@media (max-width:765px) {
  .title h4 {
    font-size: 12px;
  }
  .topbar .nav-item .nav-link {
    display: -webkit-box;
    /* display: none; */
    -webkit-box-align: center;
    align-items: center;
  }
  .fa-chevron-circle-down {
    margin-top: 9px;
    position: absolute;
  }
}