<app-loader *ngIf="showLoader"></app-loader>

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow openedSidebar fixed" id="topNavbar"
  style="background-image: url('assets/images/Icons/menuback.png')" mode="over">
  <!-- Sidebar Toggle (Topbar) -->
  <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" (click)="toggleMenu()">
    <span style="margin-top: 16px;"><i class="fa fa-bars pointer" id="sidebarToggle"
        style="vertical-align: super;"></i></span>
  </a> -->


  <button mat-icon-button id="menu" (click)="toggle(this.navService.currentShowingToggleValue)">
    <mat-icon>menu</mat-icon>
  </button>


  <div class="title">
    <h4>{{user.school_name}}</h4>
  </div>


  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <!-- <i class="fas fa-search fa-fw"></i> -->
      </a>
      <!-- Dropdown - Messages -->
      <!-- <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
        <form class="form-inline mr-auto w-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
              aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      </div> -->
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>
    <div class="time"> {{ dateTimeNow | date }} &bull; {{ dateTimeNow | date:'shortTime' }}
      
    </div>
    <div class="topbar-divider d-none d-sm-block"></div>
    <!-- Nav Item - Alerts -->
    <li  class="nav-item dropdown no-arrow mx-1 notifcation_drop">
      <a class="nav-link dropdown-toggle" (click)="markNotificationsAsRead()" href="#" id="alertsDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw notification"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter" *ngIf="getUnSeenNotificationCount() > 0">
          <span
            *ngIf="getUnSeenNotificationCount() == 1">{{getUnSeenNotificationCount()}}</span>
            <span
            *ngIf="getUnSeenNotificationCount() > 1">{{getUnSeenNotificationCount()}}+</span>
          </span>
      </a>
      <!-- Dropdown - Alerts -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in notification-dropdown"
        aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header sticky-top">
          Notifications
        </h6>
        <ng-container *ngIf="notifications.length == 0">
          <div style="padding:10px 20px;">No new notifications.</div>
        </ng-container>
        <ng-container *ngFor="let item of notifications">
          <ng-container *ngIf="item.type === notificationType.LINK">
            <a class="dropdown-item d-flex align-items-center"
              href="{{item.action.url !== undefined ? item.action.url : ''}}">
              <div class="mr-3">
                <div class="icon-circle bg-primary">
                  <i class="fa fa-link text-white"></i>
                </div>
              </div>
              <div>
                <span class="small font-weight-bold">{{item.message}}</span>
                <div class="small text-gray-500 float-right">{{item.created_at | date:'MMM dd, hh:mm a'}}</div>
              </div>
            </a>
          </ng-container>
          <ng-container *ngIf="item.type === notificationType.RECALL_TEST" style="z-index: 1;">
            <span (click)="onRecallTest(item.action)" class="dropdown-item d-flex align-items-center pointer">
              <div class="mr-3">
                <div class="icon-circle bg-primary">
                  <i class="fas fa-file-alt text-white"></i>
                </div>
              </div>
              <div>
                <span class="small font-weight-bold">{{item.message}}</span>
                <div class="small text-gray-500 float-right">{{item.created_at | date:'MMM dd, hh:mm a'}}</div>
              </div>
            </span>
          </ng-container>
          <ng-container *ngIf="item.type === notificationType.PLAIN">
            <span class="dropdown-item d-flex align-items-center">
              <div class="mr-3">
                <div class="icon-circle bg-primary">
                  <i class="fa fa-info text-white"></i>
                </div>
              </div>
              <div>
                <span class="small font-weight-bold">{{item.message}}</span>
                <div class="small text-gray-500 float-right">{{item.created_at | date:'MMM dd, hh:mm a'}}</div>
              </div>
            </span>
          </ng-container>
          <ng-container *ngIf="item.type === notificationType.CLASSROOM">
            <span class="dropdown-item d-flex align-items-center pointer" (click)="redirectToClassroomV3(item.action)">
              <div class="mr-3">
                <div class="icon-circle bg-primary">
                  <i class="fas fa-television text-white"></i>
                </div>
              </div>
              <div>
                <span small class="small font-weight-bold">{{item.message}}</span>
                <div class="small text-gray-500 float-right">{{item.created_at | date:'MMM dd, hh:mm a'}}</div>
              </div>
            </span>
          </ng-container>
        </ng-container>
        <!-- <a class="dropdown-item text-center small text-gray-500" href="#">Show All Notifications</a> -->
      </div>
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span *ngIf="user.photo"   class="nav_profileimgoutr">
          <img class="img-profile rounded-circle" src="{{user.photo}}"
            (error)="user.photo = 'assets/images/Icons/default_avatar.png'">
        </span>
        <span class="userImage" *ngIf="!user.photo">
          <span class="shortName">{{initials}}</span>
        </span>
        <span class="popMenu"><i class="fas fa-caret-down"></i></span>
      </a>

      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" routerLink="/profile">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> View Profile
        </a>
        <ng-container *ngIf="isPrincipalTeacher()">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="changePrincipalRole()">
            <i class="fas fa-eye fa-sm fa-fw mr-2 text-gray-400"></i> View as {{getAlternateRole()}}
          </a>
        </ng-container>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/help-feedback">
          <i class="fas fa-question fa-sm fa-fw mr-2 text-gray-400"></i> Get Help
        </a>
        <!-- <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">
					<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Go To Settings
				</a> -->
        <div class="dropdown-divider"></div>
        <a class="dropdown-item pointer" (click)="logout()">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> <span style="color: #3a3b45;">Log Out</span>
        </a>
      </div>
    </li>

  </ul>

</nav>
  <!-- End of Topbar -->
