<section>
    <div class="container-fluid lgnFrmCntrFluid">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-sm-block d-none loginFrmLftCol">
          <div class="lgnFrmBagBgImgDiv">
            <div class="lgnFrmLogoImgDiv">
              <img src="assets/images/logo.png" class="img-fluid lgnFrmLogoImg">
            </div>
            <div class="lgnFrmBgImgText">
              <h1 class="text-center lgnFrmBgWpHd1">You Have To Believe In</h1>
              <h2 class="text-center lgnFrmBgWpHd2">Yourself When No One Else Does.</h2>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mtop-content loginFormRtCol">
          <router-outlet></router-outlet>
            <div class="lgnFrmCprtFtrDiv w-100">
            <div class="row no-gutters">
              <div class="col-12 d-flex justify-content-center">
                  <p class="lgnFrmCprtFtrP">&copy;2020 All Rights Reserved</p>
              </div>
            </div>
            </div>
        </div> 
    </div>
    </div>    
  </section>  