<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card shadow mb-4 border-right imgDivBack"
            [ngClass]="{'border-right-indigo': user.role === UserRole.Student}"
            style="background-image: url('assets/images/Icons/sliderback.png');">
            <!-- Card Header - Dropdown -->
            <div class="card-header dash_count py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span class="m-0 font-weight-bold text-secondary"
                        [ngClass]="{'text-black': isSubjectBooks }">Subject Books</span>
                    <!-- <span class="m-0 font-weight-bold text-secondary pointer"
                        [ngClass]="{'text-black': isSubjectBooks }" (click)="selectBookType()">Subject Books </span> -->
                    <!-- <span class="custom-divider"></span> -->
                    <!-- <span class="m-0 font-weight-bold text-secondary pointer"
                        [ngClass]="{'text-black': !isSubjectBooks }" (click)="selectBookType()">Library</span> -->

                    <!-- <a class="text-decoration-none moreLink" [routerLink]="['/books']">View More</a> -->
                    <span class="videos_count">1 of 6</span>
                </h6>

                <!-- <div class=""><span *ngIf="books !== undefined">{{books.length}}</span></div> -->
            </div>
            <!-- Card Body -->
            <div class="card-body subject_bookbody">
                <div class="carousel_leftblock">
                    <span class="fa fa-angle-left carouselBtn-next" aria-hidden="true" (click)="back()"></span>
                </div>
                <div class="carousel_midblock">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                        <div ngxSlickItem class="slide" *ngFor="let book of books"
                            style="margin-right:20px;">
                            <img class="Video-size" src={{book.thumbnail}} alt="" width="100%" height="100%" style="border-radius:0.35rem ;"  
                                (click)="pdfSrc=book.source;selectedBookTitle=book.title;modalRoot.show()" />
                        </div>
                    </ngx-slick-carousel>
                </div>
                <div class="carousel_rightblock">
                    <span class="fa fa-angle-right carouselBtn-next" aria-hidden="true" (click)="next()"></span>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- <ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{selectedBook.title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
    </div> -->
<!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div> -->
<!-- </ng-template> -->
<app-modal #modalRoot [modalTitle]="selectedBookTitle" [zIndex]="zIndex" [maximizable]="true">
    <ng-container class="app-modal-body">
        <div class="modal-fluid">
            <ngx-extended-pdf-viewer [src]="pdfSrc" [textLayer]="true" [useBrowserLocale]="true" [zoom]="'page-width'"
                [showSidebarButton]="true" [showBookmarkButton]="false" [showDownloadButton]="false"
                [showFindButton]="true" [showOpenFileButton]="false" [showPresentationModeButton]="false"
                [showPagingButtons]="true" [ignoreResponsiveCSS]="false" [height]="'90vh'">
            </ngx-extended-pdf-viewer>
        </div>
    </ng-container>
</app-modal>