<div class="card shadow mb-4 border-bottom-indigo">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Performance Summary</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <div class="row">
<!--      <div class="col-md-2">-->
<!--        <select class="form-control border-radius-20" [(ngModel)]="performanceParam" name="performanceParam" (change)="ChangeInGraph()">-->
<!--          <option *ngFor="let item of performanceParams">{{item}}</option>-->
<!--        </select>-->
<!--      </div>-->
      <div class="col-md-10">
        <div class='dots'>
          <span class='dot dot-success mr-2'></span>Mathematics
          <span class='dot dot-warning mr-2'></span>Science
          <span class='dot dot-danger mr-2'></span>English
        </div>
      </div>
    </div>
    <div class="chart-area" id="performanceHeight">
      <canvas id="canvas">{{ LineChart }}</canvas>
    </div>
  </div>
</div>
