.dots {
  margin: 10px auto;
}

.dot {
  display: inline-block;
  border-radius: 50%;
  width: 50%;
  background-color: #EEE;
  height: 15px;
  width: 15px;
  margin: 0 2px;
}

.dot.dot-success {
  background-color: #135DFF;
}

.dot.dot-warning {
  background-color: #31c534;
}

.dot.dot-danger {
  background-color: #FF004E;
}

.dot.dot-sm {
  height: 10px;
  width: 10px;
}

.dot.dot-lg {
  margin: 0 4px;
  height: 20px;
  width: 20px;
}

.border-radius-20 {
  border-radius: 20px;
}
