<div class="row ml-1 mr-1" style="height: 15vw;">
    <div class="card col-4 h-100 border-bottom" style="margin-top: -20px">
        <div class="card-body  text-center pointer" *ngIf="dashboardData.teachers && dashboardData.teachers.present && dashboardData.teachers.absent && dashboardData.teachers.total !== undefined" (click)="openPopUpTeachersList(dashboardData.teachers.absent,popUpTeachers)">
            <span class="n-text-blue font-weight-bold" style="font-size: 5vw;">{{dashboardData.teachers.present}}</span><span style="font-size: 2.5vw;">/{{dashboardData.teachers.total}}</span>
            <br>
            <h4 class="text-black mt-3" style="font-size: 1.75vw;">Teachers Present</h4>
        </div>
    </div>
    <div class="card col-4 h-100  border-bottom pointer" style="margin-top: -20px">
        <div class="card-body text-center" *ngIf="dashboardData.students && dashboardData.students.present && dashboardData.students.absent && dashboardData.students.total !== undefined" (click)="openPopUpStudentsList(dashboardData.students.absent,popUpStudents)">
            <span class="n-text-blue font-weight-bold" style="font-size: 5vw;">{{dashboardData.students.present}}</span><span style="font-size: 2.5vw;">/{{dashboardData.students.total}}</span>
            <br>
            <h4 class="text-black mt-3" style="font-size: 1.75vw;">Students Present</h4>
        </div>
    </div>
    <div class="card col-3 ml-auto h-100  border-bottom" style="min-width: Calc(33% - 0.5rem);margin-top: -20px">
        <div class="card-body text-center" *ngIf="dashboardData.unassigned_periods !== undefined">
            <span class="n-text-blue font-weight-bold" style="font-size: 5vw;">{{dashboardData.unassigned_periods}}</span>
            <h4 class="text-black mt-3" style="font-size: 1.75vw;">Unassigned Periods</h4>
        </div>
    </div>
</div>

<ng-template #popUpTeachers let-modal>
    <div class="modal-header n-bg-lavender">
        <h5 class="modal-title text-black">Absent Teachers</h5>
        <button type="button" class="close n-modal-close " aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true" class="n-text-blue">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-white" style="background-image: none;padding-left: 40px !important;padding-top: 20px !important;padding-bottom: 20px !important;">
        <div class="row p-2 student-row" *ngFor="let person of popopUpTeachersList; index as i">
            <div class="col-2 student-attendence">
                <div class=" rounded-circle border-0 thumb-img justify-content-center" [ngStyle]="{'background-image': person.photo !== undefined ? 'url('+person.photo+')' :  'none'}">
                    <p *ngIf="person.photo === undefined"> {{person.imgTitle}}</p>
                </div>
            </div>
            <div class="col-10 p-0">
                <p class="text-black  mt-3 mb-3">{{person.first_name}} {{person.last_name}}</p>
                <!-- <p class="father-name"></p> -->
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div> -->
</ng-template>
<ng-template #popUpStudents let-modal>
    <div class="modal-header n-bg-lavender">
        <h5 class="modal-title text-black">Absent Students</h5>
        <button type="button" class="close n-modal-close " aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true" class="n-text-blue">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-white" style="background-image: none;padding-right: 40px !important;padding-left: 40px !important;padding-top: 20px !important;padding-bottom: 20px !important;">
        <ngb-tabset [destroyOnHide]="false">
            <ngb-tab *ngFor="let grade of popopUpStudentsList" title="{{grade.gradeName}}">
                <ng-template ngbTabContent>
                    <div class="row p-2 student-row" *ngFor="let person of grade.atendenceList; index as i">
                        <div class="col-2 student-attendence">
                            <div class=" rounded-circle border-0 thumb-img justify-content-center " [ngStyle]="{'background-image': person.photo !== undefined ? 'url('+person.photo+')' :  'none'}">
                                <p *ngIf="person.photo === undefined"> {{person.imgTitle}}</p>
                            </div>
                        </div>
                        <div class="col-10 p-0">
                            <p class="text-black mt-3 mb-3">{{person.first_name}} {{person.last_name}}</p>

                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div> -->
</ng-template>