<app-loader *ngIf="showLoader"></app-loader>
<div id="mathContent" *ngIf="!resultError" class="card shadow mb-4 border-bottom-blue card-padding-history">
  <!-- Card Header - Dropdown -->
  <div class="card-header next py-3 d-flex flex-row">
    <h6 class="m-0 font-weight-bold">Your Test Result</h6>
  </div>
  <div class="marks-card d-flex flex-row">
    Marks Obtained : {{testResultObj.marksSecured}}
  </div>
  <div class="marks-card d-flex flex-row">
    Total Marks : {{testResultObj.maximumMarks}}
  </div>
  <div class="marks-card d-flex flex-row">
    Percentage : {{testResultObj.percentageObtained}}%
  </div>
  <div class="card-body" *ngFor="let currentQuestionObj of testResultObj.questions;let currentQuestionNo = index">
    <div class="border">
      <div class="question-box">
        <label class="dot">{{currentQuestionNo+1}}.</label>
        <div id="heading{{currentQuestionNo+1}}"></div>
      </div>
      <div class="check-container" *ngIf="currentQuestionObj.questionType == 'MCO'">
        <div class="row">
          <div class="check" *ngFor="let row of currentQuestionObj.rows;let rowindex = index">
            <div *ngFor="let option of row;let i = index">
              <input disabled id="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="checkbox-custom"
                name="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" [value]="option"
                [checked]="currentQuestionObj.answer && currentQuestionObj.answer.indexOf(currentQuestionObj.optionsIndices[i+2*rowindex]) > -1"
                type="checkbox">
              <!-- , 'wrong-answer': currentQuestionObj.correctAnswer.indexOf(option) == -1 && currentQuestionObj.answer.indexOf(option)> -1 -->
              <label
                [ngClass]="{'correct-answer': currentQuestionObj.correctAnswer && currentQuestionObj.correctAnswer.indexOf(currentQuestionObj.optionsIndices[i+2*rowindex]) > -1,
                'wrong-answer': currentQuestionObj.correctAnswer && currentQuestionObj.correctAnswer.indexOf(currentQuestionObj.optionsIndices[i+2*rowindex]) == -1 &&currentQuestionObj.answer && currentQuestionObj.answer.indexOf(currentQuestionObj.optionsIndices[i+2*rowindex])> -1}"
                for="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="checkbox-custom-label chekcoustm"
                [innerHtml]="option"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="check-container" *ngIf="currentQuestionObj.questionType == 'SCO'">
        <div class="row">
          <div class="check" *ngFor="let row of currentQuestionObj.rows;let rowindex = index">
            <div *ngFor="let option of row;let i = index">
              <!-- {{option}} -->
              <input disabled type="radio" id="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="radiobox-custom"
                name="checkbox-{{currentQuestionNo}}{{i}}" [value]="option"
                [checked]="currentQuestionObj.answer == currentQuestionObj.optionsIndices[i+2*rowindex]">
              <label
                [ngClass]="{'correct-answer': currentQuestionObj.correctAnswer == currentQuestionObj.optionsIndices[i+2*rowindex], 'wrong-answer':(currentQuestionObj.correctAnswer != currentQuestionObj.optionsIndices[i+2*rowindex]) && (currentQuestionObj.answer == currentQuestionObj.optionsIndices[i+2*rowindex])}"
                for="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="radiobox-custom-label chekcoustm"
                [innerHtml]="option"></label>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="check-container" *ngIf="currentQuestionObj.questionType == 'MATCH_THE_COLUMNS'">
        <div>
          <div class="row">
            <div class="check check-left">
              <div *ngFor="let row of currentQuestionObj.columns[0];let rowindex = index">
                <label for="checkbox-{{currentQuestionNo}}{{rowindex}}"
                  class="radiobox-custom-label chekcoustm">{{rowindex +1}}. {{row}}</label>
              </div>
            </div>
            <div class="check">
              <div *ngFor="let row of currentQuestionObj.columns[1];let rowindex = index">
                <label for="checkbox-{{currentQuestionNo}}{{rowindex}}" class="radiobox-custom-label chekcoustm">
                  {{alphabets[rowindex]}}. {{row}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="check-container">
          <div class="row">
            <div class="check" *ngFor="let row of currentQuestionObj.rows;let rowindex = index">
              <div *ngFor="let option of row;let i = index">
                <input disabled id="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="radiobox-custom"
                  name="checkbox-{{currentQuestionNo}}{{i}}" [value]="option" [(ngModel)]="currentQuestionObj.answer"
                  type="radio">
                <label
                  [ngClass]="{'correct-answer': currentQuestionObj.correctAnswer && currentQuestionObj.correctAnswer.toLowerCase() == option.toLowerCase(), 'wrong-answer':(currentQuestionObj.correctAnswer && currentQuestionObj.correctAnswer.toLowerCase()  !== option.toLowerCase()) && (currentQuestionObj.answer && option.toLowerCase() == currentQuestionObj.answer.toLowerCase())}"
                  for="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="radiobox-custom-label chekcoustm"
                  [innerHtml]="option"></label>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="check-container" *ngIf="currentQuestionObj.questionType == 'TRUE_FALSE'">
        <div class="check">
          <div class="row" *ngFor="let option of trueFalse;let i = index">
            <input id="checkbox-{{currentQuestionNo}}{{i}}" disabled [value]="option.key"
              [(ngModel)]="currentQuestionObj.answer" class="radiobox-custom" name="checkbox-{{currentQuestionNo}}"
              type="radio">
            <label
              [ngClass]="{'correct-answer': currentQuestionObj.correctAnswer && currentQuestionObj.correctAnswer.toLowerCase() == option.key.toLowerCase(), 'wrong-answer':(currentQuestionObj.correctAnswer && currentQuestionObj.correctAnswer.toLowerCase()  !== option.key.toLowerCase()) &&(currentQuestionObj.answer && option.key.toLowerCase() == currentQuestionObj.answer.toLowerCase())}"
              for="checkbox-{{currentQuestionNo}}{{i}}" class="radiobox-custom-label chekcoustm">{{option.value}}
            </label>
          </div>
        </div>
      </div>
      <hr>
      <div class="check-container" *ngIf="currentQuestionObj.questionType !== 'MCO'">
        <div class="card-header next d-flex flex-row">
          <span class="m-0 font-weight-bold">Correct Answer :
            {{currentQuestionObj.correctAnswerString}}</span>
        </div>
      </div>
      <div class="check-container" *ngIf="currentQuestionObj.questionType == 'MCO'">
        <div class="card-header next d-flex flex-row">
          <span class="m-0 font-weight-bold">Correct Answer :
            <span *ngFor="let answer of currentQuestionObj.correctAnswerString">
              <br>
              {{answer}}
            </span>
          </span>
        </div>
      </div>
      <hr *ngIf="currentQuestionObj.explanation && currentQuestionObj.explanation != ''">
      <div class="check-container" *ngIf="currentQuestionObj.explanation && currentQuestionObj.explanation != ''">
        <div class="marks-card d-flex flex-row">
          Explanation
        </div>
        <div *ngIf="currentQuestionObj.explanation == imageTag">
          <img class="img-responsive" style="height: 148px;width: 403px;border-radius: 23px;"
            [src]="currentQuestionObj.exp_image[0]">
        </div>
        <div *ngIf="currentQuestionObj.explanation == videoTag">
          {{currentQuestionObj.exp_video[0]}}
          <iframe style="height: 148px;width: 403px;border-radius: 23px;" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            [src]="currentQuestionObj.exp_video[0]"></iframe>
        </div>
        <div *ngIf="currentQuestionObj.explanation == audioTag">
          <iframe style="height: 148px;width: 403px;border-radius: 23px;" [src]="currentQuestionObj.exp_audio[0]"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div id="mathContent" [innerHTML]="explanation[currentQuestionNo]"
          *ngIf="currentQuestionObj.explanation !== imageTag && currentQuestionObj.explanation !== videoTag && currentQuestionObj.explanation !== audioTag">
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="resultError" class="card shadow mb-4 border-bottom-blue card-padding-history">
  <div class="card-header next py-3 d-flex flex-row">
    <h6 class="m-0 font-weight-bold">{{error}}</h6>
  </div>
</div>
<div class="row footer">
  <div class="container-fluid">
    <div class="row next">
      <button class="btn form-btn primary-btn pull-right" (click)="onDone()">Go To Home</button>
    </div>
  </div>
</div>
