<app-loader *ngIf="showLoader"></app-loader>
<div class="card shadow mb-4 border-bottom-indigo">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
    <h6 class="m-0 font-weight-bold">Profile Settings</h6>
  </div>
  <div class="card-body">
    <form #profileForm="ngForm">
      <div class="row">
        <div class="col-sm-12 col-lg-3">
          <div class="border-bottom-0 box" align="center">
            <div *ngIf="currentUserObj.photo">
              <img [src]="currentUserObj.photo" class="img-responsive rounded-circle" height="110px" width="110px">
            </div>
            <div class="profileImg" *ngIf="!currentUserObj.photo">
              <p>{{initials}}</p>
            </div>
            <div class="card-header">
              <h6 class="text-center text-justify">{{currentUserObj.firstName}} {{currentUserObj.lastName}}</h6>
            </div>
            <div class="text-center text-justify"><span
                *ngIf="currentUserData.role == UserRole.Student">{{currentUserObj.schoolGradeName}}
                {{currentUserObj.sectionName}}, </span>
              {{currentUserObj.role}}
            </div>
          </div>
          <div class="box1">
            <label>Email Address</label>
            <div class="constant-label">{{currentUserObj.emailId}}</div>
            <br>
            <label>Phone</label>
            <div class="constant-label">{{currentUserObj.countryCode}} {{currentUserObj.phoneNumber}}</div>
            <br>
            <!-- <label>Address</label>
            <div class="map-responsive">
              <agm-map [latitude]='currentUserObj.latitude' [longitude]='currentUserObj.longitude' [mapTypeId]='mapType'
                width="100%" height="100px">
              </agm-map>
            </div> -->
          </div>
        </div>
        <div class="col-lg-9 col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" class="form-control" name="firstname" [(ngModel)]="currentUserObj.firstName" required
                  placeholder="First Name" pattern="[A-Za-z0-9]+" #firstName="ngModel" disabled>
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="errors">
                  <div *ngIf="firstName.errors && firstName.errors.required">
                    First Name is required.
                  </div>
                </div>
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="errors">
                  <div *ngIf="firstName.errors && !firstName.errors.required">
                    Invalid First Name.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Last Name</label>
                <input pattern="[A-Za-z0-9]+" type="text" class="form-control" name="lastname"
                  [(ngModel)]="currentUserObj.lastName" required placeholder="Last Name" #lastName="ngModel" disabled>
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="errors">
                  <div *ngIf="lastName.errors && lastName.errors.required">
                    Last Name is required.
                  </div>
                </div>
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="errors">
                  <div *ngIf="lastName.errors && !lastName.errors.required">
                    Invalid Last Name.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div class="row">
            <div
              [ngClass]="{'col-md-8': currentUserData.role == UserRole.Student,'col-md-12':currentUserData.role != UserRole.Student}">
              <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="currentUserObj.emailId" required
                  #Email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="eg.exapmle@gmail.com"
                  disabled>
                <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="errors">
                  <div *ngIf="Email.errors && Email.errors.required">
                    Email is required.
                  </div>
                </div>
                <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="errors">
                  <div *ngIf="Email.errors && !Email.errors.required">
                    Invalid Email.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngIf="currentUserData.role == UserRole.Student">
              <div class="form-group">
                <label class="control-label">Class</label>
                <input type="text" name="class" [(ngModel)]="currentUserObj.schoolGradeName" disabled
                  class="form-control" placeholder="Class">
              </div>
            </div>
          </div>
          <!--end first row-->
          <div class="row">
            <div
              [ngClass]="{'col-md-8': currentUserData.role == UserRole.Student,'col-md-12':currentUserData.role != UserRole.Student}"
              class="col-sm-12">
              <div class="form-group required">
                <label class="control-label">Phone Number</label>
                <input type="text" pattern="^\d{10}$" name="number" [(ngModel)]="currentUserObj.phoneNumber" required
                  #phoneNo="ngModel" class="form-control" placeholder="eg. +91 0000000000"
                  (keypress)="numberOnly($event)">
                <div *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)" class="errors">
                  <div *ngIf="phoneNo.errors && phoneNo.errors.required">
                    Phone Number is required.
                  </div>
                </div>
                <div *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)" class="errors">
                  <div *ngIf="phoneNo.errors && !phoneNo.errors.required">
                    Invalid Phone Number.
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <label class="control-label">Roll Number</label>
                <input type="text" disabled name="rollno" [(ngModel)]="currentUserObj.user_id" class="form-control"
                  placeholder="eg.232">

              </div>
            </div> -->
            <div class="col-md-4 col-sm-6" *ngIf="currentUserData.role == UserRole.Student">
              <div class="form-group">
                <label class="control-label">Section</label>
                <input disabled type="text" name="section" [(ngModel)]="currentUserObj.sectionName" class="form-control"
                  placeholder="Auctor ornare">
              </div>
            </div>
          </div>
          <!--end second row-->
          <span class="address-card">&nbsp; Address : &nbsp;</span>
          <div class="box2">
            <!--enfd third row-->
            <div class="form-group required">
              <label class="control-label">Line 1</label>
              <input type="text" name="address1" [(ngModel)]="currentUserObj.line1" required #useraddress1="ngModel"
                class="form-control" placeholder="Address Line1">
              <div *ngIf="useraddress1.invalid && (useraddress1.dirty || useraddress1.touched)" class="errors">
                <div *ngIf="useraddress1.errors && useraddress1.errors.required">
                  Address is required.
                </div>
              </div>
              <!-- <div *ngIf="useraddress1.invalid && (useraddress1.dirty || useraddress1.touched)" class="errors">
                <div *ngIf="useraddress1.errors && !useraddress1.errors.required">
                  Invalid Address.
                </div>
              </div> -->
            </div>
            <div class="row">
              <div class="form-group col-md-8">
                <label class="control-label">Line 2</label>
                <!-- pattern="[A-Za-z0-9_,- ]+" -->
                <input type="text" name="address2" [(ngModel)]="currentUserObj.line2" class="form-control"
                  placeholder="Address Line2" #useraddress2="ngModel">
                <!-- <div *ngIf="useraddress2.invalid && (useraddress2.dirty || useraddress2.touched)" class="errors">
                  <div *ngIf="useraddress2.errors && !useraddress2.errors.required">
                    Invalid Address.
                  </div>
                </div> -->
              </div>
              <div class="form-group required col-md-4">
                <label class="control-label">Zip Code</label>
                <input type="text" (keypress)="numberOnly($event)" name="code" [(ngModel)]="currentUserObj.zipcode"
                  required #postal="ngModel" class="form-control" placeholder="eg. 560103">
                <div *ngIf="postal.invalid && (postal.dirty || postal.touched)" class="errors">
                  <div *ngIf="postal.errors && postal.errors.required">
                    Postal Code is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 form-group required">
                <label class="control-label">Select Country</label>
                <select name="cars" placeholder="" class="form-control custom-select" name="country"
                  [(ngModel)]="countryObj.countryId" required #Country="ngModel" (change)="onCountryChange()">
                  <option *ngFor="let country of countryList" [value]="country.countryId">{{country.countryName}}
                  </option>
                </select>
                <div *ngIf="Country.invalid && (Country.dirty || Country.touched)" class="errors">
                  <div *ngIf="Country.errors && Country.errors.required">
                    Country is required.
                  </div>
                </div>
              </div>
              <div class="col-md-4 form-group required">
                <label class="control-label">Select state</label>
                <select name="cars" class="custom-select form-control" name="state" (change)="onStateChange()"
                  [(ngModel)]="stateObj.stateId" required #State="ngModel">
                  <!-- <option disabled selected>Select state</option> -->
                  <option *ngFor="let state of stateList" [value]="state.stateId">{{state.stateName}}</option>
                </select>
                <div *ngIf="State.invalid && (State.dirty || State.touched)" class="errors">
                  <div *ngIf="State.errors && State.errors.required">
                    State is required.
                  </div>
                </div>
              </div>
              <div class="col-md-4 form-group required">
                <label class="control-label">Select city</label>
                <select name="cars" class="custom-select form-control" name="city" [(ngModel)]="cityObj.cityId" required
                  #City="ngModel" (change)="onCityChange()">
                  <!-- <option disabled selected>Select city</option> -->
                  <option *ngFor="let city of cityList" [value]="city.cityId">{{city.cityName}}</option>

                </select>
                <div *ngIf="City.invalid && (City.dirty || City.touched)" class="errors">
                  <div *ngIf="City.errors && City.errors.required">
                    City is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end box-->
        </div>

      </div>
      <div class="row row-gap">
        <div class="col-lg-5 col-md-3 col-sm-12">

        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
          <button type="button" class="change-password btn btn-block pointer" (click)="open(mymodal)"> <i
              class="fa fa-lock" aria-hidden="true"></i>
            Change Password</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <button type="button" class="update-button btn btn-block pointer" [disabled]="profileForm.invalid"
            (click)="onUpdate()">Update Profile</button>
        </div>
        <!-- <div>
          <button type="button" class="change-password btn btn-block pointer" (click)="open(mymodal)"> <i
              class="fa fa-lock" aria-hidden="true"></i>
            Change Password</button>
        </div>
        <div>
          <button type="button" class="update-button btn btn-block pointer" [disabled]="profileForm.invalid"
            (click)="onUpdate()">Update Profile</button>
        </div> -->
      </div>
    </form>
  </div>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-body">
    <form class="layer" #pwdForm="ngForm">
      <div class="row no-gutters justify-content-center">
        <h5 class="m-0 font-weight-bold pop-up-font">Change Password</h5>
      </div>
      <div class="row row-gap">
        <div class="input-group form-group lgnFrmInpGrp">
          <input type="password"
            style="background-color: transparent;border-width: 0px;border-radius:0px;border-bottom: 2px solid #2E1CC4;"
            class="form-logincontrol lgnFldFrmCntrl" [(ngModel)]="password" name="password" required
            placeholder="Enter Old Password" #pwd="ngModel">
        </div>
        <div class="input-group form-group lgnFrmInpGrp">
          <input type="password"
            style="background-color: transparent;border-width: 0px;border-radius:0px;border-bottom: 2px solid #2E1CC4;"
            class="form-logincontrol lgnFldFrmCntrl" [(ngModel)]="newPassword" name="newpassword" required
            placeholder="Enter New Password" #new="ngModel">
        </div>
        <div class="input-group form-group lgnFrmInpGrp">
          <input type="password"
            style="background-color: transparent;border-width: 0px;border-radius:0px;border-bottom: 2px solid #2E1CC4;"
            class="form-logincontrol lgnFldFrmCntrl" [(ngModel)]="confirmPassword" name="cnfpassword" required
            placeholder="Confirm New Password" #confirm="ngModel">
        </div>
      </div>
      <div class="errors"
        *ngIf="confirmPassword !== '' && password !=='' && newPassword !== '' && confirmPassword != newPassword">
        <span>Password does not match</span>
      </div>
      <div class="row no-gutters justify-content-center mt-88">
        <div class="col-4"> <input type="button" class="lgnFrmCancelBtn" value="Cancel"
            (click)="modal.dismiss('Cross click')"></div>
        <div class="col-4 ml-4"> <input
            [disabled]="confirmPassword == '' || password=='' || newPassword == '' || confirmPassword != newPassword"
            type="button" class="lgnFrmSgInBtn" value="Update Password" (click)="sendEmail()"></div>
      </div>
    </form>
  </div>
</ng-template>
