.address-card {
    color: black;
    margin-top: 16px;
    margin-left: 23px;
    background: white;
    position: absolute;
}

.form-group label {
    color: black !important;
    font-size: 0.95rem;
}

.change-password {
    border: 0.15rem solid indigo;
    color: indigo;
}

input:focus {
    outline: none;
}

.modal-dialog {
    height: 100vh;
    display: flex;
    align-items: center;
}

.btn {
    margin: 3px;
    border-radius: 0.15rem !important;
}


/* .box {
  margin-bottom: 1em;
} */

.update-button {
    border: 0.15rem solid #2e1cc4;
    background-color: #2e1cc4;
    color: white;
    /* width: 192px; */
}

img {
    border: 4px solid #efedff;
}

.row-gap {
    margin-top: 39px;
}

.form-control {
    height: calc(2.75em + .75rem + 2px);
    /* padding: 1.675rem .75rem !important; */
}

.constant-label {
    color: black !important;
}

.profileImg p {
    margin-bottom: 0;
    font-size: 24px;
    margin-top: 11px;
  }
  
  .profileImg{
    background-color: #efedff;
    background-size: 100% 100%;
    font-size: 17px;
    padding-top: 17px;
    margin: 30px 15px;
    min-width: 90px;
    min-height: 90px;
    max-width: 90px;
    max-height: 90px;
    text-align: center;
    border-radius: 50%;
  }