<div class="row students-syllabus-performance ml-1 mr-1">
    <div class="card col border-bottom">
        <div class="card-body p-0">
            <div class="row border-bottom-info p-3">
                <div class="col-xl-6 col-lg-6">
                    <div class="row">
                        <i class="fas fa-search pt-1"></i><input type="search" [(ngModel)]="searchGradeTerm" name="searchGrade" class="border-0 font-weight-bold text-black ml-1" placeholder="Classes" />
                    </div>
                    <div class="row circle-list">
                        <div *ngFor="let grade of gradeList |filter:searchGradeTerm" [ngClass]="{active: grade.isActive === true}" (click)="gradeSelection(grade)" class="pointer col rounded-circle border-0 thumb-img active justify-content-center">
                            <p [ngStyle]="{'margin-top': grade.isActive === false ? '11px' : '0px' }">{{grade.imgTitle}}</p>
                            <i *ngIf="grade.isActive === true" class="fas fa-check"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="row">
                        <i class="fas fa-search pt-1"></i><input type="search" [(ngModel)]="searchStudentTerm" name="searchStudent" class="border-0 font-weight-bold text-black ml-1" placeholder="Students" autocomplete="foo" />
                    </div>
                    <div class="row circle-list studentList">
                        <div *ngFor="let student of studentList | filter:searchStudentTerm" [ngClass]="{active: student.isActive === true}" [ngStyle]="{'background-image': student.photo !== undefined && student.isActive === false ? 'url('+student.photo+')' :  'none'}" (click)="studentSelection(student)"
                            class="pointer col rounded-circle border-0 thumb-img active justify-content-center">
                            <p *ngIf="student.photo === undefined || student.isActive === true" [ngStyle]="{'margin-top': student.isActive === false ? '11px' : '0px' }">{{student.imgTitle}}</p>
                            <i *ngIf="student.isActive === true" class="fas fa-check"></i>
                            <p [ngStyle]="{'margin-top': student.photo !== undefined && student.isActive === false ? '77px' : student.isActive !== true && student.photo === undefined ? '30.5px':'26px'}" class="font-weight-lighter">{{student.firstName}} {{student.lastName}}</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row ">
                <div class="col-xl-6 text-center">
                    <div id="performance_chartdiv"></div>
                    <h5 class="text-black  mb-4 font-18">Performance</h5>
                </div>
                <div class="col-xl-6  border-left-info text-center">
                    <div id="syllabus_chartdiv"></div>
                    <h5 class="text-black mb-4 font-18">Syllabus</h5>
                </div>
            </div>
        </div>
    </div>
</div>