.logo {
    width: 135px;
    margin-top: 15px;
}

.navbar {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.imgDivBack {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.menuIcon {
    width: 16px;
    margin-right: 10px;
}

.popMenu {
    margin: 10px;
}

.sidebarUserImg {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#sidebarToggle {
    height: 0px !important;
}

.noticeBoard {
    height: 58px;
}

.card-header h6 {
    font-size: 20px;
    color: black !important;
}

.title {
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 600px;
}

.menuUserImg {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.nameArea {
    left: 15px;
    font-size: 15px;
}

.nameDescArea {
    left: 15px;
    font-size: 12px;
}

.userInfo {
    padding: 20px;
    color: white;
    margin-top: 10px;
}

.moreInfo {
    margin-top: 8px;
    left: -8px;
}

.border-bottom {
    border-bottom: 6px solid #2E1CC4 !important;
}

.border-right {
    border-right: 6px solid #2E1CC4 !important;
}

.border-top {
    border-top: 6px solid #2E1CC4 !important;
}

.border-left {
    border-left: 6px solid #2E1CC4 !important;
}

.border-bottom-blue {
    border-bottom: 6px solid #2e1cc4 !important;
}

.tab-border-bottom {
    border-bottom: 2px solid #2e1cc4 !important;
}

.time {
    margin-top: 29px;
    text-align: center;
    width: 188px;
    font-size: 15px;
}

.main-sidebar {
    z-index: 2;
}

#topNavbar {
    z-index: 1000;
}

.moreLink {
    font-size: 16px;
    color: #2E1CC4;
    margin-left: 25px;
}

.moreLink:hover {
    color: #2E1CC4;
}

.custom-divider {
    border-right: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
}

.sliderText {
    height: 140px;
    margin-left: 5px;
    margin-top: 5px;
}

.lgCrousal {
    margin: auto;
    width: 114%;
}

.sliderImg {
    height: 140px;
    max-width: 110% !important;
}

.descrtiptionText {
    font-size: 13px;
}

.books {
    margin: auto;
}

.textImg {
    position: absolute;
    bottom: 0;
    color: white;
    margin: 6px;
}

.bookImg {
    height: 174px;
    max-width: 80% !important;
    width: 150px;
    margin: auto;
    margin-left: 8px;
}

.bookImgSmall {
    height: 132px;
    max-width: 66% !important;
    width: 119px;
    margin: auto;
    margin-left: 7px;
}

.bookText {
    margin: auto;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin-top: 5px;
}

.sm-C-btn {
    visibility: hidden;
}

@media screen and (max-width: 765px) {
    .lg-C-btn {
        visibility: hidden;
    }
    .sm-C-btn {
        visibility: visible;
    }
}

.copyrightArea {
    color: white;
    position: absolute;
    bottom: 10px;
    margin: auto;
    left: 28px;
    font-size: 12px;
}

.sidebar .nav-item {
    position: relative;
    margin: auto;
    left: 35px;
    height: 48px;
}

.bottomSideBar {
    position: absolute;
    bottom: 79px;
}

.hidden {
    display: none !important;
}

.custom-divider-sidebar {
    color: #ccc;
}

.closeMenu {
    position: absolute;
    top: 33px;
}

.noteBookArea {
    resize: none;
    width: 100%;
    height: inherit;
    border: none;
}

.notebookIcon {
    margin: 5px;
}

.closeNotice {
    float: right;
    font-size: 20px;
    line-height: inherit !important;
}

.nbExpand {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.carouselBtn-next {
    color: blue;
    font-size: 30px !important;
    line-height: 180px !important;
    height: 180px;
}

.carousel {
    width: 100%;
}

.slide-box {
    display: flex;
    justify-content: space-between;
}

.text-black {
    color: black !important;
}

.pointer {
    cursor: pointer;
}

.mr-2 {
    margin-right: 2px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .slide-box img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (min-width: 992px) {
    .slide-box img {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (max-width: 1200px) {
    .carouselBtn-next {
        line-height: 120px !important;
        height: 120px;
    }
}

@media (max-width: 800px) {
    .carouselBtn-next {
        line-height: 100px !important;
        height: 100px;
    }
}

@media (max-width: 600px) {
    .carouselBtn-next {
        line-height: 80px !important;
        height: 80px;
    }
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 0.5rem;
}

@media (min-width: 500px) and (max-width: 768px) {
    .myRes-text p {
        font-size: 2.5vw !important;
    }
}

@media (max-width: 499px) and (min-width: 250px) {
    .myRes-text p {
        font-size: 3.25vw !important;
    }
}

@media (min-width: 250px) and (max-width: 768px) {
    .pos-icon {
        position: absolute !important;
    }
}


/* h6 {
  color: black !important;
} */

.pop-up-font {
    color: black !important;
}

.submit-button {
    background-color: #2E1CC4;
    color: white;
}

.form-control {
    border-radius: 0.15rem !important;
    border: 1px solid #efedff !important;
}

.errors {
    color: red;
    font-size: 13px;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
    margin-left: 3px;
}

.layer {
    padding: 4.25rem !important;
    background-color: rgba(255, 255, 255, 0.97);
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-body {
    padding: 0 !important;
    position: relative;
    background-image: url("../../assets/images/pop-background.png");
}

.tab-link-active {
    color: black !important;
    font-weight: 600 !important;
}

.tab-link {
    color: grey !important;
    font-weight: 400 !important;
}

.dd-btn {
    width: 245px;
    text-align: left;
}

.dd-sub-btn {
    width: 245px;
    text-align: left;
}

.rwd-break {
    display: none;
}

.al-ce {
    position: relative;
    left: 40%;
}

.t-dd-tog::after {
    margin-left: 0.6em !important;
    color: #2e1cc4 !important;
    font-size: 21px;
    margin-top: 10px;
    float: right;
}

.st-dd-tog::after {
    margin-left: 0.2em !important;
    color: #2e1cc4 !important;
    font-size: 21px;
    margin-top: 10px;
    float: right;
}

.b-r-0 {
    border-radius: 0 !important;
}

.bo-ra-10 {
    border-radius: 4px;
}

.f-w-6h {
    font-weight: 600;
}

.bor-top th {
    font-weight: 500;
}

.bo-co-lig {
    border: 2px solid #efedff !important;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-10 {
    margin-top: 10px;
}

.mrg-le {
    margin-left: 20px;
}

.m-l-0 {
    margin-left: 0px;
}

.mrg-ri {
    margin-right: 38px;
}

.m-r-35 {
    margin-right: 35px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.p-l-10 {
    padding-left: 10px;
}

.f-s-12 {
    font-size: 12px;
}

.f-s-50 {
    font-size: 50px !important;
}

.f-s-30 {
    font-size: 30px !important;
}

.m-l-20 {
    margin-left: 20px;
}

.p-l-0 {
    padding-left: 0;
}

.p-r-0 {
    padding-right: 0;
}

.audio-width {
    width: 100%;
}

.text-border-top {
    border-top: 2px solid #d1cee9;
}

.m-40 {
    margin: 40px;
}

.right {
    float: right;
    width: 6%;
    clear: right;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-trasf {
    transform: rotate(-180deg);
}

.rec-img {
    /* max-width: 215px !important; */
    width: 100%;
}

.card-padding {
    padding: 30px;
}

.card-padding-history {
    padding: 30px;
}

.right-2 {
    width: 2% !important;
}

.right-4 {
    width: 4% !important;
}

.right-9 {
    width: 9% !important;
}

.right-10 {
    width: 10% !important;
}

.bg-color {
    width: 40px;
}

.right-history {
    width: 18%;
}

.recplayicon {
    background: url("../images/recommendation_icons/play_icon.png") center no-repeat;
    width: 50px;
    display: inline-block;
    height: 50px;
    background-size: contain;
}

.recmicicon {
    background: url("../images/recommendation_icons/sound_icon.png") center no-repeat;
    width: 50px;
    display: inline-block;
    height: 50px;
    background-size: contain;
}

.rectexticon {
    background: url("../images/recommendation_icons/text_reco_icon.png") center no-repeat;
    width: 50px;
    display: inline-block;
    height: 50px;
    background-size: contain;
}

.playicon {
    background: url("../images/Icons/play_icon2x.png") center no-repeat;
    width: 50px;
    display: inline-block;
    height: 50px;
    background-size: contain;
}

.micicon {
    background: url("../images/Icons/mic_icon2x.png") center no-repeat;
    width: 50px;
    display: inline-block;
    height: 50px;
    background-size: contain;
}

.texticon {
    background: url("../images/Icons/text_icon2x.png") center no-repeat;
    width: 50px;
    display: inline-block;
    height: 50px;
    background-size: contain;
}

.w-break {
    word-break: break-all;
}

.bor-bot {
    border-bottom: 2px dotted #fff;
}

.bor-top {
    border-top: 2px dotted #fff;
    border-bottom: 2px solid #efedff;
}

.td-w-70 {
    width: 70px;
}

.tab-th th {
    color: grey !important;
}

.ve-al td {
    vertical-align: middle;
}

.ve-al td:nth-child(2) {
    width: 12%;
}

.ve-al td:nth-child(3) {
    width: 30%;
}

.al-ce-his {
    position: relative;
    left: 45%;
}

.dy-rec-img {
    max-width: 180px !important;
}

.dy-centered {
    top: 30%;
    left: 50%;
}

.bor-bot {
    border-bottom: 1px solid #efedff;
}

.tab-ul {
    float: left;
}

.dropdown-ul {
    float: right;
}

.div-left {
    float: left;
}

.po-rel {
    position: relative;
}

.m-r-rem {
    margin-right: -4.25rem;
}

.w-s-normal {
    white-space: normal;
}

.active-bg-color {
    background-color: #efedff;
}
.video-h-w {
  height: 100%;
  width: 100%;
  min-height: 300px;
}
.video-fullscreen {
  height: 100vh !important;
  width: 100% !important;
}
@media (max-width: 1580px) {
    .right {
        width: 16%;
    }
}

@media (max-width: 1440px) {
    .mrg-ri {
        margin-right: 35px;
    }
    .dd-btn,
    .dd-sub-btn {
        width: 220px !important;
    }
    .m-r-rem {
        margin-right: -5rem !important;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .mrg-le {
        margin-left: 12px !important;
    }
    .mrg-ri {
        margin-right: 21px !important;
    }
    .centered {
        height: 40px !important;
        width: 40px !important;
    }
    .card-padding-history {
        padding: 10px !important;
    }
    .dropdown-ul {
        width: 100% !important;
    }
    .m-r-rem {
        margin-right: -4rem !important;
    }
}

@media (min-width: 430px) and (max-width: 768px) {
    .mrg-le {
        margin-left: 8px !important;
    }
    .mrg-ri {
        margin-right: 13px !important;
    }
    .m-r-35 {
        margin-right: 8px;
    }
    .centered {
        height: 25px !important;
        width: 25px !important;
    }
    .al-ce {
        left: 30% !important;
    }
    .right-history {
        width: 68% !important;
    }
    .history-tbl {
        max-width: 570px;
        overflow: scroll;
    }
    .m-r-rem {
        margin-right: -3.8rem !important;
    }
    .dropdown-ul {
        float: left !important;
    }
}

@media (min-width: 376px) and (max-width: 426px) {
    .al-ce {
        left: 25% !important;
    }
    .history-tbl {
        max-width: 340px;
        overflow: scroll;
    }
    .m-r-rem {
        margin-right: -3.25rem !important;
    }
    .centered {
        width: 70px !important;
        height: 70px !important;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .al-ce {
        left: 14% !important;
    }
    .history-tbl {
        max-width: 300px;
        overflow: scroll;
    }
}

@media (max-width: 320px) {
    .al-ce {
        left: 8% !important;
    }
    .history-tbl {
        max-width: 250px;
        overflow: scroll;
    }
}


/* pagination */

.pagination a {
    color: gray;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    color: black;
}

.lgnFrmSgInBtn {
    width: 100%;
    background-color: #2e1cc4;
    color: #ffffff;
    border-color: 2e1cc4;
    border-radius: 4px;
    border: none;
    font-size: 17px;
    padding: 6px 0px 6px 0px;
    cursor: pointer;
    height: 49px;
}

.lgnFrmCancelBtn {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 17px;
    padding: 6px 0px 6px 0px;
    cursor: pointer;
    height: 49px;
    color: black;
}

.mt-88 {
    margin-top: 88px;
}


/******16 nov new css******/


.carousel_midblock {
    width: 97%;
    float: left;
    margin-right: 0;
    margin-left: 0.45%;
}


.carousel_leftblock{ width:1%;float:left}

.carousel_rightblock{width:1%;float:right; }

.card-body.recommdation_videos .carouselBtn-next {
    position: absolute;
    top: 49%;
    line-height: inherit !important;
    height: auto; transition: all 0.5s ease;
}

.card-body.subject_bookbody .carouselBtn-next {
    position: absolute;
    top: 49%;
    line-height: inherit !important;
    height: auto; transition: all 0.5s ease;
}


.card-body.recommdation_videos .carousel_midblock {
    margin-right: 0;
    margin-left: 0;
    width: 98%;
}

.card-body.recommdation_videos .carousel_midblock .slick-track {
    margin-left: 20px !important;
}

.card-body.recommdation_videos .carouselBtn-next:hover {
    transform: scale(1.45);
}

.card-body.subject_bookbody .carouselBtn-next:hover {  transform: scale(1.45);
}

.topbar .dropdown .dropdown-menu:last-child {
    border-bottom: none;
}

.topbar .dropdown.notifcation_drop .dropdown-list.dropdown-menu {
    border-radius: 0.5rem;
}

.recommdation_videos .slick-track:hover .slick-slide {
	opacity: 0.4;
}



.recommdation_videos .slick-slide {
    transform-origin: center left; transition: 450ms all; display: inline-block; width: 250px; margin: 0;
}


.recommdation_videos .slide.slick-slide:hover {
    transform: scale(1.10) translateX(-10px);
    opacity: 1;
    box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.1);
    border-radius: 0 !important;
}

.recommdation_videos .slide.slick-slide:hover .d-block {
    border-radius: 0;
}



.recommdation_videos .slick-slide:hover ~ .slick-slide {
    transform: translate3d(15px, 0, 0);
}

.nav-item.notifcation_drop .fas.fa-bell {
	color: #2E17BE;
	font-size: 24px;
}

.topbar .nav-item.notifcation_drop .badge-counter {
	background: #2EC439;
	border-radius: 100%;
	width: 18px;
	height: 18px;
	right: 11px;
	transform: inherit !important;
	font-size: 10px;
	top: 26px;
	margin: 0;
	transform-origin: inherit;
}

.topbar .dropdown .popMenu .fa-caret-down {
	color: #2E17BE;
	border: solid 1px #F1F0FF;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	text-align: center;
	line-height: 23px;
}

.topbar .navbar-nav .nav-item .nav-link .nav_profileimgoutr {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 100%;
    border: solid 1px #F1F0FF;
    padding: 2px;
}

.topbar .navbar-nav .nav-item .nav-link .img-profile {
	height: 100%;
	width: 100%;
	border-radius: inherit !important;
}

.card-header.dash_count h6 {
	width: 100%; 
}

.card-header.dash_count h6 .videos_count {
    float: right;
    color: #9499A9;
    font-size: 16px;
    margin: 0 40px 0 0;
}

.recommdation_videos .slick-slide .d-block {
    border-radius: 8px;
    overflow: hidden;
}

.recommdation_videos .slick-list {
	padding: 50px 0;
}

.video_infos h4 {
    font-size: 19px;
    color: #000;
  }
  .video_infos {
    padding: 13px 15px;
  }
  .video_infos p {
    color: #000;
  }
  .video_infos .vid_tags {
    color: #000;
  }

  .recommdation_videos .slick-slide .d-block {
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
}

.recommdation_videos .slick-slide .d-block .video_infos {
    display: none;
}

.recommdation_videos .slick-slide:hover .d-block .video_infos {
    display: block;
}



/******New Media******/

@media screen and (max-width: 1600px) {
    .card-body.subject_bookbody .carouselBtn-next {
        top: 50%;
    }

    .card-body.recommdation_videos .carouselBtn-next {
        top: 50%;
    }

    .card-body.recommdation_videos .carousel_midblock .slick-track {
        margin-left: 12px !important;
    }

    .recommdation_videos .slick-slide:hover ~ .slick-slide {
        transform: translate3d(100px, 0, 0);
    }
}

@media screen and (max-width: 1500px) {
    .recommdation_videos .slick-slide:hover ~ .slick-slide {
        transform: translate3d(88px, 0, 0);
    }
    
}


@media screen and (max-width: 1455px) {
    
}

@media screen and (max-width: 1366px) {
    .card-body.subject_bookbody .carouselBtn-next {
        top: 50%;
    }

    .card-body.recommdation_videos .carouselBtn-next {
        top: 50%;
    }

}

@media screen and (max-width: 1300px) {
    .recommdation_videos .slick-slide:hover ~ .slick-slide {
        transform: translate3d(66px, 0, 0);
    }
}

@media screen and (max-width: 1199px) {
    .recommdation_videos .slick-slide:hover ~ .slick-slide {
        transform: translate3d(52px, 0, 0);
    }
}

@media screen and (max-width: 1060px) {
    .recommdation_videos .slick-slide:hover ~ .slick-slide {
        transform: translate3d(52px, 0, 0);
    }

    .recommdation_videos .slick-slide:hover ~ .slick-slide {
        transform: translate3d(44px, 0, 0);
    }

}


@media screen and (max-width: 991px) {
    .recommdation_videos .slide.slick-slide:hover {
	transform: scale(1.4) translateX(-10px);
}
}


@media screen and (max-width: 860px) {
    .recommdation_videos .slick-slide:hover ~ .slick-slide {
        transform: translate3d(23px, 0, 0);
    }
}

@media screen and (max-width: 767px) {
    .card-body.recommdation_videos .carousel_midblock .slick-track {
        margin-left: 9px !important;
    }
}

@media screen and (max-width: 575px) {
    
}

@media screen and (max-width: 480px) {
    .card-header h6 {
        font-size: 17px;
    } 
}


@media screen and (max-width: 375px) {
    
}
