@media only screen and (max-width: 1199px) {
    .loginForm{
       width:75%;
    }
}
@media only screen and (max-width: 991px) {
    .loginForm{
       width:85%;
    }
    .lgnFrmBgImgText .lgnFrmBgWpHd1 {
        font-size: 26px;
        margin-bottom: 12px;
    }
    .lgnFrmBgImgText .lgnFrmBgWpHd2 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 810px) {
    .loginForm .lgnFrmRoboRowCol{
        flex-direction: column !important;
    }
}
@media only screen and (max-width: 767px) {
    .loginFrmLftCol{
       padding-right:0px !important;
    }
    /* .loginFrmRtCol{
       padding-left:15px !important; 
       padding-right:15px !important;
    } */
    .loginForm{
        width:95%;
     }
    .lgnFrmBgImgText .lgnFrmBgWpHd1 {
        font-size: 21px;
        margin-bottom: 10px;
    }
    .lgnFrmBgImgText .lgnFrmBgWpHd2 {
        font-size: 17px;
    }
}
@media only screen and (max-width: 575px) {
    .loginFrmLftCol{
        padding-right:15px !important;
    }
    .lgnFrmCntrFluid.container-fluid{
        padding-left:15px !important;
    }
    .loginForm{
        width:80%;
     }
    .loginForm .loginFormMnLogoDiv{
        margin-top:12px; 
    }
    .loginForm .loginFormBstLogoDiv{
        margin-top:12px; 
    }
    .loginForm .loginFormLgnHdDiv{
        margin:12px 0px 0px 0px;
    }
    .loginForm .lgnFrmInpGrp{
        margin:12px 0px 0px 0px;
    }
    .loginForm .lgnFrmRembRow{
        margin:12px 0px 0px 0px;
    }
    .loginForm .lgnFrmSgnInBtnDiv{
        margin:16px 0px 0px 0px;
    }
    .loginForm .lgnFrmRoboRow{
        margin:16px 0px 0px 0px;
      }
      .loginForm .lgnFrmPlcyRow{
        margin:16px 0px 16px 0px;
      }
    .loginForm .lgnFrmRoboRowCol{
        flex-direction: row !important;
    }
    .lgnFrmCprtFtrDiv{
        bottom:-35px;
    }
}
@media only screen and (max-width: 460px) {
    .loginForm{
        width:90%;
     }
}
@media only screen and (max-width: 395px) {
    .loginForm{
        width:95%;
     }
    .loginForm .lgnFrmRoboRowCol{
        flex-direction: column !important;
    }
}