/* devanagari */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}


/* latin-ext */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
}

.lgnFrmCntrFluid.container-fluid {
  padding-left: 0px !important;
}

.loginFrmLftCol {
  padding-right: 0px !important;
}

.lgnFrmBagBgImgDiv {
  position: relative;
  height: 100vh;
  overflow: none;
}

.lgnFrmBagBgImgDiv::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(https://dznvyvcu8qlyz.cloudfront.net/static/basta_login_bg.png);
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.lgnFrmLogoImgDiv {
  position: absolute;
}

.lgnFrmLogoImgDiv .lgnFrmLogoImg {
  max-width: 217px;
  max-height: 80px;
}

.lgnFrmBgImgText {
  position: absolute;
  bottom: 20%;
  width: 100%;
}

.lgnFrmBgImgText .lgnFrmBgWpHd1 {
  font-size: 34px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
}

.lgnFrmBgImgText .lgnFrmBgWpHd2 {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0px;
}

.loginForm {
  width: 70%;
}

.loginForm .loginFormMnLogoDiv .loginFormMnLogoImg {
  max-width: 180px;
  max-height: 70px;
}

.loginForm .loginFormBstLogoDiv {
  margin-top: 16px;
}

.loginForm .loginFormBstLogoDiv .loginFormBstLogoImg {
  max-width: 120px;
  max-height: 120px;
}

.loginForm .loginFormLgnHdDiv {
  margin: 16px 0px 0px 0px;
}

.loginForm .lgnFrmLgnHdDiv .lgnFrmLgnHd {
  font-size: 18px;
  font-weight: 700;
  color: #2e1cc4;
  margin: 12px 0px 0px 0px;
}

.loginForm .lgnFrmInpGrp {
  margin: 16px 0px 42px 0px;
}

.loginForm .lgnFrmInpGrp .input-group-text {
  background-color: #efedff;
  border-right: 2px solid #d6d2f8;
  /* border-color:#efedff; */
}

.loginForm .lgnFrmInpGrp .lgnFrmInpGrpTxtMail {
  padding: 0px 12px 0px 12px;
}

.loginForm .lgnFrmInpGrp .lgnFrmInpGrpTxtLock {
  padding: 0px 13px 0px 13px;
}

.loginForm .lgnFrmInpGrp .lgnFrmFldMailIcon {
  width: 13px;
  height: 11px;
}

.loginForm .lgnFrmInpGrp .lgnFrmFldLockIcon {
  width: 11px;
  height: 13px;
}

.loginForm .lgnFrmInpGrp .lgnFldFrmCntrl {
  font-size: 14px;
  background-color: #efedff;
  /* border-color:#efedff; */
}

.loginForm .lgnFrmInpGrp .lgnFldFrmCntrl::placeholder {
  font-size: 14px;
  color: #a0a5b3;
}

.loginForm .lgnFrmInpGrp .lgnFldFrmCntrl:focus {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  outline: none;
  border-color: #ced4da;
}

.loginForm .lgnFrmRembRow {
  margin: 20px 0px 0px 0px;
}


/* .loginForm .lgnFrmChkDiv{
  margin:0px 0px 0px 0px;
} */

.loginForm .lgnFrmChkInpt {
  position: absolute;
  top: 3px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.loginForm .lgnFrmChkLbl {
  font-size: 12.5px;
  color: #a0a5b3;
}

.loginForm .lgnFrmNoAcctSpn {
  font-size: 12.5px;
  color: #a0a5b3;
  padding-right: 2px;
}

.loginForm .lgnFrmFrgPswLnk,
.loginForm .lgnFrmPlcLnk,
.loginForm .lgnFrmRegLnk {
  color: #2e1cc4;
  text-decoration: none;
  font-size: 12.5px;
}

.loginForm .lgnFrmSgnInBtnDiv {
  margin: 20px 0px 0px 0px;
}

.loginForm .lgnFrmSgInBtn {
  width: 100%;
  background-color: #2e1cc4;
  color: #ffffff;
  border-color: 2e1cc4;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  padding: 6px 0px 6px 0px;
  cursor: pointer;
  height: 49px;
}

.loginForm .lgnFrmSgInBtn:focus {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  outline: none;
}

.loginForm .lgnFrmRoboRow {
  margin: 20px 0px 0px 0px;
}

.loginForm .lgnFrmPlcyRow {
  margin: 20px 0px 20px 0px;
}

.lgnFrmCprtFtrDiv {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  border-top-width: thin;
  border-top-style: ridge;
  border-top-color: #a0a5b3;
  margin-top: 12px;
}

.lgnFrmCprtFtrDiv .lgnFrmCprtFtrP {
  font-size: 12.5px;
  color: #a0a5b3;
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

.input-group {
  height: 47px;
}

.mtop-content {
  margin-top: 5%;
}

.input-group>.custom-select:not(:first-child),
.input-group>.form-logincontrol:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-logincontrol,
.input-group>.form-control-plaintext {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.form-logincontrol {
  display: block;
  width: 100%;
  height: calc(2.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.teacher-slots .card {
  min-width: 256px;
  max-width: 256px;
}

.teacher-slots .card.active .card-body {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.teacher-slots .card.active {
  padding-bottom: 1rem;
}

.teacher-slots .take-attendence-btn {
  background: #efedff;
  color: black;
  font-size: 11px;
  width: 90px;
  height: 90px;
  border: 2px lightgray solid;
  float: right;
}

.teacher-slots .next-btn {
  width: 3%;
  background: black;
  opacity: 0.2;
  max-height: 118.8px;
  min-height: 118.8px;
  margin-left: -3%;
  margin-top: 23px;
}

.teacher-slots .next-btn i,
.teacher-slots .back-btn i {
  margin-top: 45px;
  margin-left: 30%;
}

.teacher-slots .back-btn {
  width: 3%;
  background: black;
  opacity: 0.2;
  max-height: 118.8px;
  min-height: 118.8px;
  margin-bottom: -143.8px;
  z-index: 1;
  margin-top: 89px;
}

.teacher-slots p {
  margin-bottom: 0;
}

.teacher-slots .test-btn {
  max-width: 5rem;
  padding: 3px 15px;
  background: #2E1CC4;
  border-color: #2E1CC4;
  font-size: 12px;
  outline: none
}

.teacher-slots .class-btn {
  padding: 3px 15px;
  /* background: #2E1CC4; */
  /* border-color: #2E1CC4; */
  font-size: 12px;
  outline: none
}

.students-syllabus-performance .thumb-img.active p.font-weight-lighter {
  font-size: 11px;
  margin-top: 0px;
  color: #858796;
}

.students-syllabus-performance .thumb-img p.font-weight-lighter {
  font-size: 11px;
  margin-top: 15px;
}

.students-syllabus-performance .circle-list {
  scrollbar-width: thin;
  flex-wrap: unset;
  overflow-y: hidden;
  padding-bottom: 1rem;
}

.students-syllabus-performance .thumb-img p {
  margin-bottom: 0;
  font-size: 24px;
}

.students-syllabus-performance .thumb-img {
  background-color: #efedff;
  background-size: 100% 100%;
  font-size: 17px;
  padding-top: 17px;
  margin: 30px 15px;
  min-width: 90px;
  min-height: 90px;
  max-width: 90px;
  max-height: 90px;
  text-align: center;
}

.student-attendence .thumb-img.active p.font-weight-lighter {
  font-size: 11px;
  margin-top: 0px;
  color: #858796;
}

.student-attendence .thumb-img p.font-weight-lighter {
  font-size: 11px;
  margin-top: 15px;
}

.student-attendence p {
  margin-bottom: 0;
}

.student-attendence .submit-btn {
  border: none;
  background-color: #2E1CC4;
  color: white;
  padding: 15px 0px;
  border-radius: 5px;
  margin: 15px 1px;
  font-size: 14px;
}

.student-attendence .student-row {
  border-bottom: .25px #cacaca solid;
}

.student-attendence p.father-name {
  font-size: 12px;
}

.student-attendence .thumb-img {
  background-color: #efedff;
  font-size: 17px;
  padding-top: 17px;
  margin: 0px 20px;
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  text-align: center;
  background-size: 100% 100%
}

.students-syllabus-performance .border-bottom-info {
  border-color: #EFEDFF !important;
}

.students-syllabus-performance .border-left-info {
  border-color: #EFEDFF !important;
}

.students-syllabus-performance .thumb-img.active {
  padding-top: 07px;
  background-color: #2E1CC4;
  color: white;
}

#sidebarToggle {
  margin-right: 8px;
}

.testpopup-template {
  border-radius: 8px;
}

.testpopup .t-header {
  margin: -1px -1px;
  background-color: #F0EDFF;
  height: 4rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.testpopup .t-header .t-close {
  float: right;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  color: #2E1CC4;
  font-weight: bold;
  background-color: #CAC3F7;
  outline: none;
}

.testpopup .t-header .t-header-title {
  max-width: 95%;
  float: left;
  margin-bottom: 0;
  font-weight: bold;
  padding: 6px 0px;
}

.testpopup .t-body {
  margin: -1px -1px;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.testpopup .t-body .push-test {
  border: none;
  background-color: #2E1CC4;
  color: white;
  padding: 15px 0px;
  border-radius: 5px;
  margin: 15px 1px;
  font-size: 14px;
}

.testpopup .t-body .input-title {
  margin: 20px 0px;
}

.selected-list .c-btn {
  border: 2px #F0EDFF solid;
}

.c-btn {
  font-size: .7rem;
}

.selected-list .c-angle-down,
.selected-list .c-angle-up {
  color: #2E1CC4;
}

.custom-slider .ng5-slider .ng5-slider-span.ng5-slider-bubble.ng5-slider-limit.ng5-slider-ceil {
  left: 12.5rem !important;
  top: -0.65rem;
  opacity: 1 !important;
}

.custom-slider .ng5-slider .ng5-slider-span.ng5-slider-bubble.ng5-slider-limit.ng5-slider-floor {
  left: -1.75rem !important;
  top: -0.65rem;
  opacity: 1 !important;
}

.custom-slider .ng5-slider {
  width: 12rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;
  margin-bottom: 2.35rem;
}

.custom-slider .ng5-slider .ng5-slider-bar {
  background: lightgrey;
  height: 5px;
}

.custom-slider .ng5-slider .ng5-slider-selection {
  background: purple;
}

.custom-slider .ng5-slider .ng5-slider-pointer {
  width: 15px;
  height: 15px;
  top: -6px;
  /* to remove the default positioning */
  bottom: 0;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 2px grey;
}

.custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}

.custom-slider .ng5-slider .ng5-slider-bubble {
  bottom: 14px;
}

.custom-slider .ng5-slider .ng5-slider-limit {
  font-weight: bold;
  color: orange;
}

.custom-slider .ng5-slider .ng5-slider-span.ng5-slider-bubble.ng5-slider-model-value {
  top: 15px;
  background: #F0EDFF;
  color: #2E1CC4;
  height: 25px;
  border-radius: 5px;
  width: 25px;
  text-align: center;
}

.custom-slider .ng5-slider .ng5-slider-span.ng5-slider-bar-wrapper.ng5-slider-selection-bar {
  visibility: visible !important;
}

.custom-slider .ng5-slider .ng5-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}

.custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
  background: orange;
}

.selected-list .c-list .c-token {
  background-color: #2E1CC4;
}

.selected-list .c-list .c-token .c-label {
  color: white;
  font-size: 11px;
}

.selected-list .countplaceholder {
  color: white;
  background: #2E1CC4;
  padding: 2px 3px;
  border-radius: 3px;
}

/* .amcharts-Container.amcharts-Label.amcharts-AxisLabel.amcharts-AxisLabelCircular {
  fill-opacity: 0;
}

.amcharts-Container.amcharts-Label.amcharts-AxisLabel {
  fill-opacity: 0;
} */

.amcharts-Sprite-group.amcharts-Container-group.amcharts-AmChartsLogo-group {
  display: none;
}

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 7px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.03s ease-in 0s;
}

.onoffswitch-inner:after,
.onoffswitch-inner:before {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "Present";
  padding-left: 7px;
  background-color: #31C534;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "Absent";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 20px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: -9px;
  bottom: 0;
  right: 66px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
  height: 39px;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: -9px;
}

.students-syllabus-performance .circle-list::-webkit-scrollbar {
  height: 6px;
}

.students-syllabus-performance .circle-list::-webkit-scrollbar-track {
  background: #ddd;
}

.students-syllabus-performance .circle-list::-webkit-scrollbar-thumb {
  background: #cacaca;
}


/* .loginForm .lgnFrmftr{
  position:absolute;
  bottom:0;
} */

.font-24 {
  font-size: 24px !important;
}

.font-22 {
  font-size: 22px !important
}

.font-20 {
  font-size: 20px !important
}

.font-18 {
  font-size: 18px !important
}

#performance_chartdiv,
#syllabus_chartdiv {
  height: 327px;
  width: 480px;
  margin: 0 auto;
  /* background-color: lavender; */
  border-radius: 17px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.teacher-performance-charts .amcharts-Container.amcharts-Label text {
  font-size: 12px;
}

.teacher-performance-charts {
  height: 250px;
  max-width: 415.5px;
  margin: 0 auto;
  /* background-color: lavender; */
  border-radius: 17px;
  margin-top: 15px;
  /* margin-bottom: 15px; */
}

.border-bottom-indigo {
  border-bottom: 6px solid indigo !important;
}

.border-right-indigo {
  border-right: 6px solid indigo !important;
}

.n-text-blue {
  color: #2E1CC4;
}

.n-modal-close span {
  color: #291ABF;
}

.n-modal-close {
  border-radius: 15px;
  background: #CEC7FA !important;
  width: 30px;
  height: 30px;
  margin: unset !important;
  padding: unset !important;
  outline: none !important;
}

.n-bg-lavender {
  background-color: lavender;
}

.modal-content {
  border: none !important
}

.n-btn-blue {
  background-color: #2E1CC4 !important;
  color: #fff !important;
  border: 1px solid transparent !important;
}

.n-btn-blue:hover {
  background-color: #fff !important;
  color: #2E1CC4 !important;
  border: 1px solid #2E1CC4 !important;
}

.notification-dropdown {
  max-height: 440px !important;
  overflow: auto !important;
  scrollbar-width: thin;
  z-index: 999999;
}

.notification-dropdown::-webkit-scrollbar {
  width: 6px;
}

.notification-dropdown::-webkit-scrollbar-track {
  background: #ddd;
}

.notification-dropdown::-webkit-scrollbar-thumb {
  background: #cacaca;
}

@media (max-width: 765px) {
  /* .sidebar.toggled {
    overflow: hidden;
    width: 4.5rem !important;
  } */
  /* .sidebar .nav-item .nav-link,
  .topbar .nav-item .nav-link {
    position: relative;
    align-items: flex-start;
    display: flex;
  } */
  /*
  .sidebar .sidebar-brand {
    height: 0rem;
    padding: 0rem;
  }
  .sidebar {
    margin-top: 5rem;
    position: absolute;
    width: auto;
  } */
  /*
  .title h4 {
    font-size: 14px !important;
  } */
  .time {
    display: none;
  }
  /* .topbar.navbar-light .navbar-nav .nav-item .nav-link {
    margin-top: 2rem;
  } */
  /*
  .sidebar .nav-item .nav-link {
    text-align: center;
    padding: .75rem 1rem;
    width: auto;
    right: 16px;
  } */
  .nameArea {
    left: 0px;
  }
  /* .sidebar .nav-item {
    position: static;
  } */
  .copyrightArea {
    left: 0px;
    display: none;
  }
  /* .logo {
    display: none;
  } */
  .notification {
    margin-top: 10px;
  }
}
@media (max-width: 1400px) {
  .send {
    width: 5em;
    font-size: 15px;
  }
}

@media (max-width: 1400px) {
  .send {
    width: 5em;
    font-size: 15px;
  }
}
.userImage {
  border-radius: 50%;
  background: #efedff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.shortName {
  color: #858796;
  font-size: 16px;
  font-weight: 600;
}


