.left-10 {
    left: 10px;
}

.addContact {
    font-size: 19px;
    color: white;
}

.sidebar {
    width: 14rem;
    /* z-index: 1000; */
    /* -webkit-transition: width .3s linear 0s !important;
  transition: width .3s linear 0s !important; */
}

.sidebar.toggled {
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .sidebar {
        margin-top: 5rem;
        /* -webkit-transition: width .3s linear 0s;
    transition: width .3s linear 0s; */
    }
    .sidebar.toggled {
        width: 3.5rem !important;
    }
    .sidebar.toggled .nav-item .nav-link {
        text-align: center;
        padding: .75rem 1rem;
        width: 3.5rem;
    }
    .initialNameArea {
        margin-left: -15px !important;
    }
}

.initialNameArea {
    margin-left: 0px;
    width: 75% !important;
}