<ul class="navbar-nav main-sidebar bg-gradient-primary sidebar sidebar-dark accordion toggled"
  style="background-image:url('assets/images/sidebar-back.png');position:fixed;z-index: 1000;" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" (click)="toggleMenu()"
    style="margin-top: 35px; margin-bottom: 50px;">
    <div class="" style="color:white">
      <img class="logo hidden" src="assets/images/logo.png">

    </div>
  </a>

  <!-- Sidebar Toggler (Sidebar) -->
  <!-- <div style="overflow-y: auto;max-height: 310px;height: 320px;"> -->
  <div>
    <!-- Nav Item - Dashboard -->
    <li class="">
      <!-- <a class="" href="#"> -->
      <span>
        <div class="row userInfo hidden" style="margin-right: 0px !important;margin-left: 7px !important;">
          <div class="col-md-2" *ngIf="user.photo" style="height: 40px; width: 40px;">
            <img src="{{user.photo}}" class="menuUserImg"
              (error)="user.photo = 'assets/images/Icons/default_avatar.png'" style="margin-left: -18px;">
          </div>
          <div class="userImage" *ngIf="!user.photo">
            <span class="shortName">{{initials}}</span>
          </div>
          <div class="col-md-8 nameArea initialNameArea">
            <div class="row">
              <div class="col-md-12">
                <span>{{user.first_name}} {{user.last_name}}</span>
              </div>
            </div>
            <div class="row nameDescArea">
              <div class="col-md-12">
                <span>{{ aboutUser }}</span>
              </div>
            </div>
          </div>
        </div>

      </span>
      <!-- </a> -->
    </li>
    <!-- Nav Item - Charts -->
    <li class="nav-item nav-sideMenu" style="left: 0px;"
      *ngIf="[UserRole.Student, UserRole.Parent, UserRole.Teacher].includes(user.role)">
      <a class="nav-link pointer" routerLink="/dashboard" (click)="toggleMenu()">
        <img class="menuIcon" src="assets/images/Icons/dashboard.png">
        <span class="hidden">Dashboard</span></a>
    </li>
    <!-- <li class="nav-item nav-sideMenu" style="left: 0px;"
      *ngIf="[UserRole.Student, UserRole.Parent, UserRole.Teacher].includes(user.role)">
      <a class="nav-link pointer" routerLink="/books">
        <img class="menuIcon" src="assets/images/Icons/book.svg">
        <span class="hidden">Library</span></a>
    </li> -->
    <li class="nav-item nav-sideMenu" style="left: 0px;" *ngIf="user.role === UserRole.Student">
      <a class="nav-link pointer" routerLink="/recommendations" (click)="toggleMenu()">
        <img class="menuIcon" src="assets/images/Icons/recommend.png">
        <span class="hidden">Recommendations</span></a>
    </li>
    <!-- <li class="nav-item nav-sideMenu" style="left: 0px;" *ngIf="user.role === UserRole.Student">
      <a class="nav-link pointer" routerLink="/history">
        <img class="menuIcon" src="assets/images/Icons/history.png">
        <span class="hidden">History</span></a>
    </li> -->
    <!-- <li class="nav-item nav-sideMenu" style="left: 0px;" *ngIf="user.role === UserRole.Student">
      <a class="nav-link pointer" (click)="onPracticeTest()">
        <img class="menuIcon" src="assets/images/Icons/test.png">
        <span class="hidden">Practice Test</span></a>
    </li> -->
    <li class="nav-item nav-sideMenu" style="left: 0px;"
      *ngIf="[UserRole.Student, UserRole.Parent, UserRole.Teacher].includes(user.role)">
      <a class="nav-link pointer" routerLink="/diary" (click)="toggleMenu()">
        <img class="menuIcon" src="assets/images/Icons/diary.png">
        <span class="hidden">Diary</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <!-- <li class="nav-item nav-sideMenu" style="left: 0px;" *ngIf="user.role === UserRole.Student">
      <a class="nav-link" href="#">
        <img class="menuIcon" src="assets/images/Icons/inbox.png">
        <span class="hidden">My Inbox</span></a>
    </li> -->
    <li class="nav-item nav-sideMenu" style="left: 0px;"
      *ngIf="[UserRole.Student, UserRole.Parent, UserRole.Teacher].includes(user.role)">
      <a class="nav-link" href="#" routerLink="/timetable" (click)="toggleMenu()">
        <img class="menuIcon" src="assets/images/Icons/calendar.png">
        <span class="hidden">Timetable</span></a>
    </li>
    <li class="nav-item nav-sideMenu" style="left: 0px;" *ngIf="user.role === UserRole.Student">
      <a class="nav-link pointer" routerLink="/attendance" (click)="toggleMenu()">
        <img class="menuIcon" src="assets/images/Icons/attendance.svg" style="color:white; filter: invert(1);">
        <span class="hidden">Attendance</span>
      </a>
    </li>
    <li class="nav-item nav-sideMenu" style="left: 0px;" *ngIf="user.role === UserRole.Student || user.role === UserRole.Teacher">
      <a class="nav-link pointer" routerLink="/recall-summary" (click)="toggleMenu()">
        <img class="menuIcon" src="assets/images/Icons/attendance_icon_w.png">
        <span class="hidden">Recall Summary</span>
      </a>
    </li>

    <!-- Nav items for admins and content devs -->
    <!-- <li class="nav-item nav-sideMenu" style="left: 0px;" *ngIf="user.role === UserRole.ContentAdmin">
      <a class="nav-link" routerLink="/admin/resources">
        <img class="menuIcon" src="assets/images/Icons/book.svg">
        <span class="hidden">Resources</span></a>
    </li> -->
    <li class="nav-item nav-sideMenu" style="left: 0px;" *ngIf="user.role === UserRole.ContentAdmin">
      <a class="nav-link" routerLink="/admin/questions" (click)="toggleMenu()">
        <img class="menuIcon" src="assets/images/Icons/book.svg">
        <span class="hidden">Questions</span></a>
    </li>

    <!-- <li class="nav-item nav-sideMenu" style="left: 0px;">
      <a class="nav-link" href="#">
        <img class="menuIcon" src="assets/images/Icons/diary.png">
        <span class="hidden">Profile</span></a>
    </li> -->

    <!-- To be moved to bottom sidebar later -->
    <li class="nav-item nav-sideMenu" style="left: 0px;">
      <a class="nav-link pointer" routerLink="/profile" (click)="toggleMenu()">
        <img class="menuIcon" src="assets/images/Icons/profile_icon.png">
        <span class="hidden">Profile</span></a>
    </li>
    <li class="nav-item nav-sideMenu" style="left: 0px;">
      <a class="nav-link pointer" routerLink="/help-feedback" (click)="toggleMenu()">
        <img class="menuIcon" src="assets/images/Icons/help.png">
        <span class="hidden">Help</span></a>
    </li>

  </div>

  <div class="bottomSideBar">
    <!-- <li class="nav-item nav-sideMenu" style="left: 0px;">
      <a class="nav-link pointer" routerLink="/profile" (click)="toggleMenu()">
        <img class="menuIcon" src="assets/images/Icons/profile_icon.png">
        <span class="hidden">Profile</span></a>
    </li>
    <li class="nav-item nav-sideMenu" style="left: 0px;">
      <a class="nav-link pointer" routerLink="/help-feedback" (click)="toggleMenu()">
        <img class="menuIcon" src="assets/images/Icons/help.png">
        <span class="hidden">Help</span></a>
    </li> -->
  </div>

  <div class="copyrightArea hidden">
    <hr class="custom-divider-sidebar"> © 2020 All Rights Reserved
  </div>


</ul>
<!-- End of Sidebar -->


<!-- Postional Attribute Small Navbar-->
<ul class="navbar-nav sidebar toggled">
  <li class="nav-item">
    <a class="nav-link">
      <span></span></a>
  </li>
</ul>
<!--End Postional Attribute Small Navbar-->

