/deep/ select.default-select {
  color: rgba(0, 0, 0, 0.25);
}
.q-body {
  font-size: 1.1em;
  border: 0.5px solid rgba(0,0,0,0.5);
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 3px;
}

.qtags {
  display: flex;
  align-items: center;
}

.spacer {
  flex-grow: 1;
  flex-basis: 0;
}

.qtype {
  margin: 0 1em;
  font-size: 0.8em;
  background: lightgreen;
  padding: 0.4em 0.8em;
  border-radius: 50px;
}

.verified-ques {
  background: lightgreen;
}

.rejected-ques {
  background: lightcoral;
}