<app-loader *ngIf="loadingTasks>0"></app-loader>
<div class="container m-3 p-5 bg-white shadow">
  <h3>Show questions by</h3>
  <div class="row mb-3 p-2">
    <div class="form-inline justify-content-center">
      <select class="form-control m-1" [(ngModel)]="classField" (ngModelChange)="classFieldChanged()">
        <option [ngValue]="null" selected>Class</option>
        <option *ngFor="let opt of (classOptions | async)" [value]="opt.gradeId">{{ opt.gradeName }}</option>
      </select>

      <select class="form-control m-1" [(ngModel)]="subjectField" [disabled]="!classField"
        (ngModelChange)="subjectFieldChanged()">
        <option [ngValue]="null" selected>Subject</option>
        <option *ngFor="let opt of (subjectOptions | async)" [value]="opt.subjectId">{{ opt.subjectName }}
        </option>
      </select>

      <select class="form-control m-1" [(ngModel)]="bookField" [disabled]="!subjectField"
        (ngModelChange)="bookFieldChanged()">
        <option [ngValue]="null" selected>Book</option>
        <option *ngFor="let opt of (bookOptions | async)" [value]="opt.bookId">{{ opt.title }}</option>
      </select>

      <select class="form-control m-1" [(ngModel)]="topicField" [disabled]="!bookField"
        (ngModelChange)="topicFieldChanged()">
        <option [ngValue]="null" selected>Topic</option>
        <option *ngFor="let opt of (topicOptions | async)" [value]="opt.topicId">{{ opt.topicName }}</option>
      </select>

      <select class="form-control m-1" [(ngModel)]="subtopicField" [disabled]="!topicField"
        (ngModelChange)="subtopicFieldChanged()">
        <option [ngValue]="null" selected>Subtopic</option>
        <option *ngFor="let opt of (subtopicOptions | async)" [value]="opt.subTopicId">{{ opt.subTopicName }}
        </option>
      </select>
    </div>
  </div>

  <div class="row mb-3 p-2">
    <div class="form-inline justify-content-center">
      <button class="btn btn-success" (click)="searchForQuestions()">Search for questions</button>
      <a class="btn btn-success ml-2" [ngClass]="{'disabled': !subtopicField}"
        [routerLink]="['/admin', 'edit-question']" target="_blank" routerLinkActive="active"
        [queryParams]="{createNew: 'true', subtopic: subtopicField, className: className, subjectName: subjectName, bookName: bookName, topicName: topicName, subTopicName: subTopicName}">Create
        new question</a>
    </div>
  </div>

  <div class="row mb-3 p-2" id="mathContent">
    <mat-accordion style="width: 100%">
      <mat-expansion-panel *ngFor="let question of (questions$ | async); let i = index">
        <mat-expansion-panel-header>
          <!-- [ngClass]="{'verified-ques': question.isVerified, 'unverified-ques': !question.isVerified && !question.reason, 'rejected-ques': !question.isVerified && question.reason}" -->
          <mat-panel-title style="align-items: center">
            <span style="min-width: 3em; font-size:0.9em">{{ question.id }}. &nbsp;</span>
            <span>
              {{ question.question | truncate:125:true }}
            </span>
            <span style="flex-grow: 1;flex-basis:0"></span>
            <mat-icon *ngIf="question.isVerified" style="color:green">check_circle</mat-icon>
            <mat-icon *ngIf="!question.isVerified && question.reason" style="color:#FF5733">cancel</mat-icon>
            <button mat-icon-button color="primary" (click)="previewQuestion(question)">
              <mat-icon>play_circle_outline</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="exp-panel-body">
          <div class="q-body">
            <div>{{ question.question }}</div>
            <div class="options">
              <div class="option" *ngFor="let opt of question.options; let i= index">&nbsp;&nbsp;{{i+1}})
                &nbsp; {{opt}}</div>
            </div>
            <div>
              Correct option: {{ question.correctAnswer }}
            </div>
          </div>
          <div class="qtags">
            <span>
              Class: {{ question.class }}
              &nbsp;|&nbsp;
              Subject: {{ question.subject }}
              &nbsp;|&nbsp;
            </span>
            <span class="qtype" *ngIf="question.type==='SCO'">SINGLE CORRECT OPTION</span>
            <span class="qtype" *ngIf="question.type==='MCO'">MULTIPLE CORRECT OPTION</span>
            <span class="qtype" *ngIf="question.type==='TRUE_FALSE'">TRUE/FALSE</span>
            <span class="qtype" *ngIf="question.type==='FILL_IN_THE_BLANK'">FILL_IN_THE_BLANK</span>
            <span class="qtype" *ngIf="question.type==='MATCH_THE_COLUMNS'">MATCH_THE_COLUMNS</span>
            <span class="qtype" *ngIf="question.type==='DESCRIPTIVE'">DESCRIPTIVE</span>
            <span class="spacer"></span>
          </div>
          <div>
            Book: {{ question.book }} <br>
            Topic: {{ question.topic }} <br>
            Subtopic: {{ question.subtopic }} <br>
            Created By: {{ question.createdBy }}
          </div>
        </div>
        <mat-action-row>
          <!-- <button mat-button color="warn">Previous</button> -->
          <a class="btn btn-primary" color="primary" [routerLink]="['/admin','edit-question']" target="_blank"
            routerLinkActive="active" [queryParams]="{questionId: question.id}">EDIT</a>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="15">15 items per page</option>
        <option [ngValue]="20">20 items per page</option>
      </select>
    </div>
  </div>
</div>
