/* .slotCard {
margin: 8px;
} */


.pop-up-container {
    padding: 2.5rem;
}

.popup-header {
    position: relative;
    padding-top: 1.95rem;
    padding-bottom: 1.95rem;
    user-select: none;
    align-items: center;
    height: 49px;
    background-color: #EFEDFF;
}

.image-icon {
    width: 1.75rem !important;
    margin-right: 10px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.display-center {
    display: flex;
    justify-content: center;
}

.push-button {
    background-color: #2E1CC4;
    margin-top: 19px;
    /* margin-bottom: 39px; */
    border-radius: 0.2em;
    width: 39%;
    color: #fff;
    text-align: center;
}

.class_link {
    padding: 15px;
}

.class-icon {
    cursor: pointer;
    display: inline-block;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.class-icon:hover {
    transition: transform .5s ease;
    transform: scale(1.2);
}

.class-icon img {
    display: block;
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}
