<app-loader *ngIf="showLoader"></app-loader>
<div class="teacher-slots row ml-1 mr-1 ">
  <div class="back-btn setZIndexFlex" (click)="back()">
    <i class="fas fa-angle-left fa-2x"></i>
  </div>
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem class="card col p-0 slotCard"
      [ngClass]="{'active border-bottom shadow-lg': isActiveSlot(item),'mt-4 mb-4':!isActiveSlot(item)}"
      *ngFor="let item of timetableDailySchedules">
      <div class="card-body" *ngIf="!isActiveSlot(item)">
        <p class="font-20">{{item.starttime}} - {{item.endtime}}</p>
        <br />
        <p class="mb-0"><b class="text-black">{{item.school_grade_name}} {{item.section_name}}</b><span
            class="float-right">{{item.school_subject_name}}</span></p>
      </div>
      <div class="card-body pb-0" *ngIf="isActiveSlot(item)">
        <div class="row mb-2">
          <div class="col text-black">
            <p class="font-20"><b>{{item.starttime}}</b></p>
            <b class="font-20">
              <pre class="mb-0">-</pre></b>
            <p class="font-20"><b>{{item.endtime}}</b></p>
          </div>
          <div class="col pr-2">
            <button class="btn btn-circle btn-default take-attendence-btn"
              [routerLink]="['/student-attendence/', item.school_grade_section_id]">Take Attendance</button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5">
            <p class="mb-0 mt-1"><b class="text-black">{{item.school_grade_name}} {{item.section_name}}</b>
            </p>
          </div>
          <div class="col-7">
            <p class="mb-0 mt-1"><span class="float-right">{{item.school_subject_name}}</span></p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-4">
            <p class="mb-0 mt-1" *ngIf="item.recall_available"><button class="btn btn-primary test-btn"
                (click)="openPopUp(item.school_grade_section_id,item.school_subject_name,item.school_subject_id,item.school_grade_subject_id)">Recall</button>
            </p>
          </div>
          <div class="col-8">
            <p class="mb-0 mt-1"><button class="btn btn-info class-btn float-right"
                (click)="classModeSelection(item, classSelectionPopup)">Live Class</button></p>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
  <div class="next-btn" (click)="next()">
    <i class="fas fa-angle-right  fa-2x"></i>
  </div>
</div>


<img src="https://dznvyvcu8qlyz.cloudfront.net/static/meet.png" style="display: none;"/>
<img src="https://dznvyvcu8qlyz.cloudfront.net/static/zoom1.png" style="display: none;"/>
<img src="https://dznvyvcu8qlyz.cloudfront.net/static/skype.png" style="display: none;"/>

<ng-template #classSelectionPopup let-modal>
  <div class="popup-header main container">
    <div><span class="m-0 pl-10 font-weight-bold pop-up-font">Classroom Type</span></div>
    <div>
      <!-- <span><img class="image-icon" src="assets/images/Icons/maximize_icon2x.png"></span> -->
      <span><img class="image-icon" src="assets/images/Icons/cross_icon@2x.png" (click)="onCloseModalClassroom()"></span>
    </div>
  </div>
  <div class="pop-up-container display-center">
    <div class="class-icon" (click)="startLiveClassV3(CLASS_MODE.MEET, classroomUrlPopup, notificationPopup)">
      <img src="https://dznvyvcu8qlyz.cloudfront.net/static/meet.png"/>
      Meet
    </div>
    <div class="class-icon" (click)="startLiveClassV3(CLASS_MODE.ZOOM, classroomUrlPopup, notificationPopup)">
      <img src="https://dznvyvcu8qlyz.cloudfront.net/static/zoom1.png"/>
      Zoom
    </div>
    <div class="class-icon" (click)="startLiveClassV3(CLASS_MODE.SKYPE, classroomUrlPopup, notificationPopup)">
      <img src="https://dznvyvcu8qlyz.cloudfront.net/static/skype.png"/>
      Skype
    </div>
  </div>
</ng-template>


<ng-template #classroomUrlPopup let-modal>
  <div class="popup-header main container">
    <div><span class="m-0 pl-10 font-weight-bold pop-up-font">Live Classroom</span></div>
    <div>
      <!-- <span><img class="image-icon" src="assets/images/Icons/maximize_icon2x.png"></span> -->
      <span><img class="image-icon" src="assets/images/Icons/cross_icon@2x.png" (click)="onCloseModalClassroom()"></span>
    </div>
  </div>
  <div class="pop-up-container">
    <form>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="Enter classroom link here" name="meetUrl" [(ngModel)]="meetUrl">
        </div>
      </div>
    </form>
    <div class="row display-center">
      <button type="button" class="push-button btn pointer" (click)="notifyStudents(meetUrl, true)">Notify Students</button>
    </div>
  </div>
</ng-template>

<ng-template #notificationPopup let-modal>
  <div class="pop-up-container" style="text-align: center;">
    <form>
      <div class="form-group">
      Classroom notification sent to students.
      </div>
    </form>
    <div>
      <button type="button" class="push-button btn pointer" (click)="onCloseModalClassroom()">Got it!</button>
    </div>
  </div>
</ng-template>
