<div class="col-xl-12 col-md-12 mb-12 noticeBoard card shadow border-right-indigo" *ngIf="showNotification === true">
    <div class="row" style="height: 28px;margin-top: 17px;">
            <marquee direction="left" width="95%">
                <div *ngFor="let item of feeds" style="margin-right:20px;display: inline;position: static;"><span class="dotFeed" style="margin-right:5px"></span>
                    {{item}}
                </div>
            </marquee>
    </div>
</div>