<div style="height: 85vh;">

<div class="card shadow mb-4 border-bottom-indigo card-padding" >
	<!-- Card Header - Dropdown -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
		<h6 class="m-0 font-weight-bold">Recommendations</h6>
	</div>
	<!-- Card Body -->
	<div class="card-body">
		<div class="row">
			<!-- Classic tabs -->
			<div class="classic-tabs col-md-12">
				<ul class="nav tabs-cyan m-b-10 tab-ul" id="RecommedationTab" role="tablist">
					<li (click)="ChangeTab(item.id, item.schoolSubjectId)" class="m-b-10"
						*ngFor="let item of Subjects;index as i">
						<a [attr.class]="i==0?'nav-link waves-light tab-border-bottom tab-link-active active show':'nav-link waves-light tab-link'"
							[attr.id]="item.SubjectName.replace(' ','-') + '-tab-classic'"
							[attr.href]="'#'+item.SubjectName.replace(' ','-') + '-classic'"
							[attr.aria-controls]="item.SubjectName.replace(' ','-') + '-classic'"
							[attr.aria-selected]="i==0?'true':'false'" role="tab"
							data-toggle="tab">{{item.SubjectName}}</a>
					</li>
				</ul>
				<ul class="nav tabs-cyan dropdown-ul" id="TopicDropdowns" role="tablist">
					<li class="m-b-10">
						<div class="dropdown">
							<button [disabled]="IsTopicDisable"
								class="btn btn-default dropdown-toggle bo-co-lig m-r-35 b-r-0 dd-btn t-dd-tog"
								type="button" id="dropdownTopicButton" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								All Topics
							</button>
							<div class="dropdown-menu dd-btn" aria-labelledby="dropdownTopicButton">
								<li><a (click)="ChangeTopic(null)" class="dropdown-item pointer dropdownTopicItem">All Topics</a></li>
								<li><a *ngFor="let item of Topics" class="dropdown-item pointer dropdownTopicItem w-s-normal"
							(click)="ChangeTopic(item.id)">{{item.TopicName}}</a></li>
							</div>
						</div>
					</li>
					<li class="m-b-10">
						<div class="dropdown">
							<button [disabled]="IsSubTopicDisable"
								class="btn btn-default dropdown-toggle bo-co-lig b-r-0 dd-sub-btn st-dd-tog" type="button"
								id="dropdownSubTopicButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								All Subtopics
							</button>
							<div class="dropdown-menu dd-sub-btn" aria-labelledby="dropdownSubTopicButton">
								<li><a class="dropdown-item pointer dropdownSubTopicItem" (click)="ChangeSubTopic(null)">All Subtopics</a></li>
								<li><a *ngFor="let item of SubTopics" class="dropdown-item pointer dropdownSubTopicItem w-s-normal"
										(click)="ChangeSubTopic(item.id)">{{item.SubTopicName}}</a>
								</li>
							</div>
						</div>
					</li>
				</ul>
			</div>
<div class="tab-content rounded-bottom div-left col-md-12" id="RecommendationsTabContent">
	<div *ngFor="let item of Subjects;index as i" [attr.class]="i==0?'tab-pane fade active show':'tab-pane fade'"
		[attr.id]="item.SubjectName.replace(' ','-') + '-classic'" role="tabpanel"
		[attr.aria-labelledby]="item.SubjectName.replace(' ','-') + '-tab-classic'">
		<div class="row m-r-rem m-t-20">
			<div (click)="selectedTitle=reco.title;selectedRecommendationType=reco.type;selectedRecommendationDesc=reco.desc;open(reco);modalRoot.show()"
				*ngFor="let reco of RecommedationList" class="col-md-2 mrg-ri m-b-40">
				<a class="d-block m-b-5 pointer po-rel">
					<img class="img-fluid rec-img bo-ra-10" [attr.src]="reco.thumbnail" alt="">
					<span *ngIf="reco.type=='VIDEO'" class="centered recplayicon"></span>
					<span *ngIf="reco.type=='AUDIO'" class="centered recmicicon"></span>
					<span *ngIf="reco.type=='TEXT'" class="centered rectexticon"></span>
				</a>
				<div>
					<span class="m-t-10 f-w-6h recoDetails">{{reco.title}}</span><br />
					<span class="f-s-12 recoDetails">{{reco.desc}}</span>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Classic tabs -->
</div>
</div>
<i *ngIf="RecommedationList.length == 0" style="padding-left: 1.25rem;">No new recommendations.</i>
<div *ngIf="MaxPaginationSize > 1" class="pagination justify-content-center">
	<a class="f-s-30 pointer" (click)="Previous()">
		<mat-icon aria-hidden="false" aria-label="Example navigate_before icon" class="iconArrow">navigate_before</mat-icon>
	</a>
	<a *ngFor="let i of Pagination" [attr.id]="'Page-'+i" (click)="ChangePagination(i)"
		[attr.class]="i==1?'active m-t-10 pointer':'m-t-10 pointer'" class="iconArrow">{{i}}</a>
	<a class="f-s-30 pointer" (click)="Next()">
		<mat-icon aria-hidden="false" aria-label="Example navigate_next icon" class="iconArrow">navigate_next</mat-icon>
	</a>
</div>
</div>
</div>
<app-modal #modalRoot [modalTitle]="selectedTitle" [modalType]="selectedRecommendationType" [zIndex]="zIndex"
	[maximizable]="true">
	<ng-container class="app-modal-body">
		<div class="modal-fluid">
			<iframe class="e2e-iframe-trusted-src col-md-12 p-l-0 p-r-0 video-h-w"
				*ngIf="selectedRecommendationType==='VIDEO'" [src]="modalContent" frameborder="0"
				allowfullscreen></iframe>
			<audio class="audio-width m-t-30" *ngIf="selectedRecommendationType=='AUDIO'" controls="">
				<source [src]="modalContent" type="audio/wav">
			</audio>
			<div class="m-40" *ngIf="selectedRecommendationType=='TEXT'" [innerHTML]="modalContent"></div>
			<p *ngIf="selectedRecommendationType=='TEXT'" class="text-border-top"></p>
			<p *ngIf="selectedRecommendationType!='VIDEO'" class="m-l-20 m-t-10">{{selectedRecommendationDesc}}</p>
		</div>
	</ng-container>
</app-modal>
<app-loader *ngIf="showLoader"></app-loader>