<app-loader *ngIf="showLoader"></app-loader>
<div *ngIf="showResumeWindow" class="card shadow mb-4 border-bottom-blue card-padding-history">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold al-ce-his" *ngIf="metaObj.type !== 'RECALL'">Practice</h6>
    <h6 class="m-0 font-weight-bold al-ce-his" *ngIf="metaObj.type == 'RECALL'">Recall</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <p>{{metaObj.schoolSubjectName}} &nbsp; > &nbsp;{{metaObj.topicName}} &nbsp; >
          &nbsp;{{metaObj.subtopicName}}</p>
      </div>
      <div class="col-lg-4">
        <span class="header">
          <p class="minutes-display"><span class="number-display">{{countDownMinutes}} </span> Minutes <span
              class="number-display">{{countDownSeconds}}
            </span> Seconds Left</p>
          &nbsp;
          <div class="text-primary">
            <circle-progress [startFromZero]="true" [percent]="minutes" [radius]="20" [outerStrokeWidth]="2"
              [space]="-2" [innerStrokeWidth]="2" [showTitle]="true" [title]="countDownMinutes" [showUnits]="false"
              [showSubtitle]="false" [showInnerStroke]="true" [showZeroOuterStroke]="true" [animation]="false"
              [titleFontSize]="13">
            </circle-progress>
          </div>

          &nbsp;:&nbsp;
          <div class="text-primary">
            <circle-progress [startFromZero]="true" [percent]="seconds" [radius]="20" [outerStrokeWidth]="2"
              [space]="-2" [innerStrokeWidth]="2" [showTitle]="true" [title]="countDownSeconds" [showUnits]="false"
              [showSubtitle]="false" [showInnerStroke]="true" [showZeroOuterStroke]="true" [animation]="false"
              [titleFontSize]="13">
            </circle-progress>
          </div>
        </span>
      </div>
    </div>

    <div class="border">
      <div class="row footer">
        <div class="container-fluid">
          <div class="row center-content">
            <div>
              <button type="button" class="btn btn-resume btn-success" (click)="onResume()">Resume
                Test</button>
            </div>
            &nbsp; &nbsp; &nbsp;
            <div>
              <button type="button" class="btn btn-resume btn-danger" (click)="onEndTest()">End Test</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="practice-test" #modalRoot class="card shadow mb-4 border-bottom-blue card-padding-history">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold al-ce-his" *ngIf="metaObj.type !== 'RECALL'">Practice</h6>
    <h6 class="m-0 font-weight-bold al-ce-his" *ngIf="metaObj.type == 'RECALL'">Recall</h6>
  </div>
  <div id="mathContent" class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <p>{{metaObj.schoolSubjectName}} &nbsp; > &nbsp;{{metaObj.topicName}} &nbsp; >
          &nbsp;{{metaObj.subtopicName}}</p>
      </div>
      <div class="col-lg-4">
        <span class="header">
          <p class="minutes-display"><span class="number-display">{{countDownMinutes}} </span> Minutes <span
              class="number-display">{{countDownSeconds}}
            </span> Seconds Left</p>
          &nbsp;
          <div class="text-primary">
            <circle-progress [startFromZero]="true" [percent]="minutes" [radius]="20" [outerStrokeWidth]="2"
              [space]="-2" [innerStrokeWidth]="2" [showTitle]="true" [title]="countDownMinutes" [showUnits]="false"
              [showSubtitle]="false" [showInnerStroke]="true" [showZeroOuterStroke]="true" [animation]="false"
              [titleFontSize]="13">
            </circle-progress>
          </div>

          &nbsp;:&nbsp;
          <div class="text-primary">
            <circle-progress [startFromZero]="true" [percent]="seconds" [radius]="20" [outerStrokeWidth]="2"
              [space]="-2" [innerStrokeWidth]="2" [showTitle]="true" [title]="countDownSeconds" [showUnits]="false"
              [showSubtitle]="false" [showInnerStroke]="true" [showZeroOuterStroke]="true" [animation]="false"
              [titleFontSize]="13">
            </circle-progress>
          </div>
        </span>
      </div>
    </div>

    <div class="border">
      <div class="box-scroll">
        <div class="question-box">
          <label class="dot">{{currentQuestionNo}}.</label>
          <div id="heading"></div>
        </div>
        <div class="check-container" *ngIf="currentQuestionObj.type == 'MCO'">
          <div class="row">
            <div class="check" *ngFor="let row of rows;let rowindex = index">
              <div *ngFor="let option of row;let i = index">
                <input id="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="checkbox-custom"
                  name="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" [value]="option"
                  [checked]="answerObj.questions[currentQuestionNo - 1].answer.indexOf(option) > -1"
                  (change)="onCheckboxChange($event,option)" type="checkbox">
                <label for="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="checkbox-custom-label chekcoustm"
                  [innerHtml]="option"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="check-container" *ngIf="currentQuestionObj.type == 'SCO'">
          <div class="row">
            <div class="check" *ngFor="let row of rows;let rowindex = index">
              <div *ngFor="let option of row;let i = index">
                <input type="radio" id="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="radiobox-custom"
                  name="checkbox-{{currentQuestionNo}}" [value]="option"
                  [(ngModel)]="answerObj.questions[currentQuestionNo - 1].answer">
                <label for="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="radiobox-custom-label chekcoustm"
                  [innerHtml]="option"></label>
              </div>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="currentQuestionObj.type == 'match_the_following'">
        <div class="check-container">
          <div class="row">
            <div class="check check-left">
              <div *ngFor="let row of currentQuestionObj.columns[0];let rowindex = index">
                <label for="checkbox-{{currentQuestionNo}}{{rowindex}}"
                  class="radiobox-custom-label chekcoustm">{{rowindex +1}}. {{row}}</label>
              </div>
            </div>
            <div class="check">
              <div *ngFor="let row of currentQuestionObj.columns[1];let rowindex = index">
                <label for="checkbox-{{currentQuestionNo}}{{rowindex}}" class="radiobox-custom-label chekcoustm">
                  {{alphabets[rowindex]}}. {{row}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="check-container">
          <div class="row">
            <div class="check" *ngFor="let row of rows;let rowindex = index">
              <div *ngFor="let option of row;let i = index">
                <input id="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="radiobox-custom"
                  name="checkbox-{{currentQuestionNo}}" [value]="option"
                  [(ngModel)]="answerObj.questions[currentQuestionNo - 1].answer" type="radio">
                <label for="checkbox-{{currentQuestionNo}}{{rowindex}}{{i}}" class="radiobox-custom-label chekcoustm"
                  [innerHtml]="option"></label>
              </div>
            </div>
          </div>
        </div>
      </div> -->
        <div class="check-container" *ngIf="currentQuestionObj.type == 'TRUE_FALSE'">
          <div class="row" *ngFor="let option of trueFalse;let i = index">
            <div class="check">
              <div>
                <input id="checkbox-{{currentQuestionNo}}{{i}}" [value]="option.key"
                  [(ngModel)]="answerObj.questions[currentQuestionNo - 1].answer" class="radiobox-custom"
                  name="checkbox-{{currentQuestionNo}}" type="radio">
                <label for="checkbox-{{currentQuestionNo}}{{i}}"
                  class="radiobox-custom-label chekcoustm">{{option.value}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row footer">
        <div class="container-fluid">
          <div class="row next">
            <div class="col-lg-4 col-xs-6">
              <button type="button" (click)="onPreviousClick()" [disabled]="currentQuestionNo == 1"
                class="btn form-btn btn-outline-secondary">Prev</button>
              <button type="button" (click)="onNextClick()" [disabled]="currentQuestionNo == questionsLength"
                class="btn form-btn btn-outline-primary">Next</button>
            </div>
            <div class="row col-lg-6 col-xs-6 next">
              <div>
                <ul class="pagination">
                  <li><a
                      [ngClass]="{'complexity-1': currentQuestionObj.score == 1 || currentQuestionObj.score == 2|| currentQuestionObj.score == 3 || currentQuestionObj.score == 4 || currentQuestionObj.score == 5}"></a>
                  </li>
                  <li><a
                      [ngClass]="{'complexity-2': currentQuestionObj.score == 2 || currentQuestionObj.score == 3 || currentQuestionObj.score == 4 || currentQuestionObj.score == 5}"></a>
                  </li>
                  <li><a
                      [ngClass]="{'complexity-3': currentQuestionObj.score == 3 || currentQuestionObj.score == 4 || currentQuestionObj.score == 5}"></a>
                  </li>
                  <li><a
                      [ngClass]="{'complexity-4': currentQuestionObj.score == 4 || currentQuestionObj.score == 5}"></a>
                  </li>
                  <li><a [ngClass]="{'complexity-5': currentQuestionObj.score == 5}"></a></li>
                </ul>
              </div>
              <div>
                <span class="count">{{currentQuestionNo}} of {{questionsLength}}</span>
              </div>
            </div>
            <div class="col-lg-2 col-xs-6">
              <button class="btn form-btn primary-btn pull-right" [disabled]="endTestClicked" (click)="onEndTest()">End
                Test
                <span *ngIf="endTestClicked" class="spinner-gap spinner-grow spinner-grow-sm" role="status"
                  aria-hidden="true"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
