<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card shadow mb-4 border-right-indigo imgDivBack"
            style="background-image: url('assets/images/Icons/sliderback.png');">
            <!-- Card Header - Dropdown -->
            <div class="card-header dash_count py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Top Recommendations
                    <a class="text-decoration-none moreLink" [routerLink]="['/recommendations']">View More</a>
                    <span class="videos_count">1 of 6</span>
                </h6>                
                <!-- <div class=""><span *ngIf="recommendations !== undefined">{{recommendations.length}}</span></div> -->
            </div>
            <!-- Card Body -->
            <div class="card-body" *ngIf="recommendations.length == 0" style="font-style: italic;">No recommendations to show.</div>
            <div class="card-body recommdation_videos" *ngIf="recommendations.length > 0">
                <div class="carousel_leftblock">
                    <span class="fa fa-angle-left carouselBtn-next pointer" aria-hidden="true" (click)="back()"></span>
                </div>
                <div style="" class="carousel_midblock">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                        <div ngxSlickItem class="slide" *ngFor="let recommendation of recommendations"
                            style="width:300px;">
                            <a (click)="selectedTitle=recommendation.title;
                            selectedRecommendationType=recommendation.type;
                            selectedRecommendationDesc=recommendation.desc;
                            open(recommendation);modalRoot.show()" class="d-block m-b-5 pointer po-rel">
                                <img class="Video-size" src={{recommendation.thumbnail}} alt="" width="100%" style="border-radius: 0.35rem;"/>
                                <div class="video_infos">
                                    <h4> {{recommendation.title}} </h4>
                                    <p>Description description description desc</p>
                                    <div class="vid_tags">Tag1 </div>
                                </div> 
                                <span *ngIf="recommendation.type=='VIDEO'" class="centered recplayicon"></span>
                                <span *ngIf="recommendation.type=='AUDIO'" class="centered recmicicon"></span>
                                <span *ngIf="recommendation.type=='TEXT'" class="centered rectexticon"></span>
                            </a>
                        </div>
                    </ngx-slick-carousel>
                </div>
                <div class="carousel_rightblock" >
                    <span class="fa fa-angle-right carouselBtn-next pointer" aria-hidden="true" (click)="next()"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal #modalRoot [modalTitle]="selectedTitle" [modalType]="selectedRecommendationType" [zIndex]="zIndex"
    [maximizable]="true">
    <ng-container class="app-modal-body">
        <div class="modal-fluid">
            <iframe class="e2e-iframe-trusted-src col-md-12 p-l-0 p-r-0 video-h-w"
                *ngIf="selectedRecommendationType==='VIDEO'" [src]="modalContent" frameborder="0"
                allowfullscreen>
            </iframe>
                <audio class="audio-width m-t-30" *ngIf="selectedRecommendationType=='AUDIO'" controls="">
                    <source [src]="modalContent" type="audio/wav">
                </audio>
            <div class="m-40" *ngIf="selectedRecommendationType=='TEXT'" [innerHTML]="modalContent"></div>
                <p *ngIf="selectedRecommendationType=='TEXT'" class="text-border-top"></p>
                <p *ngIf="selectedRecommendationType!='VIDEO'" class="m-l-20 m-t-10">{{selectedRecommendationDesc}}</p>
            </div>
    </ng-container>
</app-modal>