<div class="container">
    <div class="d-flex justify-content-center">
        <button type="button" class="btn" [ngClass]="resourceType==='books'?'btn-primary':'btn-secondary'"
            routerLink="/admin/resources/books">Books</button>
        <button type="button" class="btn" [ngClass]="resourceType==='videos'?'btn-primary':'btn-secondary'"
            routerLink="/admin/resources/videos">Videos</button>
        <button type="button" class="btn" [ngClass]="resourceType==='articles'?'btn-primary':'btn-secondary'"
            routerLink="/admin/resources/articles">Articles</button>
    </div>
</div>
<div class="container">
    <app-search-books *ngIf="resourceType==='books'"></app-search-books>
</div>