<div [ngClass]="{'full-screen': goFullScreen}" class="fs-wrapper bg-white card shadow mb-4 border-bottom-indigo">
    <div class="h">
        <div class="card-header py-3">
            <h6 class=" m-0 font-weight-bold text-primary">Notebook</h6>
        </div>
        <!-- <button mat-raised-button color="danger" (click)="clear()">Clear canvas</button> -->
        <!-- <button mat-raised-button (click)="startLine()">Draw line</button> -->
        <div class="buttons">
            <button mat-icon-button (click)="startFreehand()"
                [ngClass]="{'active-button': overlayStatus === OVERLAY_STATUS.PENCIL}" matTooltip="Pencil tool">
                <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button (click)="startLine()"
                [ngClass]="{'active-button': overlayStatus === OVERLAY_STATUS.LINE}" matTooltip="Line tool">
                <mat-icon>height</mat-icon>
            </button>
            <button mat-icon-button (click)="startRect()"
                [ngClass]="{'active-button': overlayStatus === OVERLAY_STATUS.RECTANGLE}" matTooltip="Rectangle tool">
                <mat-icon svgIcon="draw_rectangle"></mat-icon>
            </button>
            <button mat-icon-button (click)="startEllipse()"
                [ngClass]="{'active-button': overlayStatus === OVERLAY_STATUS.ELLIPSE}" matTooltip="Ellipse tool">
                <mat-icon svgIcon="draw_ellipse"></mat-icon>
            </button>
            <button mat-icon-button (click)="startErase()" matTooltip="Eraser tool"
                [ngClass]="{'active-button': overlayStatus === OVERLAY_STATUS.ERASE}">
                <mat-icon svgIcon="custom_clean"></mat-icon>
            </button>
            <button mat-icon-button (click)="clear()" matTooltip="Clear canvas">
                <mat-icon>close</mat-icon>
            </button>
            <!-- <mat-form-field>
                <input matInput [ngxMatColorPicker]="picker" [formControl]="brushColor">
                <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
                <ngx-mat-color-picker #picker color="primary"></ngx-mat-color-picker>
            </mat-form-field> -->
            <mat-slider [(ngModel)]="brushSize" [max]="100" [min]="1" [thumbLabel]="true" matTooltip="Stroke thickness">
            </mat-slider>
            <button mat-icon-button [disabled]="paletteDisabled" [(colorPicker)]="brushColor" [style.color]="brushColor"
                [cpAlphaChannel]="'disabled'" matTooltip="Select color" [cpPosition]="'bottom-left'">
                <mat-icon>palette</mat-icon>
            </button>
            <!-- <input /> -->
            <button mat-icon-button (click)="saveImage()" matTooltip="Save image">
                <mat-icon>get_app</mat-icon>
            </button>
            <button mat-icon-button (click)="toggleFullScreen()" *ngIf="!goFullScreen"
                [matTooltip]="'Enter fullscreen'">
                <mat-icon>launch</mat-icon>
            </button>
            <button mat-icon-button (click)="toggleFullScreen()" *ngIf="goFullScreen" [matTooltip]="'Exit fullscreen'">
                <mat-icon class="mat-icon-exit-full-screen">launch</mat-icon>
            </button>
        </div>
    </div>
    <div class="wrapper bg-white">
        <canvas id="notepad" #notepad>
            Your browser does not support the canvas element.
        </canvas>
        <canvas id="overlay" #overlay [ngStyle]="{'display': overlayVisible ? 'block' : 'none'}">
            Your browser does not support the canvas element.
        </canvas>
    </div>
</div>