canvas {
    /* border: 1px solid #000; */
    display: block;
    width: 100%;
    touch-action: none;
}

#notepad {
    position: relative;
}

.wrapper {
    position: relative;
}
.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.fs-wrapper {
    /* padding: 0.5em; */
    height: 95%;
}

.full-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999998;
}

.active-button {
    background-color: #2E1CC4 !important;
    color: white;
}

.card-header {
    flex-grow: 1;
    flex-basis: 0;
}

.card-header h6 {
    font-size: 20px;
    color: black !important;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    flex-wrap: wrap;
    padding: 0.2em;
    align-items: center;
}

.buttons button {
    background-color: rgba(46, 28, 196, 0.1);
    margin: 0 0.3em;
}

.buttons mat-icon {
    position: relative;
    top: -1px;
}

.h {
    display: flex;
}

.mat-slider-horizontal  {
    z-index: 0;
}

.mat-icon-exit-full-screen {
    transform: rotate(180deg);
}
