<div class="card shadow mb-4 border-bottom-indigo card-padding-history">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary al-ce-his">History</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="row">
            <!-- Classic tabs -->
            <div class="classic-tabs col-md-12">
                <ul class="nav tabs-cyan m-b-10 tab-ul" id="HistoryTab" role="tablist">
                    <li (click)="ChangeTab(item.id)" class="m-b-10" *ngFor="let item of Subjects;index as i">
                        <a [attr.class]="i==0?'nav-link waves-light tab-border-bottom tab-link-active active show':'nav-link waves-light tab-link'" [attr.id]="item.SubjectName.replace(' ','-') + '-tab-classic'" [attr.href]="'#'+item.SubjectName.replace(' ','-') + '-classic'"
                            [attr.aria-controls]="item.SubjectName.replace(' ','-') + '-classic'" [attr.aria-selected]="i==0?'true':'false'" role="tab" data-toggle="tab">{{item.SubjectName}}</a>
                    </li>
                </ul>
                <ul class="nav tabs-cyan dropdown-ul" id="TopicDropdowns" role="tablist">
                    <li class="m-b-10">
                        <div class="dropdown">
                            <button [disabled]="IsTopicDisable" class="btn btn-default dropdown-toggle bo-co-lig m-r-35 b-r-0 dd-btn t-dd-tog" type="button" id="dropdownTopicButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Topics
              </button>
                            <div class="dropdown-menu dd-btn" aria-labelledby="dropdownTopicButton">
                                <li><a (click)="ChangeTopic(-1)" class="dropdown-item pointer dropdownTopicItem">All Topics</a></li>
                                <li><a *ngFor="let item of Topics" class="dropdown-item pointer dropdownTopicItem" (click)="ChangeTopic(item.id)">{{item.TopicName}}</a></li>
                            </div>
                        </div>
                    </li>
                    <li class="m-b-10">
                        <div class="dropdown">
                            <button [disabled]="IsSubTopicDisable" class="btn btn-default dropdown-toggle bo-co-lig b-r-0 dd-sub-btn st-dd-tog" type="button" id="dropdownSubTopicButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          All SubTopics
        </button>
                            <div class="dropdown-menu dd-sub-btn" aria-labelledby="dropdownSubTopicButton">
                                <li><a class="dropdown-item pointer dropdownSubTopicItem" (click)="ChangeSubTopic(-1)">All SubTopics</a></li>
                                <li><a *ngFor="let item of SubTopics" class="dropdown-item pointer dropdownSubTopicItem" (click)="ChangeSubTopic(item.id)">{{item.SubTopicName}}</a>
                                </li>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="tab-content rounded-bottom m-t-20 div-left col-md-12" id="HistoryTabContent">
                <div *ngFor="let item of Subjects;index as i" [attr.class]="i==0?'tab-pane fade active show history-tbl':'tab-pane fade history-tbl'" [attr.id]="item.SubjectName.replace(' ','-') + '-classic'" role="tabpanel" [attr.aria-labelledby]="item.SubjectName.replace(' ','-') + '-tab-classic'">
                    <table class="table">
                        <tr class="bor-top">
                            <th></th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Subject</th>
                            <th>Topic</th>
                            <th>Subtopic</th>
                            <th>Watched on</th>
                        </tr>
                        <tr class="ve-al bor-bot pointer" *ngFor="let his of HistoryList" (click)="selectedTitle=his.title;selectedHistoryType=his.type;selectedHistoryDesc=his.desc;open(his);modalRoot.show()">
                            <td class="td-w-70">
                                <span *ngIf="his.type=='VIDEO'" class="playicon"></span>
                                <span *ngIf="his.type=='AUDIO'" class="micicon"></span>
                                <span *ngIf="his.type=='TEXT'" class="texticon"></span>
                            </td>
                            <td class="f-s-12">{{his.title}}</td>
                            <td class="f-s-12">{{his.desc}}</td>
                            <td class="f-s-12">{{his.subject}}</td>
                            <td class="f-s-12">{{his.topic}}</td>
                            <td class="f-s-12">{{his.subtopic}}</td>
                            <td class="f-s-12">{{his.timestamp_watched | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Classic tabs -->
        </div>
    </div>
    <div *ngIf="MaxPaginationSize > 1" class="pagination justify-content-center">
        <a class="f-s-30 pointer" (click)="Previous()"><img src="../../assets/images/recommendation_icons/arrow-point-to-right.png" /></a>
        <a *ngFor="let i of Pagination" [attr.id]="'Page-'+i" (click)="ChangePagination(i)" [attr.class]="i==1?'active m-t-10 pointer':'m-t-10 pointer'">{{i}}</a>
        <a class="f-s-30 icon-trasf pointer" (click)="Next()">
            <img src="../../assets/images/recommendation_icons/arrow-point-to-right.png" /></a>
    </div>
</div>
<app-modal #modalRoot [modalTitle]="selectedTitle" [modalType]="selectedHistoryType" [zIndex]="zIndex" [maximizable]="true">
    <ng-container class="app-modal-body">
        <div class="modal-fluid">
            <iframe class="e2e-iframe-trusted-src col-md-12 p-l-0 p-r-0 video-h-w" *ngIf="selectedHistoryType==='VIDEO'" [src]="modalContent" frameborder="0" allowfullscreen></iframe>
            <audio class="audio-width m-t-30" *ngIf="selectedHistoryType=='AUDIO'" controls="">
        <source [src]="modalContent" type="audio/wav">
      </audio>
            <div class="m-40" *ngIf="selectedHistoryType=='TEXT'" [innerHTML]="modalContent"></div>
            <p *ngIf="selectedHistoryType=='TEXT'" class="text-border-top"></p>
            <p *ngIf="selectedHistoryType!='VIDEO'" class="m-l-20 m-t-10">{{selectedHistoryDesc}}</p>
        </div>
    </ng-container>
</app-modal>
<app-loader *ngIf="showLoader"></app-loader>