.card-body {
  padding: 2.75rem;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar li {
  /* margin-left: 2em; */
  margin-left: 1em;
}

.dd-sub-btn {
  width: 220px !important;
  text-align: left
}

.tab-link-active {
  color: black !important;
  font-weight: 600 !important;
}

.tab-border-bottom {
  border-bottom: 2px solid #2e1cc4 !important;
}

.btn {
  margin: 0.55rem;
  height: calc(2.75em + .75rem + 2px);
  color: #2e1cc4;
}

.book-col {
  display: flex;
  flex-direction: column;
}

.img-responsive {
  margin: 2.10rem;
  margin-bottom: 1.05rem;
  margin-top: 0;
  /* margin: 18px; */
  height: 185px;
  width: 136px;
  border: aliceblue;
  border-radius: 0.35rem;
  cursor: pointer;
}

.text-responsive {
  /* margin-left: 15px; */
  text-align: center;
  /* margin-right: 15px; */
  width: 181px;
  word-wrap: break-word;
  font-size: 0.75rem;
}

.classic-tabs h4 {
  align-items: center;
}

.classic-tabs {
  display: flex;
  justify-content: flex-start;
}

.gallery {
  display: flex;
  justify-content: flex-start;
  /* margin-top: 15px; */
  margin-top: 2.25rem;
}

.navbar li:nth-child(1) {
  /* margin-left: 0% !important */
  margin-left: 1.05rem !important;
}

.modal-fluid {
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media (max-width :1366px) {
  .card-body {
    /* padding: 34px !important; */
    padding: 57px !important;
  }

  .text-responsive {
    width: 157px !important;
  }

  .img-responsive {
    margin: 12px !important;
  }
}

@media(max-width :1024px) {
  .text-responsive {
    width: 149px !important;
  }

  .img-responsive {
    margin: 11px !important;
  }

  .card-body {
    padding: 50px !important;
  }
}

@media(max-width:768px) {
  .card-body {
    /* padding: 50px !important; */
    padding: 81px !important;
  }
}
