<app-loader *ngIf="showLoader"></app-loader>
<div class="card shadow mb-4 card-padding"
  [ngClass]="{'border-bottom': user.role === UserRole.Teacher, 'border-bottom-indigo': user.role === UserRole.Student}">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
    <h6 class="m-0 font-weight-bold">Library</h6>
  </div>
  <div class="card-body" style="padding: 1.25rem !important">
    <div>
      <div class="row classic-tabs">
        <nav class="navbar navbar-default navbar-expand-sm">
          <ul class="nav navbar-nav">
            <li style="cursor:pointer" *ngFor="let subject of subjectsList" (click)="onChangeTab(subject)"><a
                class="nav-link"
                [ngClass]="{'tab-link-active tab-border-bottom': selectedSubject.SubjectName == subject.SubjectName}">{{subject.SubjectName}}</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- <div class="gallery">
      </div> -->
      <div class="row gallery">
        <!-- pdfSrc=book.source; -->
        <div class="book-col" *ngFor="let book of paginatedBookList">
          <img (click)="pdfSrc=book.source;selectedBookTitle =book.title;modalRoot.show()" [src]="book.thumbnail"
            class="img-responsive">
          <span class="f-w-6h text-responsive">{{book.title}}</span><br />
          <!-- <span class="f-s-12">{{book.desc}}</span> -->
        </div>
      </div>
      <div *ngIf="totalPage > 1" class="pagination justify-content-center">
        <a class="f-s-30 pointer" (click)="onPrevious()"><img
            src="../../assets/images/recommendation_icons/arrow-point-to-right.png" /></a>
        <a *ngFor="let i of Pagination" (click)="changePagination(i)" class="m-t-10 pointer"
          [ngClass]="{'active': CurrentPage == i}">{{i}}</a>
        <a class="f-s-30 icon-trasf pointer" (click)="onNext()">
          <img src="../../assets/images/recommendation_icons/arrow-point-to-right.png" /></a>
      </div>
    </div>
  </div>
</div>

<app-modal #modalRoot [modalTitle]="selectedBookTitle" [zIndex]="zIndex" [maximizable]="true">
  <ng-container class="app-modal-body">
    <div class="modal-fluid">
      <ngx-extended-pdf-viewer [src]="pdfSrc" [textLayer]="true" [useBrowserLocale]="true" [zoom]="'page-width'"
        [showSidebarButton]="true" [showBookmarkButton]="false" [showDownloadButton]="false" [showFindButton]="true"
        [showOpenFileButton]="false" [showPresentationModeButton]="false" [showPagingButtons]="true"
        [ignoreResponsiveCSS]="false" [height]="'90vh'">
      </ngx-extended-pdf-viewer>
      <!-- [customToolbar]="additionalButtons"  -->
      <!-- <ng-template #additionalButtons>
        <div id="toolbarViewer" style="background-color:darkblue">
          <div id="toolbarViewerLeft">
            <pdf-toggle-sidebar></pdf-toggle-sidebar>
            <div class="toolbarButtonSpacer"></div>
            <pdf-find-button [showFindButton]="true" [textLayer]="true"></pdf-find-button>
            <pdf-paging-area></pdf-paging-area>
          </div>
          <div id="toolbarViewerRight">
            <pdf-print></pdf-print>
            <pdf-download></pdf-download>
            <pdf-bookmark></pdf-bookmark>
            <div class="verticalToolbarSeparator hiddenSmallView"></div>
            <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
          </div>
          <pdf-zoom-toolbar></pdf-zoom-toolbar>
        </div>
      </ng-template> -->
    </div>
  </ng-container>
</app-modal>
<!-- <pdf-viewer class="book-pdf-viewer" [src]="pdfSrc"></pdf-viewer> -->