/* @import '../../../assets/css/style.css'; */

.classic-tabs h4 {
  align-items: center;
}

.classic-tabs {
  display: flex;
  justify-content: flex-start;
}

.result {
  display: flex;
  float: right;
}
@media (max-width:520px){
  .result{
    align-items: center;
    display: flex;
    justify-content: center;
    float: none;
}
}
@media (max-width:768px){
  .result{
    align-items: center;
    display: flex;
    justify-content: center;
    float: none;
}
}
.input {
  border: none;
  color: black;
  padding: 5px;
  border-radius: 0.5em;
  width: 90%;
}

.form-inline>input {
  display: none;
}

.heading {
  font-size: 20px;
  color: black !important;
  margin-bottom: 5px;
}

.clip-upload {
  margin-top: 5px;
  position: absolute;
}

.clip-upload>input {
  display: none;
}

.note {
  margin-bottom: 2em;
}

.calander {
  position: relative;
  margin-bottom: 1em;
  margin-left: 1em;
}

.select1 {
  width: 220px;
  height: 40px;
  border: 1px solid #999;
  font-size: 18px;
  color: #1c87c9;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
}

.card {
  padding: 1rem 0rem 0rem 0rem;
  margin-bottom: 2rem;
}

.recall {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 0rem 0rem; */
}

.panel-body {
  display: flex;
  margin-top: 2rem;
  text-align: center;
}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
  display: flex;
  flex-grow: 1;
  margin-right: 0px !important;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
}

.mat-expansion-panel-header {
  height: 100% !important;
}

.heading {
  font-size: 17px;
}

.number {
  font-size: 28px;
}

ul.pagination li a {
  color: black;
  float: left;
  text-decoration: none;
  height: 25px;
  width: 11px !important;
  margin-left: 1px;
  border: 0.1rem solid #8b878747;
}

ul.pagination li a.complexity-5 {
  background-color: #448c46;
  color: white;
}

ul.pagination li a.complexity-4 {
  background-color: #408b43;
  color: white;
}

ul.pagination li a.complexity-3 {
  background-color: #47984a;
  color: white;
}

ul.pagination li a.complexity-2 {
  background-color: #55b259;
  color: white;
}

ul.pagination li a.complexity-1 {
  background-color: #6edc73;
  color: white;
}

/* pagination  */
ul.pagination {
  display: inline-block;
  padding: 0;
  /* margin: 16px; */

}

/* pagination */
.pagination a {
  color: gray;
  float: left;
  padding: 1px 3px;
  text-decoration: none;
}


ul.pagination li {
  display: inline;

}

.footer {
  padding: 5px;
}

.pagination {
  margin: 0;
}

/* @media (max-width:576px) {
  .mat-expansion-panel-header {
    height: 149px !important;
  }
} */

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 215px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  /* border: 1px solid; */
}

.box1 {
  border-radius: 0.5em;
  margin-bottom: 2em;
  height: 250px;
}
 
#insights_div {
  min-width: 300px;
} 

#last_x_days_chart_class {
  display: inline-block;
  min-width: 30%;
  height: 300px;
  min-height: 300px;
  cursor: crosshair;
}

#last_test_distribution, #student_test_distribution {
  vertical-align: top;
  display: inline-block;
  min-width: 40%;
  height: 250px;
  min-height: 250px;
  cursor: pointer;
}
/deep/.mat-expansion-panel-header, /deep/.mat-expansion-panel-content{
  font-family: "Poppins", sans-serif !important;
}
