<app-loader *ngIf="showLoader"></app-loader>
<div class="card students-syllabus-performance shadow mb-4 border-bottom-indigo">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
    <h6 class="m-0 font-weight-bold">Recall Summary</h6>
  </div>
  <div class="container-fluid" *ngIf="teacherRole">
    <div class="row p-3">
      <div class="col-xl-6 col-lg-6">
        <div class="box1">

          <i class="fa fa-search pt-1" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          <input class="input" [(ngModel)]="searchGradeTerm" name="searchGrade" type="search"
            placeholder="Select Class">


          <div class="row circle-list">
            <div *ngFor="let grade of gradeList| myfilter:searchGradeTerm" [ngClass]="{active: grade.isActive === true}"
              class="pointer col rounded-circle border-0 thumb-img active justify-content-center"
              (click)="classSelection(grade)">
              <p [ngStyle]="{'margin-top': grade.isActive === false ? '11px' : '0px' }">
                {{grade.imgTitle}}</p>
              <i *ngIf="grade.isActive === true" class="fas fa-check"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="box1">
          <span><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="input" type="search" name="student" [(ngModel)]="searchStudentTerm"
              placeholder="Select Student">
          </span>
          <div class="row circle-list studentList">
            <div *ngFor="let student of studentList| myfilter:searchStudentTerm"
              [ngClass]="{active: student.isActive === true}"
              [ngStyle]="{'background-image': student.photo !== undefined && student.isActive === false ? 'url('+student.photo+')' :  'none'}"
              (click)="studentSelection(student)"
              class="pointer col rounded-circle border-0 thumb-img active justify-content-center">
              <p *ngIf="student.photo === undefined || student.isActive === true"
                [ngStyle]="{'margin-top': student.isActive === false ? '11px' : '0px' }">{{student.imgTitle}}</p>
              <i *ngIf="student.isActive === true" class="fas fa-check"></i>
              <p [ngStyle]="{'margin-top': student.photo !== undefined && student.isActive === false ? '77px' : student.isActive !== true && student.photo === undefined ? '30.5px':'26px'}"
                class="font-weight-lighter">{{student.firstName}} {{student.lastName}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div id="insights_div" class="pl-0 pr-0 text-center" [hidden]="!showInsights">
    Insights<br>
    <div id="last_x_days_chart_class" [hidden]="!showInsights"></div>
    <div id="last_test_distribution" [hidden]="!showInsights || showStudentInsights"></div>
    <div id="student_test_distribution" [hidden]="!showInsights || !showStudentInsights"></div>
  </div>

  <div class="container pl-0 pr-0">
    <div class="pb-4 text-center" *ngIf="teacherRole && selectedrecipientId && selectedrecipientId != ''">
      {{selectedrecepientName}}'s Recall Summary</div>

    <!-- <div class="card  border-right-indigo mt-2">
      <div class="row">
        <div class="col-md-6">
          <div class="classic-tabs">
            <nav class="navbar navbar-default navbar-expand-sm">
              <ul class="nav tabs-cyan m-b-10 tab-ul">
                <li style="cursor:pointer" *ngFor="let test of testList" (click)="onChangeTab(test)"><a
                    class="nav-link  waves-light show"
                    [ngClass]="{'tab-link-active tab-border-bottom': selectedTest == test}">{{test}}</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle bo-co-lig b-r-0 dd-sub-btn st-dd-tog" type="button"
              id="dropdownSubTopicButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{selectedSubject}}
            </button>
            <div class="dropdown-menu dd-sub-btn" aria-labelledby="dropdownSubTopicButton">
              <li *ngFor="let subject of subjectList" (click)="onSubjectChange(subject)"><a
                  class="dropdown-item pointer dropdownSubTopicItem">{{subject.subjectName}}</a>
              </li>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <input class="input" ngbDatepicker #d="ngbDatepicker" name="date" [ngModel]="newdate"
            [maxDate]="{year: newdate.getFullYear(), month: newdate.getMonth() + 1, day: newdate.getDate()}"
            (ngModelChange)="onDateChange($event)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calander" (click)="d.toggle()" type="button"><i
                class="fa fa-calculator" aria-hidden="true"></i>
              {{filterDate | date:'EEE - d LLL, y'}}</button>
          </div>
        </div>
      </div>
    </div> -->
    <mat-accordion *ngFor="let test of testResultList;let i = index">
      <mat-expansion-panel class="border-right-indigo" [disabled]="!test.submitted" [hideToggle]="!test.submitted">
        <mat-expansion-panel-header [collapsedHeight]="'83px'" [expandedHeight]="'83px'">
          <div class="container pl-0 pr-0" style="padding-top:1rem;">
            <div class="row recall">
              <div class="col-md-8">
                <div class="row col-md-12">
                  <p class="heading"> <span class="text-ellipsis">{{test.schoolSubjectName}}</span> >
                    <span *ngIf="test && test.topicName" class="text-ellipsis">{{test.topicName}}</span>
                    <span *ngIf="test && !test.topicName">All Topics</span> >
                    <span *ngIf="test && test.subtopicName" class="text-ellipsis">{{test.subtopicName}}</span>
                    <span *ngIf="test && !test.subtopicName">All SubTopics</span></p>
                </div>
                <div class="row col-md-12">
                  <p>{{getFormattedTime(test.createdAt)}}</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row recall col-md-12">
                  <p style="font-style: italic;">{{test.type}}</p>
                  <p *ngIf="test.submitted"><span class="number">{{test.marksSecured}}/</span>{{test.totalMarks}}</p>
                  <p *ngIf="!test.submitted" style="font-style: italic;">EXPIRED</p>
                  <p><span class="number">{{test.percentage}}%</span></p>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel-header>
        <div class="container">
          <div class="row panel-body">
            <div class="col-lg-3">
              <p class="heading">Questions Correct</p>
              <p class="pt-4"><span class="number">{{test.questionsCorrected}}</span>/{{test.totalQuestions}}</p>
            </div>
            <div class="col-lg-3">
              <p class="heading">Toughness</p>
              <ul class="pagination pt-4">
                <li><a [ngClass]="{'complexity-1': [1,2,3,4,5].includes(test?.complexity)}"></a></li>
                <li><a [ngClass]="{'complexity-2': [2,3,4,5].includes(test?.complexity)}"></a></li>
                <li><a [ngClass]="{'complexity-3': [3,4,5].includes(test?.complexity)}"></a></li>
                <li><a [ngClass]="{'complexity-4': [4,5].includes(test?.complexity)}"></a></li>
                <li><a [ngClass]="{'complexity-5': [5].includes(test?.complexity)}"></a></li>
              </ul>

            </div>
            <div class="col-lg-3">
              <p class="heading">Duration</p>
              <p class="pt-4"><span class="number">{{test.duration}}</span>mins</p>
            </div>
            <div class="col-lg-3 col-sm-12 col-xs-12">
              <div class="result pl-3 pt-3">
                <button type="button" class="btn btn-light" (click)="showTestResult(test)">View
                  Results</button>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <br>
    </mat-accordion>
  </div>
  <br>
</div>
