<div style="z-index:0" class="card shadow mb-4" [ngClass]="{'border-bottom': user.role === UserRole.Teacher, 'border-bottom-indigo': user.role === UserRole.Student}">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Notebook</h6>
        <div class="notebook-icons">
            <span class="notebookIcon pointer"><i class="fa fa-window-maximize"></i></span>
            <span class="notebookIcon pointer"><i class="fa fa-undo"></i></span>
            <span class="notebookIcon pointer"><i class="fa fa-redo"></i></span>
            <span class="notebookIcon pointer"><i class="fa fa-edit"></i></span>
            <span class="notebookIcon pointer"><i class="fa fa-save"></i></span>
            <span class="notebookIcon pointer"><i class="fa fa-question"></i></span>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="chart-area">
            <!-- (onBatchUpdate)="sendBatchUpdate($event)" EVENT FOR Drawing Pad -->
            <!-- <canvas-whiteboard #canvasWhiteboard [drawButtonClass]="'drawButtonClass'" [drawButtonText]="'Draw'" [clearButtonClass]="'clearButtonClass'" [clearButtonText]="'Clear'" [undoButtonText]="'Undo'" [undoButtonEnabled]="true" [redoButtonText]="'Redo'" [redoButtonEnabled]="true"
                [colorPickerEnabled]="true" [saveDataButtonEnabled]="true" [saveDataButtonText]="'Save'" [lineWidth]="5" [strokeColor]="'rgb(0,0,0)'" [shouldDownloadDrawing]="true" (onClear)="onCanvasClear($event)" (onUndo)="onCanvasUndo()" (onRedo)="onCanvasRedo()">
            </canvas-whiteboard> -->
            <canvas #classNotebook></canvas>

        </div>
    </div>
</div>
