.table {
    text-align: center;
    color: black;
}

.a li {
    list-style: none !important;
    float: left;
    margin: 1em;
}

.a p {
    margin-left: 37px;
    margin-top: -28px;
}

.dot {
    color:#EFEDFF;
}

.dot1 {
    color:#ff6666;
}

.dot2 {
    color:  #66d9ff;
}

.boxdotPresent {
    width: 31px;
    height: 31px;
    padding: 3.7px;
    background-color:#EFEDFF;
    display: -webkit-box;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    color:  black;
}

.boxdotAbsent {
    width: 31px;
    height: 31px;
    padding: 3.7px;
    background-color: #ff6666;
    display: -webkit-box;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    color:  black;
}

.boxdotHoliday {
    width: 31px;
    height: 31px;
    padding: 3.7px;
    background-color: #66d9ff;
    display: -webkit-box;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    color: black;
}

.btn {
    margin: 0.55rem;
    height: calc(2.75em + .75rem + 2px);
    color: indigo;
}

p {
    color: black !important;
}

.today {
    background-color: indigo;
    color: #fff;
    width: 155px;
}

.form-control {
    color: indigo;
    height: calc(2.75em + .75rem + 2px);
}

.center-content {
    display: flex;
    justify-content: center;
}
.table td, .table th {
    vertical-align: middle !important;
}