<div class="card shadow mb-4 border-bottom-indigo">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
        <h6 class="m-0 font-weight-bold">Attendance</h6>
    </div>
    <br>
    <div class="container">
        <div class="row center-content">
            <!-- <div class="col-md-3"></div> -->
            <div class="a">
                <li><i class="fa fa-circle dot fa-2x" aria-hidden="true"> </i>
                    <p> Present</p>
                </li>
                <li><i class="fa fa-circle dot1 fa-2x" aria-hidden="true"></i>
                    <p> Absent</p>
                </li>
                <li><i class="fa fa-circle dot2 fa-2x" aria-hidden="true"></i>
                    <p> Holiday</p>
                </li>
            </div>
            <!-- <div class="col-md-3"></div> -->
        </div>
        <div class="row center-content">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle bo-co-lig b-r-0 dd-sub-btn st-dd-tog" type="button" id="dropdownMonthButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedMonth}}
        </button>
                <div class="dropdown-menu dd-sub-btn" aria-labelledby="dropdownMonthButton">
                    <li *ngFor="let month of monthList">
                        <div *ngIf="(attendanceObj.year < currentYear) || (month.id <= currentMonth)" class="dropdown-item pointer dropdownSubTopicItem" (click)="onMonthChange(month)">{{month.name}}</div>
                    </li>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle bo-co-lig b-r-0 dd-sub-btn st-dd-tog" type="button" id="dropdownYearButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{attendanceObj.year}}
                </button>
                <div class="dropdown-menu dd-sub-btn" aria-labelledby="dropdownYearButton" >
                    <li *ngFor="let yr of yearList">
                        <div class="dropdown-item pointer dropdownSubTopicItem" *ngIf="yr.year <= currentYear" (click)="onYearChange(yr.year)">{{yr.year}}</div>
                    </li>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="table-responsive">
                <table class="table  table-bordered">
                    <!-- <table class="table "> -->
                    <thead>
                        <tr>
                            <th *ngFor="let day of dayList" [ngClass]="{'today': todayDay == day.id}">{{day.name}} <span *ngIf="todayDay == day.id"> &nbsp;-&nbsp;TODAY</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- (click)="showTooltip(data.type,mymodal)" -->
                        <tr *ngFor="let row of rowDateList">
                            <td *ngFor="let data of row">
                                <span [ngbTooltip]="data.type" triggers="click:blur" [ngClass]="{'boxdotPresent': data.type == 'Present','boxdotAbsent': data.type == 'Absent','boxdotHoliday': (data.type  &&data.type !='Present' && data.type !='Absent')}">
                  {{data.date}}</span>
                            </td>
                        </tr>
                    </tbody>
                    <!-- </table> -->
                </table>
            </div>
        </div>
    </div>
</div>