<!-- popup test -->
<div class="testpopup-template">
    <div class="testpopup">
        <div class="t-header pl-5 pr-5 pt-3 pb-3">
            <h6 class="t-header-title text-black">Push Test Configurations</h6>
            <button type="button" class="t-close" aria-label="Close" (click)="onCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="t-body pl-5 pr-5 pt-3 pb-3">
            <div class="row">
                <div class="col-12">
                    <h6 class="input-title text-black">Choose Topic</h6>
                </div>
                <div class="col-lg-4 mt-1 mb-1">
                    <angular2-multiselect [data]="subjectList" [(ngModel)]="selectedsubject" [settings]="subjectDropdownSettings" (onSelect)="onSubjectSelect($event)" (onDeSelect)="OnSubjectDeSelect($event)" ></angular2-multiselect>
                </div>
                <div class="col-lg-4 mt-1 mb-1">
                    <angular2-multiselect  [data]="topicList" [(ngModel)]="selectedtopic" [settings]="topicDropdownSettings" (onSelect)="onTopicSelect($event)" (onDeSelect)="OnTopicDeSelect($event)"></angular2-multiselect>
                </div>
                <div class="col-lg-4 mt-1 mb-1">
                    <angular2-multiselect [data]="subTopicList" [(ngModel)]="selectedSubTopic" [settings]="subTopicDropdownSettings" (onSelect)="onSubTopicSelect($event)" (onDeSelect)="OnSubTopicDeSelect($event)" ></angular2-multiselect>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h6 class="input-title text-black">Test Duration</h6>
                    <div class="custom-slider">
                        <ng5-slider [(ngModel)]="testDuration" [options]="{floor: 0,ceil: 120,step: 5}"></ng5-slider>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h6 class="input-title text-black">Number Of Questions</h6>
                    <div class="custom-slider">
                        <ng5-slider [(ngModel)]="numberofQuestions"  [options]="{floor: 1,ceil: 60}"></ng5-slider>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h6 class="input-title text-black">Type of Test</h6>
                    <angular2-multiselect [data]="testTypeList" [(ngModel)]="selectedTestType" [settings]="testTypeDropdownSettings" (onSelect)="onTestTypeSelect($event)" (onDeSelect)="OnTestTypeDeSelect($event)"></angular2-multiselect>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-6">
                    <h6 class="input-title text-black">Toughness Of Test</h6>
                    <div class="custom-slider">
                        <ng5-slider [(ngModel)]="toughnessOfTest" [options]="{floor: 1,ceil: 60}"></ng5-slider>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-4"></div>
                <button class="col-lg-4 push-test" (click)="pushTest()">Push Test</button>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
</div>
<!-- popup test -->