<div class="container p-3 bg-white shadow">
    <div class="row mb-3">
        <div class="col-4 p-3">
            Book thumbnail goes here
        </div>
        <div class="col-8 p-3">
            Book details go here
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="row m-1">
                <h4 class="col">List of topics</h4>
                <div class="col-md-auto">
                    <button class="btn btn-primary btn-sm" (click)="openModal(addTopic)">+ Add topic</button>
                </div>
            </div>
            <h3 *ngIf="topics.length===0">No topics yet</h3>

            <ngb-accordion>
                <ngb-panel *ngFor="let topic of topics; index as i" [title]="topic.title">
                    <ng-template ngbPanelContent>
                        <div class="row m-1">
                            <h6 class="col">List of sub-topics</h6>
                            <div class="col-md-auto">
                                <button class="btn btn-primary btn-sm" (click)="addSubTopic(i, addSubTopicModal)">+ Add
                                    sub-topic</button>
                            </div>
                        </div>
                        <div class="list-group">
                            <!-- TODO: Insert routerlink here -->
                            <a *ngFor="let subtopic of topic.subtopics"
                                [routerLink]="['/admin', 'questions', subtopic.id]"
                                class="list-group-item list-group-item-action" style="cursor: pointer">
                                {{ subtopic.title }}
                            </a>
                        </div>
                        <h6 *ngIf="topic.subtopics.length===0">No sub-topics yet</h6>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="col">
            &nbsp;
        </div>
    </div>
</div>

<ng-template #addTopic let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add a topic</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('add-topic-exit')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group m-3">
            <label for="add-topic" class="form">Topic name</label>
            <input type="text" id="add-topic" class="form-control" [(ngModel)]="newSubTopicName">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('add-topic-done')">Done</button>
    </div>
</ng-template>


<ng-template #addSubTopicModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add a sub-topic</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('add-sub-topic-exit')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group m-3">
            <label for="add-sub-topic" class="form">Sub-topic name</label>
            <input type="text" id="add-sub-topic" class="form-control" [(ngModel)]="newSubTopicName">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('add-sub-topic-done')">Done</button>
    </div>
</ng-template>