@import "../styles/resizable.css";

.ui-modal-overlay {
  display: none !important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.ui-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  outline: none;
  background-color: white;
  padding: 0;
  box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2), 0 .375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
  min-width: 16.25rem;
  min-height: 12.5rem;
  /* width: 31.25rem; */
  width: 43.25rem;
}

/* .ui-modal-header {
  position: relative;
  padding: .5rem 1rem;
  user-select: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
} */
.ui-modal-header {
  position: relative;
  padding: .5rem 1rem;
  user-select: none;
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap; */
  align-items: center;
  height: 49px;
  background-color: rgb(133, 133, 141);
  background-image: linear-gradient(to bottom, #d1cee9, #fff);
}

.ui-modal-body {
  position: relative;
  /* padding: .625rem 1rem; */
  max-height: calc(100vh - 12.5rem);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.image-icon {
  width: 1.75rem !important;
  margin-right: 10px;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
}

.ui-modal-footer {
  padding: 1rem;
}

.ui-titlebar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.ui-modal-title {
  font-size: 1.125rem;
}

/* .ui-controlbar {
  display: flex;
  align-items: center;
  background-color: inherit;
} */

.ui-controlbar {
  display: flex;
  justify-content: space-around;
  margin-left: 18rem;
  flex-direction: row;
  flex: auto;
}

.ui-icon {
  cursor: pointer;
  margin-left: .3em;
  font-size: 1.4rem;
}

.ui-icon:hover {
  opacity: 0.75;
}

.dragging {
  cursor: move;
  outline: 0;
  box-shadow: 0 .25rem .5rem rgba(102, 175, 233, .6), 0 .375rem 1.25rem rgba(0, 0, 0, .2);
  user-select: none;
}

.dt-icon-maximize {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .1em solid currentColor;
  border-top-width: .2em;
}

.dt-icon-normalize {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: inherit;
}

.dt-icon-normalize:before,
.dt-icon-normalize:after {
  content: "";
  position: absolute;
  width: .8em;
  height: .8em;
  border: .1em solid currentColor;
  background-color: inherit;
}

.dt-icon-normalize:before {
  top: 0;
  right: 0;
}

.dt-icon-normalize:after {
  bottom: 0;
  left: 0;
  border-top-width: .2em;
}

.dt-icon-close {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: transparent;
}

.dt-icon-close:before,
.dt-icon-close:after {
  content: "";
  position: absolute;
  width: 1.2em;
  height: .18em;
  top: 50%;
  left: 50%;
  background-color: currentColor;
}

.dt-icon-close:before {
  transform: translate(-50%, -50%) rotate(-225deg)
}

.dt-icon-close:after {
  transform: translate(-50%, -50%) rotate(225deg)
}

.ui-modal-header span {
  display: table-cell;
}
@media screen and (max-width: 540px) {
  .ui-modal {
    width: 22rem; 
  }
}