<div class="ui-modal-overlay" [ngStyle]="overlayStyles"></div>

<div class="ui-modal" tabindex="-1" role="dialog" #modalRoot appResizable [south]="true" [east]="true"
  [southEast]="true" (resizing)="onResize($event)" appDraggable [dragEventTarget]="dragEventTarget"
  [ngStyle]="dialogStyles" (mousedown)="moveOnTop()" (touchstart)="moveOnTop()">

  <div class="ui-modal-header main no-gutters" #modalHeader (mousedown)="initDrag($event)"
    (touchstart)="initDrag($event)">
    <div>
      <span class="m-0 font-weight-bold pop-up-font">{{modalTitle}}</span>
    </div>
    <div>
      <span><img class="image-icon" src="assets/images/Icons/maximize_icon2x.png" *ngIf="maximizable"
          (click)="toggleMaximize($event)"></span>
      <span><img class="image-icon" src="assets/images/Icons/cross_icon@2x.png" (click)="hide()"
          (mousedown)="onCloseIcon($event)" (touchstart)="onCloseIcon($event)"></span>
    </div>
  </div>
  <div class="ui-modal-body" id='modal' #modalBody>
    <ng-content select=".app-modal-body"></ng-content>
  </div>
  <!-- <div class="ui-modal-footer" #modalFooter>
    <ng-content select=".app-modal-footer"></ng-content>
  </div> -->

</div>
