<div class="card shadow mb-4 common-border-bottom">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
    <h6 class="m-0 font-weight-bold">Help/Feedback</h6>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 left-container">
        <form #helpForm="ngForm">
          <h6 class="headfont">Send us an Email</h6>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group required">
                <label class="control-label">First Name</label>
                <input type="text" class="form-control" name="firstname" required placeholder="First Name"
                  [(ngModel)]="helpFeedbackObj.first_name" pattern="[A-Za-z0-9]+" #firstName="ngModel" disabled>
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="errors">
                  <div *ngIf="firstName.errors && firstName.errors.required">
                    First Name is required.
                  </div>
                </div>
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="errors">
                  <div *ngIf="firstName.errors && !firstName.errors.required">
                    Invalid First Name.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group required">
                <label class="control-label">Last Name</label>
                <input type="text" pattern="[A-Za-z0-9]+" class="form-control" name="lastname" placeholder="Last Name"
                  [(ngModel)]="helpFeedbackObj.last_name" #lastName="ngModel" disabled>
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="errors">
                  <div *ngIf="lastName.errors && !lastName.errors.required">
                    Invalid Last Name.
                  </div>
                </div>
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="errors">
                  <div *ngIf="lastName.errors && lastName.errors.required">
                    Last Name is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end first row-->
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group required">
                <label class="control-label">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="helpFeedbackObj.email_id" required
                  placeholder="email@ziksuka.com" #Email="ngModel"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" disabled>
                <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="errors">
                  <div *ngIf="Email.errors && Email.errors.required">
                    Email is required.
                  </div>
                </div>
                <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="errors">
                  <div *ngIf="Email.errors && !Email.errors.required">
                    Invalid Email.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group required">
                <label class="control-label">Phone Number</label>
                <input type="text" pattern="^\d{10}$" name="number" [(ngModel)]="helpFeedbackObj.phone_number" required
                  #phoneNo="ngModel" class="form-control" placeholder="" (keypress)="numberOnly($event)">
                <div *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)" class="errors">
                  <div *ngIf="phoneNo.errors && phoneNo.errors.required">
                    Phone Number is required.
                  </div>
                </div>
                <div *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)" class="errors">
                  <div *ngIf="phoneNo.errors && !phoneNo.errors.required">
                    Invalid Phone Number.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end second row-->
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="control-label">Subject</label>
                <input type="text" class="form-control" name="sub" placeholder="Summary of the issue"
                  [(ngModel)]="helpFeedbackObj.subject">
              </div>
            </div>
          </div>
          <!--end third row-->
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group required">
                <label class="control-label">Message</label>
                <textarea class="form-control" rows="12" name="msg" type="text" [(ngModel)]="helpFeedbackObj.message"
                  required #txtMsg="ngModel"></textarea>
                <div *ngIf="txtMsg.invalid && (txtMsg.dirty || txtMsg.touched)" class="errors">
                  <div *ngIf="txtMsg.errors && txtMsg.errors.required">
                    Message is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!--end four row-->
            <div class="col-lg-12 submit">
              <button type="button" [disabled]="helpForm.invalid" class="submit-button btn pointer"
                (click)="onFormSubmit(helpForm)">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4 right-container">
        <h6 class="headfont">Our Contact information</h6>
        <div class="box">
          <p>Address:<br>
            Ziksuka,<br>
            Sector 48,<br>
            Gurgaon-122018, Haryana, India</p>
          <p>Phone: (+91) 7558404777</p>
          <p>Email: support@ziksuka.com</p>
        </div>
        <div class="box1">
          <h6>Follow us:</h6>
          <ul class="social-icons">
            <li><a class="facebook" target="_blank" href="https://facebook.com/zikSuka"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/company/ziksuka"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="twitter" target="_blank" href="https://twitter.com/suka_zik"><i class="fa fa-twitter"></i></a></li>
            <!-- <li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
