/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import '~katex/dist/katex.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

input[type="button"]:disabled,
input[type="submit"]:disabled,
button:disabled,
button[disabled] {
  opacity: 0.5 !important;
}

.common-border-bottom {
  border-bottom: 6px solid #2e1cc4 !important;
}

.box {
  padding: 2em;
  align-items: center;
  border-left: solid 4px #efedff !important;
  border-right: solid 4px #efedff !important;
  border-top: solid 4px #efedff !important;
}

.box1 {
  padding: 2em;
  align-items: center;
  border: solid 4px #efedff !important;
}

.box2 {
  padding: 2em;
  margin-top: 29px;
  border: solid 4px #efedff !important;
}

.border-light {
  border-color: #efedff !important;
}

.row-center-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.column-center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen {
  @import '../node_modules/bootstrap/scss/bootstrap';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.slick-track {
  margin-left: 20px !important;
  margin-right: 120px !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }
}

.preview-question-panel >  mat-dialog-container {
  padding: 0 !important;
}


