<app-loader *ngIf="showLoader"></app-loader>
<div class="student-attendence card row">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center mt-5">
        <h6 class="m-0 font-weight-bold text-primary">Student Attendence</h6>
    </div>
    <div class="card-body">
        <div class="row p-2 student-row" *ngFor="let student of studentsList; index as i">
            <div class="col-xl-1"></div>
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-2">
                <div class=" rounded-circle border-0 thumb-img justify-content-center" [ngStyle]="{'background-image': student.photo !== undefined ? 'url('+student.photo+')' :  'none'}">
                    <p *ngIf="student.photo === undefined"> {{student.imgTitle}}</p>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-4 pt-2">
                <p class="text-black">{{student.firstName}}</p>
                <p class="father-name">{{student.lastName}}</p>
            </div>
            <div class=" col-md-1 col-sm-4 pt-3">
                <div class="onoffswitch">
                    <input type="checkbox" [(ngModel)]="student.attendance" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{i}}">
                    <label class="onoffswitch-label" for="myonoffswitch{{i}}">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="col-xl-2 col-lg-1"></div>
        </div>
        <div class="row justify-content-center mt-4">
            <button class="col-lg-4 col-md-6 submit-btn" (click)="saveAttendence()">Submit</button>
        </div>
    </div>
</div>