<br/>
<!-- Content Row -->
<ng-container *ngIf="user.role===UserRole.Principal">
    <app-principal-dashboard-info></app-principal-dashboard-info>
    <br />
    <app-teacher-syllabus-performance></app-teacher-syllabus-performance>
    <br />
</ng-container>
<ng-container *ngIf="user.role===UserRole.Student">
    <app-feed></app-feed>
    <br />
</ng-container>
<ng-container *ngIf="user.role===UserRole.Teacher">
    <app-teacher-slots></app-teacher-slots>
    <br />
</ng-container>
<!-- Content Row -->
<ng-container *ngIf="user.role!==UserRole.Principal">
    <!-- <div *ngIf="user.role===UserRole.Student" class="col-xl-6 col-md-6">
        <app-performance></app-performance>
    </div> -->
    <app-notepad></app-notepad>
    <br />
</ng-container>
<!-- <ng-container *ngIf="user.role===UserRole.Teacher">
    <app-students-syllabus-performance></app-students-syllabus-performance>
    <br />
</ng-container> -->
<ng-container *ngIf="user.role===UserRole.Student">
    <app-recommendation-dashboard></app-recommendation-dashboard>
    <br />
</ng-container>
<ng-container *ngIf="user.role!==UserRole.Principal">
    <app-books-dashboard ></app-books-dashboard>
    <br />
</ng-container>