
.classroom {
  min-height: 500px;
  padding: 15px 25px;
}


#remoteVideo {
  min-height: 300px;
  min-width: 100%;
  max-width: 100%;
  background-color: white;
}


.classroom-notebook /deep/ .border-bottom {
  border-bottom: none !important;
}

/* .main-box {
  border: 1px solid black;
  padding: 1rem;
} */
.fa {
  color: black;
  justify-content: center;
  cursor: pointer;
}

.fa-red {
  color: red;
}

.fa-disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: none;
}

.class-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.classroom-notebook {
  width: 100%;
  border: 1px solid red;
}

.right-aligned {
  display: flex;
  float: right;
}

table ,th ,td {
  width: 100%;
}

td {
  text-align: right;
  padding: 1rem;
}

.btn {
  margin: 0.5rem;
}

.students-control {
  color: #0078d4;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
}

.students-control:hover {
  text-decoration: underline;
}


