<div class="card students-syllabus-performance shadow mb-4 border-bottom classroom">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
    <h6 class=" font-weight-bold text-center">Classroom - VII(A) - Mathematics</h6>
  </div>

    <ng-container *ngIf="requiredPermissionsAvailable">
      <!-- Whiteboard container for teacher -->
      <ng-container *ngIf="currentUserData.role===UserRole.Teacher">
        <div class="classroom-notebook" #teacherNotebook>
          <!-- <app-notebook></app-notebook> -->
          <canvas #classNotebook></canvas>
        </div>
        <div class="class-controls row center-content">
          <button type="button" class="btn btn-success" (click)="startClass()" [disabled]="startClassButtonDisabled">
            Start Class</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-success" (click)="endClass()" [disabled]="endClassButtonDisabled">
            End Class</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-success" (click)="muteAllStudents()" [disabled]="endClassButtonDisabled">
            Mute All Students</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-success" (click)="muteAudio()" [disabled]="audioMuted">
            Mute</button>  
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-danger" (click)="unmuteAudio()" [disabled]="!audioMuted">
            Unmute</button>  
        </div>
        <video id="localVideo" autoplay playsinline [srcObject]="localCanvas"></video>
        <div *ngFor="let student of students | keyvalue">
          {{student.value.peerInfo.name}}&nbsp;&nbsp;&nbsp;&nbsp;
          <video style="display:none" id="remoteVideo-{{student.value.peerInfo.uid}}" autoplay 
            playsinline [srcObject]="student.value.stream"></video> 
            <button type="button" class="btn btn-success" (click)="muteStudent(student.value.peerInfo.uid)" [disabled]="student.value.audioMuted">
              Mute</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger"  (click)="unmuteStudent(student.value.peerInfo.uid)" [disabled]="!student.value.audioMuted">
              Unmute</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" (click)="lowerHand(student.value.peerInfo.uid)" [disabled]="!student.value.handRaised">
              Lower Hand</button>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </ng-container>

      <ng-container *ngIf="currentUserData.role===UserRole.Student">
        <div class="classroom-notebook">
          <video id="remoteVideo" autoplay playsinline [srcObject]="remoteStream"></video>
        </div>
        <div *ngIf="!classStarted">The class has not started yet.</div>
        <div *ngIf="classDisconnected">You got disconnected from the class, retrying to connect.</div>
        <div *ngIf="classEnded">The class has ended.</div>
        <div class="class-controls row center-content">
          <button type="button" class="btn btn-success" (click)="joinClass()" [disabled]="joinClassButtonDisabled">
            Join Class</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-success" (click)="leaveClass()" [disabled]="leaveClassButtonDisabled">
            Leave Class</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-success" (click)="muteAudio()" [disabled]="audioMuted">
            Mute</button>  
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-success" (click)="raiseMyHand()" [disabled]="handRaised">
            Raise Hand</button>  
        </div>
        
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!requiredPermissionsAvailable">
        <br><br>
        <div style="text-align: center">Please provide required permissions for video/audio. Reload if already provided.</div>
        <br>
        <button type="button" class="btn btn-success" onclick="window.location.reload()">Reload</button>
    </ng-container>
</div>
