<app-loader *ngIf="showLoader"></app-loader>
<div class="card shadow mb-4 border-bottom classroom">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
        <h6 class=" font-weight-bold text-center">Classroom - 
            {{classroomDetails.schoolSubjectName}} ({{classroomDetails.schoolGradeName}} {{classroomDetails.sectionName}}) </h6><br>
    </div>
    <ng-container *ngIf="requiredPermissionsAvailable">
        <ng-container *ngIf="currentUserData.role===UserRole.Teacher">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row class-controls">
                            <div>
                                <button type="button" class="btn btn-primary" (click)="startClass()"
                                [disabled]="startClassButtonDisabled">Start Class</button>
                            </div>
                            <div>
                                <i *ngIf="endClassButtonDisabled" class="fa fa-2x fa-microphone fa-disabled"
                                title="Disabled" aria-hidden="true"></i>
                                <i *ngIf="startClassButtonDisabled && !audioMuted" class="fa fa-2x fa-microphone"
                                title="Mute" aria-hidden="true" (click)="muteAudio()"></i>
                                <i *ngIf="audioMuted" class="fa fa-2x fa-microphone-slash fa-red"
                                title="Unmute" aria-hidden="true" (click)="unmuteAudio()"></i>
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger" (click)="endClass()"
                                [disabled]="endClassButtonDisabled">End Class</button>
                            </div>
                        </div>
                        <div class="classroom-notebook">
                            <app-notepad #classNotebook></app-notepad>
                            <!-- <canvas #classNotebook></canvas> -->
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h6 class="text-center">Students Joined ({{students.size}})</h6>
                        <div *ngIf="startClassButtonDisabled" class="students-control right-aligned" (click)="lowerAllHands()">Lower All Hands</div>
                        <div *ngIf="startClassButtonDisabled" class="students-control" (click)="muteAllStudents()">Mute All </div>
                        &nbsp;<div *ngIf="startClassButtonDisabled" class="students-control" (click)="unmuteAllStudents()">Unmute All</div>
                        <div *ngFor="let student of getValues(students) | keysort">
                            <table>
                                <tr>
                                    <th>
                                        {{student.peerInfo.name}}
                                        <video style="display:none" id="remoteVideo-{{student.peerInfo.uid}}" autoplay 
            playsinline [srcObject]="student.stream"></video> 
                                    </th>
                                    <td>
                                        <i class="fa fa-lg fa-microphone" aria-hidden="true"
                                         (click)="muteStudent(student.peerInfo.uid)"
                                         *ngIf="!student.audioMuted"></i>
                                        <i class="fa fa-lg fa-microphone-slash fa-red" aria-hidden="true"
                                        (click)="unmuteStudent(student.peerInfo.uid)"
                                         *ngIf="student.audioMuted"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-lg fa-hand-paper-o fa-red" aria-hidden="true"
                                        (click)="lowerHand(student.peerInfo.uid)"
                                        *ngIf="student.handRaised"></i>
                                        <i class="fa fa-lg fa-hand-paper-o fa-disabled" aria-hidden="true"
                                        *ngIf="!student.handRaised"></i>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- Student classroom -->
        <ng-container *ngIf="currentUserData.role===UserRole.Student">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <span>Students Joined - {{students.size + 1}}</span>
                        <span class="right-aligned" *ngIf="teacher">Teacher - {{teacher.name}}</span>
                    </div>
                    <div class="col-lg-12">
                        <div class="row class-controls">
                            <div>
                                <button type="button" class="btn btn-primary" (click)="joinClass()"
                                [disabled]="joinClassButtonDisabled">Join Class</button>
                            </div>
                            <div *ngIf="!classEnded">
                                <i *ngIf="audioMuted" class="fa fa-2x fa-microphone-slash fa-disabled"
                                title="Disabled" aria-hidden="true"></i>
                                <i *ngIf="classStarted && !audioMuted" class="fa fa-2x fa-microphone"
                                title="Mute" aria-hidden="true" (click)="muteMyAudio()"></i>
                                
                                &nbsp; &nbsp;

                                <i *ngIf="leaveClassButtonDisabled || !classStarted" class="fa fa-2x fa-hand-paper-o fa-disabled"
                                title="Disabled" aria-hidden="true"></i>
                                <i *ngIf="classStarted && !handRaised" class="fa fa-2x fa-hand-paper-o"
                                title="Raise Your Hand" aria-hidden="true" (click)="raiseMyHand()"></i>
                                <i *ngIf="classStarted && handRaised" class="fa fa-2x fa-hand-paper-o fa-red"
                                title="Lower Your Hand" aria-hidden="true" (click)="lowerMyHand(false)"></i>
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger" (click)="leaveClass()"
                                [disabled]="leaveClassButtonDisabled">Leave Class</button>
                            </div>
                        </div>
                        <div *ngIf="!websocketConnection">Please join the class.</div>
                        <div *ngIf="websocketConnection && startClassButtonDisabled && !classStarted">The class has not started yet. Please wait, your teacher might join shortly.</div>
                        <div *ngIf="classDisconnected">You got disconnected from the class, retrying to connect.</div>
                        <div *ngIf="classEnded">The class has ended. Please close the window.</div>
                        
                        <div *ngIf="classStarted && !classDisconnected && !classEnded" class="classroom-notebook">
                            <video id="remoteVideo" autoplay playsinline [srcObject]="remoteStream"></video>
                        </div>
                        <div style="display:none" *ngFor="let student of students | keyvalue">
                            <table>
                                <tr>
                                    <th>
                                        {{student.value.peerInfo.name}}
                                        <video style="display:none" id="remoteVideo-{{student.value.peerInfo.uid}}" autoplay 
            playsinline [srcObject]="student.value.stream"></video> 
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!requiredPermissionsAvailable">
        <br><br>
        <div style="text-align: center">Please provide required permissions for video/audio. Reload if already provided.
        </div>
        <br>
        <button type="button" class="btn btn-success" onclick="window.location.reload()">Reload</button>
    </ng-container>

</div>