<div class="container bg-white shadow">
    <div class="row mb-3">
        <div class="col">
            <div class="form-check form-inline justify-content-center">
                <label class="m-2" for="bookName">Book name</label>
                <input type="text" class="form-control m-2" id="bookName" placeholder="Enter keywords"
                    [(ngModel)]="bookName">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="form-check form-inline justify-content-center">
                <label class="form-check-label m-2">Filter by:</label>
                <select class="form-control m-2" placeholder="Choose class" [(ngModel)]="class">
                    <option value="0">Choose class</option>
                    <option value="1">I</option>
                    <option value="2">II</option>
                    <option value="3">III</option>
                    <option value="4">IV</option>
                    <option value="5">V</option>
                    <option value="6">VI</option>
                    <option value="7">VII</option>
                    <option value="8">VIII</option>
                    <option value="9">IX</option>
                    <option value="10">X</option>
                    <option value="11">XI</option>
                    <option value="12">XII</option>
                </select>
                <input type="text" class="form-control m-2" placeholder="Enter subject" [(ngModel)]="subject">
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col">
            <div class="d-flex justify-content-center">
                <button class="btn btn-success" (click)="searchBooks()">Search Books</button>
            </div>
        </div>
    </div>
</div>