.form-group {
  display: block;
}
.example-chip-list {
  width: 100%;
}
/deep/ select.default-select {
  color: rgba(0, 0, 0, 0.25);
}

.red {
  font-size: 1.2em;
  color: red;
}

.heading-banner {
  display: flex;
  flex-direction: row;
}
.heading-banner .spacer {
  flex-basis: 0;
  flex-grow: 1;
}

.preview-fab {
  position: fixed;
  right: 7vw;
  bottom: 13vh;
  z-index: 500;
}
