<app-loader *ngIf="loadingTasks>0"></app-loader>
<button mat-fab color="primary" class="preview-fab" [disabled]="!questionType || (loading | async)" (click)="previewQuestion()"><mat-icon>play_arrow</mat-icon></button>
<div class="container p-3 shadow bg-white">
    <div class="row mb-3 p-3 heading-banner">
        <h2>
            {{ createNewQuestion===false ? 'Update question':'' }}
            {{ createNewQuestion===true ? 'Create new question':'' }}
            {{ createNewQuestion===null ? 'Loading. Please Wait':'' }}
        </h2>
        <div class="spacer"></div>
    </div>

    <div class="row mb-3 p-3 pl-5" *ngIf="createNewQuestion===true">
        <div>
            <b>Class:</b> {{ className }} <br>
            <b>Subject:</b> {{ subjectName }} <br>
            <b>Book:</b> {{ bookName }} <br>
            <b>Topic:</b> {{ topicName }} <br>
            <b>Subtopic:</b> {{ subTopicName }} <br>
        </div>
    </div>

    <div class="row mb-3 p-3" *ngIf="createNewQuestion===true && !subTopicId">
        <div class="form-inline justify-content-center">

            <select class="form-control m-1" [(ngModel)]="classField" (ngModelChange)="classFieldChanged()">
                <option [ngValue]="null" selected>Class</option>
                <option *ngFor="let opt of (classOptions | async)" [value]="opt.gradeId">{{ opt.gradeName }}</option>
            </select>

            <select class="form-control m-1" [(ngModel)]="subjectField" [disabled]="!classField"
                (ngModelChange)="subjectFieldChanged()">
                <option [ngValue]="null" selected>Subject</option>
                <option *ngFor="let opt of (subjectOptions | async)" [value]="opt.subjectId">{{ opt.subjectName }}
                </option>
            </select>

            <select class="form-control m-1" [(ngModel)]="bookField" [disabled]="!subjectField"
                (ngModelChange)="bookFieldChanged()">
                <option [ngValue]="null" selected>Book</option>
                <option *ngFor="let opt of (bookOptions | async)" [value]="opt.bookId">{{ opt.title }}</option>
            </select>

            <select class="form-control m-1" [(ngModel)]="topicField" [disabled]="!bookField"
                (ngModelChange)="topicFieldChanged()">
                <option [ngValue]="null" selected>Topic</option>
                <option *ngFor="let opt of (topicOptions | async)" [value]="opt.topicId">{{ opt.topicName }}</option>
            </select>

            <select class="form-control m-1" [(ngModel)]="subTopicId" [disabled]="!topicField">
                <option [ngValue]="null" selected>Subtopic</option>
                <option *ngFor="let opt of (subtopicOptions | async)" [value]="opt.subTopicId">{{ opt.subTopicName }}
                </option>
            </select>
        </div>
    </div>

    <div class="row mb-3 p-3" *ngIf="!(loading | async)">
        <div class="col-6">
            <div class="form-group">
                <label>Question Type</label>
                <select class="form-control" [(ngModel)]="questionType">
                    <option value="sco">Single Correct Options</option>
                    <option value="mco">Multiple Correct Options</option>
                    <option value="fill_in_the_blank">Fill in the blanks</option>
                    <option value="true_false">True/False</option>
                    <!-- <option value="descriptive">Descriptive</option> -->
                    <!-- <option value="match_the_following">Matching</option> -->
                </select>
            </div>
        </div>
    </div>

    <div class="row mb-3 p-3" id="sco-form" *ngIf="questionType==='sco'&& !(loading | async)">
        <div class="col">
            <div class="form-group">
                <label>Question (Plain Text) <span class="red">*</span></label>
                <textarea class="form-control" rows="4" [(ngModel)]="sco.question"></textarea>
            </div>

            <div class="form-group">
                <label>HTML for the question <span class="red">*</span></label>
                <textarea class="form-control" rows="4" [(ngModel)]="sco.question_html"></textarea>
            </div>

            <div class="row">
                <!-- <div class="form-group col-6">
                    <label>Language <span class="red">*</span></label>
                    <select class="form-control" [(ngModel)]="language" readonly disabled>
                        <option value="ENGLISH" selected>English</option>
                    </select>
                </div> -->
                <div class="col-6">
                    <div class="form-group">
                        <label># separated options string (press enter to apply)</label>
                        <input type="text" class="form-control" [(ngModel)]="hashStr" (keyup.enter)="applyHashStr()">
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Number of options <span class="red">*</span></label>
                    <select class="form-control" [(ngModel)]="sco.numOptions">
                        <option [ngValue]="2">2</option>
                        <option [ngValue]="3">3</option>
                        <option [ngValue]="4">4</option>
                        <option [ngValue]="5">5</option>
                        <option [ngValue]="6">6</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Option 1 <span class="red">*</span></label>
                        <textarea class="form-control" rows="2" [(ngModel)]="sco.options[0]"></textarea>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Option 2 <span class="red">*</span></label>
                        <textarea class="form-control" rows="2" [(ngModel)]="sco.options[1]"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group" *ngIf="sco.numOptions>2">
                        <label>Option 3 <span class="red">*</span></label>
                        <textarea class="form-control" rows="2" [(ngModel)]="sco.options[2]"></textarea>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group" *ngIf="sco.numOptions>3">
                        <label>Option 4 <span class="red">*</span></label>
                        <textarea class="form-control" rows="2" [(ngModel)]="sco.options[3]"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group" *ngIf="sco.numOptions>4">
                        <label>Option 5 <span class="red">*</span></label>
                        <textarea class="form-control" rows="2" [(ngModel)]="sco.options[4]"></textarea>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group" *ngIf="sco.numOptions>5">
                        <label>Option 6 <span class="red">*</span></label>
                        <textarea class="form-control" rows="2" [(ngModel)]="sco.options[5]"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Correct Answer <span class="red">*</span></label>
                        <select class="form-control" [(ngModel)]="sco.correct_answer">
                            <option *ngFor="let a of [].constructor(sco.numOptions); let i = index" [value]="i+1">
                                {{i+1}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <label>Score <span class="red">*</span></label>
                    <select class="form-control" [(ngModel)]="sco.score">
                        <option [ngValue]="1">1 - Very Easy</option>
                        <option [ngValue]="2">2 - Easy</option>
                        <option [ngValue]="3">3 - Medium</option>
                        <option [ngValue]="4">4 - Hard</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>HTML for the explanation</label>
                <textarea class="form-control" rows="3" [(ngModel)]="sco.explanation"></textarea>
            </div>

            <div class="row">
                <div class="col-3">
                    <label>Sense</label>
                    <select class="form-control" [(ngModel)]="sco.scene">
                        <option *ngFor="let o of sceneOptions" [value]="o.value">{{ o.label }}</option>
                    </select>
                </div>
                <div class="col-3">
                    <label>Scenario</label>
                    <select class="form-control" [(ngModel)]="sco.scenario">
                        <option *ngFor="let o of scenarioOptions" [value]="o.value">{{ o.label }}</option>
                    </select>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #scoTagList>
                            <mat-chip *ngFor="let tag of sco.tags" [removable]="true" (removed)="removeTag(tag, 'sco')">
                                {{tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="List of tags" [matChipInputFor]="scoTagList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                                (matChipInputTokenEnd)="addTag($event, 'sco')">
                        </mat-chip-list>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 p-3" id="mco-form" *ngIf="questionType==='mco'&& !(loading | async)">
        <div class="col">
            <div class="form-group">
                <label>Question (Plain Text) <span class="red">*</span></label>
                <textarea class="form-control" rows="4" [(ngModel)]="mco.question"></textarea>
            </div>

            <div class="form-group">
                <label>HTML for the question <span class="red">*</span></label>
                <textarea class="form-control" rows="4" [(ngModel)]="mco.question_html"></textarea>
            </div>
            <div class="row">
                <!-- <div class="col-6">
                    <label>Language</label>
                    <select class="form-control" [(ngModel)]="language" readonly disabled>
                        <option value="ENGLISH" selected>English</option>
                    </select>
                </div> -->
                <div class="col-6">
                    <div class="form-group">
                        <label># separated options string (press enter to apply)</label>
                        <input type="text" class="form-control" [(ngModel)]="hashStr" (keyup.enter)="applyHashStr()">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Number of options <span class="red">*</span></label>
                        <select class="form-control" [(ngModel)]="mco.numOptions">
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Option 1 <span class="red">*</span></label>
                        <textarea class="form-control" rows="2" [(ngModel)]="mco.options[0]"></textarea>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Option 2 <span class="red">*</span></label>
                        <textarea class="form-control" rows="2" [(ngModel)]="mco.options[1]"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group" *ngIf="mco.numOptions>2">
                        <label>Option 3 <span class="red">*</span></label>
                        <textarea class="form-control" rows="2" [(ngModel)]="mco.options[2]"></textarea>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group" *ngIf="mco.numOptions>3">
                        <label>Option 4 <span class="red">*</span></label>
                        <textarea class="form-control" rows="2" [(ngModel)]="mco.options[3]"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group" *ngIf="mco.numOptions>4">
                        <label>Option 5 <span class="red">*</span></label>
                        <textarea class="form-control" rows="2" [(ngModel)]="mco.options[4]"></textarea>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group" *ngIf="mco.numOptions>5">
                        <label>Option 6 <span class="red">*</span></label>
                        <textarea class="form-control" rows="2" [(ngModel)]="mco.options[5]"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <!-- <div class="form-group">
                        <label>Correct answer</label>
                        <select multiple class="form-control" [(ngModel)]="mco.options">
                            <option *ngFor="let e of [].constructor(mco.numOptions); let i = index" [ngValue]="i+1">
                                {{ i+1 }} </option>
                        </select>
                        <small class="text-muted">If on PC, hold down CTRL to select multiple options</small>
                    </div> -->
                    <label>Correct Answer(s) <span class="red">*</span></label>
                    <div class="form-group">
                        <div class="form-check form-check-inline"
                            *ngFor="let e of [].constructor(+mco.numOptions); let i = index">
                            <input class="form-check-input" type="checkbox" [id]="'mcoCheckbox'+i"
                                [(ngModel)]="mco.correct_answer[i]">
                            <label class="form-check-label" for="'mcoCheckbox'+i">{{ i+1 }}</label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label>Score <span class="red">*</span></label>
                    <select class="form-control" [(ngModel)]="mco.score">
                        <option [ngValue]="1">1 - Very Easy</option>
                        <option [ngValue]="2">2 - Easy</option>
                        <option [ngValue]="3">3 - Medium</option>
                        <option [ngValue]="4">4 - Hard</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>HTML for the explanation</label>
                <textarea class="form-control" rows="3" [(ngModel)]="mco.explanation"></textarea>
            </div>

            <div class="row">
                <div class="col-3">
                    <label>Sense</label>
                    <select class="form-control" [(ngModel)]="mco.scene">
                        <option *ngFor="let o of sceneOptions" [value]="o.value">{{ o.label }}</option>
                    </select>
                </div>
                <div class="col-3">
                    <label>Scenario</label>
                    <select class="form-control" [(ngModel)]="mco.scenario">
                        <option *ngFor="let o of scenarioOptions" [value]="o.value">{{ o.label }}</option>
                    </select>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #mcoTagList>
                            <mat-chip *ngFor="let tag of mco.tags" [removable]="true" (removed)="removeTag(tag, 'mco')">
                                {{tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="List of tags" [matChipInputFor]="mcoTagList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                                (matChipInputTokenEnd)="addTag($event, 'mco')">
                        </mat-chip-list>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 p-3" id="true_false-form" *ngIf="questionType==='true_false'&& !(loading | async)">
        <div class="col">
            <div class="form-group">
                <label>Question (Plain Text) <span class="red">*</span></label>
                <textarea class="form-control" rows="4" [(ngModel)]="true_false.question"></textarea>
            </div>

            <div class="form-group">
                <label>HTML for the question <span class="red">*</span></label>
                <textarea class="form-control" rows="4" [(ngModel)]="true_false.question_html"></textarea>
            </div>
            <div class="row form-group" style="display:flex">
                <div class="col-6">
                    <label>Correct answer <span class="red">*</span></label>
                    <select class="form-control" [(ngModel)]="true_false.correct_answer">
                        <option value="">Choose option</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
                <div class="col-6">
                    <label>Score <span class="red">*</span></label>
                    <select class="form-control" [(ngModel)]="true_false.score">
                        <option [ngValue]="1">1 - Very Easy</option>
                        <option [ngValue]="2">2 - Easy</option>
                        <option [ngValue]="3">3 - Medium</option>
                        <option [ngValue]="4">4 - Hard</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <div class="form-group">
                        <label>HTML for the explanation</label>
                        <textarea class="form-control" rows="3" [(ngModel)]="true_false.explanation"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label>Sense</label>
                    <select class="form-control" [(ngModel)]="true_false.scene">
                        <option *ngFor="let o of sceneOptions" [value]="o.value">{{ o.label }}</option>
                    </select>
                </div>
                <div class="col-3">
                    <label>Scenario</label>
                    <select class="form-control" [(ngModel)]="true_false.scenario">
                        <option *ngFor="let o of scenarioOptions" [value]="o.value">{{ o.label }}</option>
                    </select>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #tfTagList>
                            <mat-chip *ngFor="let tag of true_false.tags" [removable]="true"
                                (removed)="removeTag(tag, 'true_false')">
                                {{tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="List of tags" [matChipInputFor]="tfTagList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                                (matChipInputTokenEnd)="addTag($event, 'true_false')">
                        </mat-chip-list>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 p-3" id="fill_in_the_blank-form"
        *ngIf="questionType==='fill_in_the_blank'&& !(loading | async)">
        <div class="col">
            <div class="form-group">
                <label>Question (Plain Text) <span class="red">*</span></label>
                <textarea class="form-control" rows="4" [(ngModel)]="fill_in_the_blank.question"></textarea>
            </div>

            <div class="form-group">
                <label>HTML for the question <span class="red">*</span></label>
                <textarea class="form-control" rows="4" [(ngModel)]="fill_in_the_blank.question_html"></textarea>
            </div>
            <div class="row form-group" style="display:flex">
                <div class="col-6">
                    <div class="form-group">
                        <label>Correct Answer <span class="red">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="fill_in_the_blank.correct_answer">
                    </div>
                </div>
                <div class="col-6">
                    <label>Score <span class="red">*</span></label>
                    <select class="form-control" [(ngModel)]="fill_in_the_blank.score">
                        <option [ngValue]="1">1 - Very Easy</option>
                        <option [ngValue]="2">2 - Easy</option>
                        <option [ngValue]="3">3 - Medium</option>
                        <option [ngValue]="4">4 - Hard</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <div class="form-group">
                        <label>HTML for the explanation</label>
                        <textarea class="form-control" rows="3" [(ngModel)]="fill_in_the_blank.explanation"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label>Sense</label>
                    <select class="form-control" [(ngModel)]="fill_in_the_blank.scene">
                        <option *ngFor="let o of sceneOptions" [value]="o.value">{{ o.label }}</option>
                    </select>
                </div>
                <div class="col-3">
                    <label>Scenario</label>
                    <select class="form-control" [(ngModel)]="fill_in_the_blank.scenario">
                        <option *ngFor="let o of scenarioOptions" [value]="o.value">{{ o.label }}</option>
                    </select>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #tfTagList>
                            <mat-chip *ngFor="let tag of fill_in_the_blank.tags" [removable]="true"
                                (removed)="removeTag(tag, 'fill_in_the_blank')">
                                {{tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="List of tags" [matChipInputFor]="tfTagList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                                (matChipInputTokenEnd)="addTag($event, 'fill_in_the_blank')">
                        </mat-chip-list>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 p-3">
        <div class="col">
            <button class="btn btn-success" (click)="updateOrCreateQuestion()" [disabled]="loading | async">
                {{ createNewQuestion===false ? 'Update question':'' }}
                {{ createNewQuestion===true ? 'Create new question':'' }}
                {{ createNewQuestion===null ? 'Loading. Please Wait':'' }}
            </button>
        </div>
    </div>
</div>